In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#def load_data():
global smart
global gas
global weather
df =pd.read_csv("/datc/opschaler/smartmeter_data/P01S01W0373.csv",header=0,delimiter=";",parse_dates=['Timestamp', 'gasTimestamp'])

# Split the smartmeter and gasmeter data
smart = df.iloc[:,:7]
gas = df.iloc[:, 7:]

In [3]:
#load_data()

# Change all datetime columns to the same column name
smart = smart.rename(index=str, columns={"Timestamp":"datetime"})
gas = gas.rename(index=str, columns={"gasTimestamp":"datetime"})

#df = df[['datetime', 'eMeter', 'eMeterLow', 'ePower', 'gasMeter', 'T', 'Q']]
#df = df[['datetime', 'eMeter', 'eMeterLow', 'ePower', 'gasMeter']]
smart.head()

# Set datetime as index
smart = smart.set_index(['datetime'])
gas = gas.set_index(['datetime'])

In [4]:
"""
Resample the dataframes to 10s intervals.
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.resample.html
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.interpolate.html#pandas.DataFrame.interpolate
"""
smart = smart.resample('10s').mean()
gas = gas.resample('H').mean() # Does not look nice, but it works

In [5]:
smart.head()

,eMeter,eMeterReturn,eMeterLow,eMeterLowReturn,ePower,ePowerReturn
datetime,,,,,,
2017-03-07 18:14:20,3717.472,0.0,3883.382,0.0,376.0,0.0
2017-03-07 18:14:30,3717.473,0.0,3883.382,0.0,381.0,0.0
2017-03-07 18:14:40,3717.474,0.0,3883.382,0.0,378.0,0.0
2017-03-07 18:14:50,3717.475,0.0,3883.382,0.0,376.0,0.0
2017-03-07 18:15:00,3717.476,0.0,3883.382,0.0,380.0,0.0

In [6]:
gas.head()

                     gasMeter
datetime
2017-03-07 18:00:00  1599.792
2017-03-07 19:00:00  1599.986
2017-03-07 20:00:00  1600.179
2017-03-07 21:00:00  1600.367
2017-03-07 22:00:00  1600.513

# Working with electricity dataframe

In [7]:
#First check how many nans are there
smart_nan=smart.isnull().any(axis=1)
print(smart[smart_nan].info())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2947 entries, 2017-03-07 18:16:10 to 2017-03-28 23:50:30
Data columns (total 6 columns):
eMeter             0 non-null float64
eMeterReturn       0 non-null float64
eMeterLow          0 non-null float64
eMeterLowReturn    0 non-null float64
ePower             0 non-null float64
ePowerReturn       0 non-null float64
dtypes: float64(6)
memory usage: 161.2 KB
None

In [8]:
smart.describe()

,eMeter,eMeterReturn,eMeterLow,eMeterLowReturn,ePower,ePowerReturn
count,180567.000000,180567.0,180567.000000,180567.0,180567.000000,180567.0
mean,3772.187364,0.0,3943.679690,0.0,459.004615,0.0
std,32.169904,0.0,36.106887,0.0,452.420914,0.0
min,3717.472000,0.0,3883.382000,0.0,238.000000,0.0
25%,3737.922000,0.0,3918.407500,0.0,319.000000,0.0
50%,3775.712000,0.0,3939.401000,0.0,351.000000,0.0
75%,3801.757500,0.0,3973.161000,0.0,414.000000,0.0
max,3830.551000,0.0,4004.212000,0.0,7765.000000,0.0

In [9]:
print(smart[smart_nan])

                     eMeter  eMeterReturn  eMeterLow  eMeterLowReturn  ePower  \
datetime
2017-03-07 18:16:10     NaN           NaN        NaN              NaN     NaN
2017-03-07 18:17:40     NaN           NaN        NaN              NaN     NaN
2017-03-07 18:46:00     NaN           NaN        NaN              NaN     NaN
2017-03-07 18:47:20     NaN           NaN        NaN              NaN     NaN
2017-03-07 19:17:10     NaN           NaN        NaN              NaN     NaN
2017-03-07 19:18:30     NaN           NaN        NaN              NaN     NaN
2017-03-07 19:48:10     NaN           NaN        NaN              NaN     NaN
2017-03-07 19:49:30     NaN           NaN        NaN              NaN     NaN
2017-03-07 20:18:00     NaN           NaN        NaN              NaN     NaN
2017-03-07 20:19:20     NaN           NaN        NaN              NaN     NaN
2017-03-07 20:49:10     NaN           NaN        NaN              NaN     NaN
2017-03-07 20:50:30     NaN           NaN        NaN              NaN     NaN
2017-03-07 21:18:50     NaN           NaN        NaN              NaN     NaN
2017-03-07 21:20:10     NaN           NaN        NaN              NaN     NaN
2017-03-07 21:48:40     NaN           NaN        NaN              NaN     NaN
2017-03-07 21:50:00     NaN           NaN        NaN              NaN     NaN
2017-03-07 21:51:20     NaN           NaN        NaN              NaN     NaN
2017-03-07 22:21:00     NaN           NaN        NaN              NaN     NaN
2017-03-07 22:22:20     NaN           NaN        NaN              NaN     NaN
2017-03-07 22:50:50     NaN           NaN        NaN              NaN     NaN
2017-03-07 22:52:10     NaN           NaN        NaN              NaN     NaN
2017-03-07 23:20:50     NaN           NaN        NaN              NaN     NaN
2017-03-07 23:22:10     NaN           NaN        NaN              NaN     NaN
2017-03-07 23:23:40     NaN           NaN        NaN              NaN     NaN
2017-03-07 23:52:40     NaN           NaN        NaN              NaN     NaN
2017-03-07 23:54:00     NaN           NaN        NaN              NaN     NaN
2017-03-07 23:55:30     NaN           NaN        NaN              NaN     NaN
2017-03-08 00:24:00     NaN           NaN        NaN              NaN     NaN
2017-03-08 00:25:20     NaN           NaN        NaN              NaN     NaN
2017-03-08 00:55:10     NaN           NaN        NaN              NaN     NaN
...                     ...           ...        ...              ...     ...
2017-03-28 17:12:00     NaN           NaN        NaN              NaN     NaN
2017-03-28 17:13:20     NaN           NaN        NaN              NaN     NaN
2017-03-28 17:43:00     NaN           NaN        NaN              NaN     NaN
2017-03-28 17:44:30     NaN           NaN        NaN              NaN     NaN
2017-03-28 18:14:10     NaN           NaN        NaN              NaN     NaN
2017-03-28 18:15:30     NaN           NaN        NaN              NaN     NaN
2017-03-28 18:43:50     NaN           NaN        NaN              NaN     NaN
2017-03-28 18:45:20     NaN           NaN        NaN              NaN     NaN
2017-03-28 19:13:40     NaN           NaN        NaN              NaN     NaN
2017-03-28 19:15:00     NaN           NaN        NaN              NaN     NaN
2017-03-28 19:16:20     NaN           NaN        NaN              NaN     NaN
2017-03-28 19:44:40     NaN           NaN        NaN              NaN     NaN
2017-03-28 19:46:00     NaN           NaN        NaN              NaN     NaN
2017-03-28 20:15:50     NaN           NaN        NaN              NaN     NaN
2017-03-28 20:17:10     NaN           NaN        NaN              NaN     NaN
2017-03-28 20:45:30     NaN           NaN        NaN              NaN     NaN
2017-03-28 20:46:50     NaN           NaN        NaN              NaN     NaN
2017-03-28 21:15:10     NaN           NaN        NaN              NaN     NaN
2017-03-28 21:16:30     NaN           NaN        NaN              NaN     NaN
2017-03-28 21:18:00     NaN           NaN        NaN              NaN     NaN
2017-03-28 21:46:20     NaN           NaN        NaN              NaN     NaN
2017-03-28 21:47:40     NaN           NaN        NaN              NaN     NaN
2017-03-28 22:16:10     NaN           NaN        NaN              NaN     NaN
2017-03-28 22:17:30     NaN           NaN        NaN              NaN     NaN
2017-03-28 22:47:10     NaN           NaN        NaN              NaN     NaN
2017-03-28 22:48:30     NaN           NaN        NaN              NaN     NaN
2017-03-28 23:18:40     NaN           NaN        NaN              NaN     NaN
2017-03-28 23:20:10     NaN           NaN        NaN              NaN     NaN
2017-03-28 23:49:10     NaN           NaN        NaN              NaN     NaN
2017-03-28 23:50:30     NaN           NaN        NaN              NaN     NaN

                     ePowerReturn
datetime
2017-03-07 18:16:10           NaN
2017-03-07 18:17:40           NaN
2017-03-07 18:46:00           NaN
2017-03-07 18:47:20           NaN
2017-03-07 19:17:10           NaN
2017-03-07 19:18:30           NaN
2017-03-07 19:48:10           NaN
2017-03-07 19:49:30           NaN
2017-03-07 20:18:00           NaN
2017-03-07 20:19:20           NaN
2017-03-07 20:49:10           NaN
2017-03-07 20:50:30           NaN
2017-03-07 21:18:50           NaN
2017-03-07 21:20:10           NaN
2017-03-07 21:48:40           NaN
2017-03-07 21:50:00           NaN
2017-03-07 21:51:20           NaN
2017-03-07 22:21:00           NaN
2017-03-07 22:22:20           NaN
2017-03-07 22:50:50           NaN
2017-03-07 22:52:10           NaN
2017-03-07 23:20:50           NaN
2017-03-07 23:22:10           NaN
2017-03-07 23:23:40           NaN
2017-03-07 23:52:40           NaN
2017-03-07 23:54:00           NaN
2017-03-07 23:55:30           NaN
2017-03-08 00:24:00           NaN
2017-03-08 00:25:20           NaN
2017-03-08 00:55:10           NaN
...                           ...
2017-03-28 17:12:00           NaN
2017-03-28 17:13:20           NaN
2017-03-28 17:43:00           NaN
2017-03-28 17:44:30           NaN
2017-03-28 18:14:10           NaN
2017-03-28 18:15:30           NaN
2017-03-28 18:43:50           NaN
2017-03-28 18:45:20           NaN
2017-03-28 19:13:40           NaN
2017-03-28 19:15:00           NaN
2017-03-28 19:16:20           NaN
2017-03-28 19:44:40           NaN
2017-03-28 19:46:00           NaN
2017-03-28 20:15:50           NaN
2017-03-28 20:17:10           NaN
2017-03-28 20:45:30           NaN
2017-03-28 20:46:50           NaN
2017-03-28 21:15:10           NaN
2017-03-28 21:16:30           NaN
2017-03-28 21:18:00           NaN
2017-03-28 21:46:20           NaN
2017-03-28 21:47:40           NaN
2017-03-28 22:16:10           NaN
2017-03-28 22:17:30           NaN
2017-03-28 22:47:10           NaN
2017-03-28 22:48:30           NaN
2017-03-28 23:18:40           NaN
2017-03-28 23:20:10           NaN
2017-03-28 23:49:10           NaN
2017-03-28 23:50:30           NaN

[2947 rows x 6 columns]

In [10]:
#Then just interpolate
#smart_final=smart.interpolate('time')
#print(smart_final)

In [11]:
#make ints from NaNs
smart_nan=smart_nan*1
#make a df where the number of consecutive NaNs in that electricity file are displayed
temp = pd.DataFrame()
temp['temp']=smart_nan.groupby((smart_nan != smart_nan.shift()).cumsum()).transform('size') * smart_nan
print(temp)

                     temp
datetime
2017-03-07 18:14:20     0
2017-03-07 18:14:30     0
2017-03-07 18:14:40     0
2017-03-07 18:14:50     0
2017-03-07 18:15:00     0
2017-03-07 18:15:10     0
2017-03-07 18:15:20     0
2017-03-07 18:15:30     0
2017-03-07 18:15:40     0
2017-03-07 18:15:50     0
2017-03-07 18:16:00     0
2017-03-07 18:16:10     1
2017-03-07 18:16:20     0
2017-03-07 18:16:30     0
2017-03-07 18:16:40     0
2017-03-07 18:16:50     0
2017-03-07 18:17:00     0
2017-03-07 18:17:10     0
2017-03-07 18:17:20     0
2017-03-07 18:17:30     0
2017-03-07 18:17:40     1
2017-03-07 18:17:50     0
2017-03-07 18:18:00     0
2017-03-07 18:18:10     0
2017-03-07 18:18:20     0
2017-03-07 18:18:30     0
2017-03-07 18:18:40     0
2017-03-07 18:18:50     0
2017-03-07 18:19:00     0
2017-03-07 18:19:10     0
...                   ...
2017-03-28 23:55:00     0
2017-03-28 23:55:10     0
2017-03-28 23:55:20     0
2017-03-28 23:55:30     0
2017-03-28 23:55:40     0
2017-03-28 23:55:50     0
2017-03-28 23:56:00     0
2017-03-28 23:56:10     0
2017-03-28 23:56:20     0
2017-03-28 23:56:30     0
2017-03-28 23:56:40     0
2017-03-28 23:56:50     0
2017-03-28 23:57:00     0
2017-03-28 23:57:10     0
2017-03-28 23:57:20     0
2017-03-28 23:57:30     0
2017-03-28 23:57:40     0
2017-03-28 23:57:50     0
2017-03-28 23:58:00     0
2017-03-28 23:58:10     0
2017-03-28 23:58:20     0
2017-03-28 23:58:30     0
2017-03-28 23:58:40     0
2017-03-28 23:58:50     0
2017-03-28 23:59:00     0
2017-03-28 23:59:10     0
2017-03-28 23:59:20     0
2017-03-28 23:59:30     0
2017-03-28 23:59:40     0
2017-03-28 23:59:50     0

[183514 rows x 1 columns]

In [12]:
temp.to_csv('~/temp.csv')

In [13]:
temp.describe()

                temp
count  183514.000000
mean        1.424965
std        22.504673
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max       360.000000

In [22]:
#These columns should be created in the end: column_names = ['House_ID','Amount_of_NaNs','Max_consecutive_NaNs', 'Interpolated','Days','File_size','Usable']
#Create a df to store max consecutive NaNs
info_data = pd.DataFrame()
tempstring = 'P0123423.csv'
initial_date_string= smart.index[0].strftime('%Y-%m-%d %H:%M:%S')
final_date_string= smart.index[-1].strftime('%Y-%m-%d %H:%M:%S')
NaN_count=smart.isnull().sum()[0]
info_data = info_data.append({'House_ID':tempstring,'Max_cons_NaNs':temp['temp'].max(),'Start_Date':initial_date_string,'Stop_Date':final_date_string,'Number_of_NaNs':NaN_count}, ignore_index=True)
print(info_data)

       House_ID  Max_cons_NaNs  Number_of_NaNs           Start_Date  \
0  P0123423.csv          360.0          2947.0  2017-03-07 18:14:20

             Stop_Date
0  2017-03-28 23:59:50

In [15]:
smart.isnull().sum()[0]

2947

In [16]:
#Delete rows with NaN in 'ePower' column
smart_final=smart.dropna(subset=['ePower'])
smart_final.isnull().sum()

eMeter             0
eMeterReturn       0
eMeterLow          0
eMeterLowReturn    0
ePower             0
ePowerReturn       0
dtype: int64

# Working with gas dataframe

In [17]:
#Inspect for NaNs
gas_nan=gas.isnull().any(axis=1)
print(gas[gas_nan])

                     gasMeter
datetime
2017-03-16 17:00:00       NaN
2017-03-26 02:00:00       NaN
2017-03-26 04:00:00       NaN

In [18]:
#Interpolate
gas_final = gas.resample('10s').interpolate(method='time')
# Create a ''gasPower'' column. This equals the gas used in that hour
gas_final['gasPower'] = gas_final['gasMeter'].diff()
# First entry is NaN, replace NaN by second entry
gas_final['gasPower'][0] = gas_final['gasPower'][1]
print(gas_final)

                        gasMeter  gasPower
datetime
2017-03-07 18:00:00  1599.792000  0.000539
2017-03-07 18:00:10  1599.792539  0.000539
2017-03-07 18:00:20  1599.793078  0.000539
2017-03-07 18:00:30  1599.793617  0.000539
2017-03-07 18:00:40  1599.794156  0.000539
2017-03-07 18:00:50  1599.794694  0.000539
2017-03-07 18:01:00  1599.795233  0.000539
2017-03-07 18:01:10  1599.795772  0.000539
2017-03-07 18:01:20  1599.796311  0.000539
2017-03-07 18:01:30  1599.796850  0.000539
2017-03-07 18:01:40  1599.797389  0.000539
2017-03-07 18:01:50  1599.797928  0.000539
2017-03-07 18:02:00  1599.798467  0.000539
2017-03-07 18:02:10  1599.799006  0.000539
2017-03-07 18:02:20  1599.799544  0.000539
2017-03-07 18:02:30  1599.800083  0.000539
2017-03-07 18:02:40  1599.800622  0.000539
2017-03-07 18:02:50  1599.801161  0.000539
2017-03-07 18:03:00  1599.801700  0.000539
2017-03-07 18:03:10  1599.802239  0.000539
2017-03-07 18:03:20  1599.802778  0.000539
2017-03-07 18:03:30  1599.803317  0.000539
2017-03-07 18:03:40  1599.803856  0.000539
2017-03-07 18:03:50  1599.804394  0.000539
2017-03-07 18:04:00  1599.804933  0.000539
2017-03-07 18:04:10  1599.805472  0.000539
2017-03-07 18:04:20  1599.806011  0.000539
2017-03-07 18:04:30  1599.806550  0.000539
2017-03-07 18:04:40  1599.807089  0.000539
2017-03-07 18:04:50  1599.807628  0.000539
...                          ...       ...
2017-03-28 22:55:10  1651.931000  0.000000
2017-03-28 22:55:20  1651.931000  0.000000
2017-03-28 22:55:30  1651.931000  0.000000
2017-03-28 22:55:40  1651.931000  0.000000
2017-03-28 22:55:50  1651.931000  0.000000
2017-03-28 22:56:00  1651.931000  0.000000
2017-03-28 22:56:10  1651.931000  0.000000
2017-03-28 22:56:20  1651.931000  0.000000
2017-03-28 22:56:30  1651.931000  0.000000
2017-03-28 22:56:40  1651.931000  0.000000
2017-03-28 22:56:50  1651.931000  0.000000
2017-03-28 22:57:00  1651.931000  0.000000
2017-03-28 22:57:10  1651.931000  0.000000
2017-03-28 22:57:20  1651.931000  0.000000
2017-03-28 22:57:30  1651.931000  0.000000
2017-03-28 22:57:40  1651.931000  0.000000
2017-03-28 22:57:50  1651.931000  0.000000
2017-03-28 22:58:00  1651.931000  0.000000
2017-03-28 22:58:10  1651.931000  0.000000
2017-03-28 22:58:20  1651.931000  0.000000
2017-03-28 22:58:30  1651.931000  0.000000
2017-03-28 22:58:40  1651.931000  0.000000
2017-03-28 22:58:50  1651.931000  0.000000
2017-03-28 22:59:00  1651.931000  0.000000
2017-03-28 22:59:10  1651.931000  0.000000
2017-03-28 22:59:20  1651.931000  0.000000
2017-03-28 22:59:30  1651.931000  0.000000
2017-03-28 22:59:40  1651.931000  0.000000
2017-03-28 22:59:50  1651.931000  0.000000
2017-03-28 23:00:00  1651.931000  0.000000

[183241 rows x 2 columns]

In [19]:
#Fit datetimes
#gas_selected=gas_final.ix[smart_final.index[0]:gas_final.index[-1]]
#print(gas_selected)

In [20]:
# Gas datetime ends at 23:00:00 (at least in this specific file) and Electricity date time ends at 23:59:50 so
# when merging final DateTime will be 23:00:00
df = pd.merge(smart_final,gas_final,left_index=True, right_index=True)

In [21]:
print(df)

                        eMeter  eMeterReturn  eMeterLow  eMeterLowReturn  \
datetime
2017-03-07 18:14:20  3717.4720           0.0   3883.382              0.0
2017-03-07 18:14:30  3717.4730           0.0   3883.382              0.0
2017-03-07 18:14:40  3717.4740           0.0   3883.382              0.0
2017-03-07 18:14:50  3717.4750           0.0   3883.382              0.0
2017-03-07 18:15:00  3717.4760           0.0   3883.382              0.0
2017-03-07 18:15:10  3717.4770           0.0   3883.382              0.0
2017-03-07 18:15:20  3717.4780           0.0   3883.382              0.0
2017-03-07 18:15:30  3717.4790           0.0   3883.382              0.0
2017-03-07 18:15:40  3717.4800           0.0   3883.382              0.0
2017-03-07 18:15:50  3717.4810           0.0   3883.382              0.0
2017-03-07 18:16:00  3717.4820           0.0   3883.382              0.0
2017-03-07 18:16:20  3717.4840           0.0   3883.382              0.0
2017-03-07 18:16:30  3717.4850           0.0   3883.382              0.0
2017-03-07 18:16:40  3717.4865           0.0   3883.382              0.0
2017-03-07 18:16:50  3717.4880           0.0   3883.382              0.0
2017-03-07 18:17:00  3717.4890           0.0   3883.382              0.0
2017-03-07 18:17:10  3717.4900           0.0   3883.382              0.0
2017-03-07 18:17:20  3717.4910           0.0   3883.382              0.0
2017-03-07 18:17:30  3717.4920           0.0   3883.382              0.0
2017-03-07 18:17:50  3717.4930           0.0   3883.382              0.0
2017-03-07 18:18:00  3717.4940           0.0   3883.382              0.0
2017-03-07 18:18:10  3717.4950           0.0   3883.382              0.0
2017-03-07 18:18:20  3717.4960           0.0   3883.382              0.0
2017-03-07 18:18:30  3717.4970           0.0   3883.382              0.0
2017-03-07 18:18:40  3717.4980           0.0   3883.382              0.0
2017-03-07 18:18:50  3717.4990           0.0   3883.382              0.0
2017-03-07 18:19:00  3717.5010           0.0   3883.382              0.0
2017-03-07 18:19:10  3717.5020           0.0   3883.382              0.0
2017-03-07 18:19:20  3717.5030           0.0   3883.382              0.0
2017-03-07 18:19:30  3717.5040           0.0   3883.382              0.0
...                        ...           ...        ...              ...
2017-03-28 22:55:10  3830.5510           0.0   4003.750              0.0
2017-03-28 22:55:20  3830.5510           0.0   4003.751              0.0
2017-03-28 22:55:30  3830.5510           0.0   4003.752              0.0
2017-03-28 22:55:40  3830.5510           0.0   4003.754              0.0
2017-03-28 22:55:50  3830.5510           0.0   4003.755              0.0
2017-03-28 22:56:00  3830.5510           0.0   4003.756              0.0
2017-03-28 22:56:10  3830.5510           0.0   4003.758              0.0
2017-03-28 22:56:20  3830.5510           0.0   4003.759              0.0
2017-03-28 22:56:30  3830.5510           0.0   4003.760              0.0
2017-03-28 22:56:40  3830.5510           0.0   4003.761              0.0
2017-03-28 22:56:50  3830.5510           0.0   4003.763              0.0
2017-03-28 22:57:00  3830.5510           0.0   4003.764              0.0
2017-03-28 22:57:10  3830.5510           0.0   4003.765              0.0
2017-03-28 22:57:20  3830.5510           0.0   4003.767              0.0
2017-03-28 22:57:30  3830.5510           0.0   4003.768              0.0
2017-03-28 22:57:40  3830.5510           0.0   4003.769              0.0
2017-03-28 22:57:50  3830.5510           0.0   4003.770              0.0
2017-03-28 22:58:00  3830.5510           0.0   4003.772              0.0
2017-03-28 22:58:10  3830.5510           0.0   4003.773              0.0
2017-03-28 22:58:20  3830.5510           0.0   4003.774              0.0
2017-03-28 22:58:30  3830.5510           0.0   4003.775              0.0
2017-03-28 22:58:40  3830.5510           0.0   4003.777              0.0
2017-03-28 22:58:50  3830.5510           0.0   4003.778              0.0
2017-03-28 22:59:00  3830.5510           0.0   4003.779              0.0
2017-03-28 22:59:10  3830.5510           0.0   4003.781              0.0
2017-03-28 22:59:20  3830.5510           0.0   4003.782              0.0
2017-03-28 22:59:30  3830.5510           0.0   4003.783              0.0
2017-03-28 22:59:40  3830.5510           0.0   4003.784              0.0
2017-03-28 22:59:50  3830.5510           0.0   4003.786              0.0
2017-03-28 23:00:00  3830.5510           0.0   4003.787              0.0

                     ePower  ePowerReturn     gasMeter  gasPower
datetime
2017-03-07 18:14:20   376.0           0.0  1599.838344  0.000539
2017-03-07 18:14:30   381.0           0.0  1599.838883  0.000539
2017-03-07 18:14:40   378.0           0.0  1599.839422  0.000539
2017-03-07 18:14:50   376.0           0.0  1599.839961  0.000539
2017-03-07 18:15:00   380.0           0.0  1599.840500  0.000539
2017-03-07 18:15:10   379.0           0.0  1599.841039  0.000539
2017-03-07 18:15:20   382.0           0.0  1599.841578  0.000539
2017-03-07 18:15:30   380.0           0.0  1599.842117  0.000539
2017-03-07 18:15:40   376.0           0.0  1599.842656  0.000539
2017-03-07 18:15:50   380.0           0.0  1599.843194  0.000539
2017-03-07 18:16:00   380.0           0.0  1599.843733  0.000539
2017-03-07 18:16:20   379.0           0.0  1599.844811  0.000539
2017-03-07 18:16:30   378.0           0.0  1599.845350  0.000539
2017-03-07 18:16:40   378.0           0.0  1599.845889  0.000539
2017-03-07 18:16:50   381.0           0.0  1599.846428  0.000539
2017-03-07 18:17:00   380.0           0.0  1599.846967  0.000539
2017-03-07 18:17:10   378.0           0.0  1599.847506  0.000539
2017-03-07 18:17:20   381.0           0.0  1599.848044  0.000539
2017-03-07 18:17:30   381.0           0.0  1599.848583  0.000539
2017-03-07 18:17:50   375.0           0.0  1599.849661  0.000539
2017-03-07 18:18:00   376.0           0.0  1599.850200  0.000539
2017-03-07 18:18:10   379.0           0.0  1599.850739  0.000539
2017-03-07 18:18:20   375.0           0.0  1599.851278  0.000539
2017-03-07 18:18:30   382.0           0.0  1599.851817  0.000539
2017-03-07 18:18:40   379.0           0.0  1599.852356  0.000539
2017-03-07 18:18:50   377.0           0.0  1599.852894  0.000539
2017-03-07 18:19:00   379.0           0.0  1599.853433  0.000539
2017-03-07 18:19:10   375.0           0.0  1599.853972  0.000539
2017-03-07 18:19:20   380.0           0.0  1599.854511  0.000539
2017-03-07 18:19:30   376.0           0.0  1599.855050  0.000539
...                     ...           ...          ...       ...
2017-03-28 22:55:10   453.0           0.0  1651.931000  0.000000
2017-03-28 22:55:20   454.0           0.0  1651.931000  0.000000
2017-03-28 22:55:30   454.0           0.0  1651.931000  0.000000
2017-03-28 22:55:40   451.0           0.0  1651.931000  0.000000
2017-03-28 22:55:50   455.0           0.0  1651.931000  0.000000
2017-03-28 22:56:00   451.0           0.0  1651.931000  0.000000
2017-03-28 22:56:10   456.0           0.0  1651.931000  0.000000
2017-03-28 22:56:20   455.0           0.0  1651.931000  0.000000
2017-03-28 22:56:30   456.0           0.0  1651.931000  0.000000
2017-03-28 22:56:40   455.0           0.0  1651.931000  0.000000
2017-03-28 22:56:50   454.0           0.0  1651.931000  0.000000
2017-03-28 22:57:00   457.0           0.0  1651.931000  0.000000
2017-03-28 22:57:10   459.0           0.0  1651.931000  0.000000
2017-03-28 22:57:20   455.0           0.0  1651.931000  0.000000
2017-03-28 22:57:30   456.0           0.0  1651.931000  0.000000
2017-03-28 22:57:40   452.0           0.0  1651.931000  0.000000
2017-03-28 22:57:50   457.0           0.0  1651.931000  0.000000
2017-03-28 22:58:00   453.0           0.0  1651.931000  0.000000
2017-03-28 22:58:10   455.0           0.0  1651.931000  0.000000
2017-03-28 22:58:20   455.0           0.0  1651.931000  0.000000
2017-03-28 22:58:30   455.0           0.0  1651.931000  0.000000
2017-03-28 22:58:40   454.0           0.0  1651.931000  0.000000
2017-03-28 22:58:50   455.0           0.0  1651.931000  0.000000
2017-03-28 22:59:00   454.0           0.0  1651.931000  0.000000
2017-03-28 22:59:10   458.0           0.0  1651.931000  0.000000
2017-03-28 22:59:20   456.0           0.0  1651.931000  0.000000
2017-03-28 22:59:30   455.0           0.0  1651.931000  0.000000
2017-03-28 22:59:40   455.0           0.0  1651.931000  0.000000
2017-03-28 22:59:50   454.0           0.0  1651.931000  0.000000
2017-03-28 23:00:00   455.0           0.0  1651.931000  0.000000

[180212 rows x 8 columns]