In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
def load_data():
    global smart
    global gas
    global weather
    df =pd.read_csv("/datc/opschaler/smartmeter_data/P01S01W0373.csv",header=0,delimiter=";",parse_dates=['Timestamp', 'gasTimestamp'])

    # Split the smartmeter and gasmeter data
    smart = df.iloc[:,:7]
    gas = df.iloc[:, 7:]
    
    #Read in weather data
    weather_path = "//datc//opschaler//weather_data//20170101to20180101.txt"
    weather_column_names = ['STN','YYYYMMDD','HH','DD','FH','FF','FX','T','T10','TD','SQ','Q','DR','RH','P','VV','N','U','WW','IX','M','R','S','O','Y']

    weather = pd.read_csv(weather_path, delimiter=',', comment='#', names=weather_column_names, parse_dates=['YYYYMMDD', 'HH'])
    weather['T'] = weather['T']*0.1 # Convert temperature to celcius instead of 0.1 celcius
    weather['HH'] = weather['HH']+':00:00'
    weather['HH'] = weather['HH'].str.strip() # removes the blank spaces infront of the strings
    weather['HH'] = weather['HH'].str.replace('24:00:00', '23:59:59') # KNMI uses 24 for 00 hours.... to have to convert this for to_datetime to be able to work
    weather.loc[:,'datetime'] = pd.to_datetime(weather['YYYYMMDD'].astype(str)+' '+weather['HH'].astype(str)) #create datetime column

In [33]:
print(weather)

                             DD         FH    FF         FX         T    T10  \
datetime
2017-01-01 01:00:00  210.000000  50.000000  40.0  80.000000  2.000000
2017-01-01 01:00:10  209.972222  49.972222  40.0  79.944444  1.999722    NaN
2017-01-01 01:00:20  209.944444  49.944444  40.0  79.888889  1.999444    NaN
2017-01-01 01:00:30  209.916667  49.916667  40.0  79.833333  1.999167    NaN
2017-01-01 01:00:40  209.888889  49.888889  40.0  79.777778  1.998889    NaN
2017-01-01 01:00:50  209.861111  49.861111  40.0  79.722222  1.998611    NaN
2017-01-01 01:01:00  209.833333  49.833333  40.0  79.666667  1.998333    NaN
2017-01-01 01:01:10  209.805556  49.805556  40.0  79.611111  1.998056    NaN
2017-01-01 01:01:20  209.777778  49.777778  40.0  79.555556  1.997778    NaN
2017-01-01 01:01:30  209.750000  49.750000  40.0  79.500000  1.997500    NaN
2017-01-01 01:01:40  209.722222  49.722222  40.0  79.444444  1.997222    NaN
2017-01-01 01:01:50  209.694444  49.694444  40.0  79.388889  1.996944    NaN
2017-01-01 01:02:00  209.666667  49.666667  40.0  79.333333  1.996667    NaN
2017-01-01 01:02:10  209.638889  49.638889  40.0  79.277778  1.996389    NaN
2017-01-01 01:02:20  209.611111  49.611111  40.0  79.222222  1.996111    NaN
2017-01-01 01:02:30  209.583333  49.583333  40.0  79.166667  1.995833    NaN
2017-01-01 01:02:40  209.555556  49.555556  40.0  79.111111  1.995556    NaN
2017-01-01 01:02:50  209.527778  49.527778  40.0  79.055556  1.995278    NaN
2017-01-01 01:03:00  209.500000  49.500000  40.0  79.000000  1.995000    NaN
2017-01-01 01:03:10  209.472222  49.472222  40.0  78.944444  1.994722    NaN
2017-01-01 01:03:20  209.444444  49.444444  40.0  78.888889  1.994444    NaN
2017-01-01 01:03:30  209.416667  49.416667  40.0  78.833333  1.994167    NaN
2017-01-01 01:03:40  209.388889  49.388889  40.0  78.777778  1.993889    NaN
2017-01-01 01:03:50  209.361111  49.361111  40.0  78.722222  1.993611    NaN
2017-01-01 01:04:00  209.333333  49.333333  40.0  78.666667  1.993333    NaN
2017-01-01 01:04:10  209.305556  49.305556  40.0  78.611111  1.993056    NaN
2017-01-01 01:04:20  209.277778  49.277778  40.0  78.555556  1.992778    NaN
2017-01-01 01:04:30  209.250000  49.250000  40.0  78.500000  1.992500    NaN
2017-01-01 01:04:40  209.222222  49.222222  40.0  78.444444  1.992222    NaN
2017-01-01 01:04:50  209.194444  49.194444  40.0  78.388889  1.991944    NaN
...                         ...        ...   ...        ...       ...    ...
2018-01-01 23:55:00  250.000000  40.000000  40.0  60.000000  6.400000    NaN
2018-01-01 23:55:10  250.000000  40.000000  40.0  60.000000  6.400000    NaN
2018-01-01 23:55:20  250.000000  40.000000  40.0  60.000000  6.400000    NaN
2018-01-01 23:55:30  250.000000  40.000000  40.0  60.000000  6.400000    NaN
2018-01-01 23:55:40  250.000000  40.000000  40.0  60.000000  6.400000    NaN
2018-01-01 23:55:50  250.000000  40.000000  40.0  60.000000  6.400000    NaN
2018-01-01 23:56:00  250.000000  40.000000  40.0  60.000000  6.400000    NaN
2018-01-01 23:56:10  250.000000  40.000000  40.0  60.000000  6.400000    NaN
2018-01-01 23:56:20  250.000000  40.000000  40.0  60.000000  6.400000    NaN
2018-01-01 23:56:30  250.000000  40.000000  40.0  60.000000  6.400000    NaN
2018-01-01 23:56:40  250.000000  40.000000  40.0  60.000000  6.400000    NaN
2018-01-01 23:56:50  250.000000  40.000000  40.0  60.000000  6.400000    NaN
2018-01-01 23:57:00  250.000000  40.000000  40.0  60.000000  6.400000    NaN
2018-01-01 23:57:10  250.000000  40.000000  40.0  60.000000  6.400000    NaN
2018-01-01 23:57:20  250.000000  40.000000  40.0  60.000000  6.400000    NaN
2018-01-01 23:57:30  250.000000  40.000000  40.0  60.000000  6.400000    NaN
2018-01-01 23:57:40  250.000000  40.000000  40.0  60.000000  6.400000    NaN
2018-01-01 23:57:50  250.000000  40.000000  40.0  60.000000  6.400000    NaN
2018-01-01 23:58:00  250.000000  40.000000  40.0  60.000000  6.400000    NaN
2018-01-01 23:58:10  250.000000  40.000000  40.0  60.000000  6.400000    NaN
2018-01-01 23:58:20  250.000000  40.000000  40.0  60.000000  6.400000    NaN
2018-01-01 23:58:30  250.000000  40.000000  40.0  60.000000  6.400000    NaN
2018-01-01 23:58:40  250.000000  40.000000  40.0  60.000000  6.400000    NaN
2018-01-01 23:58:50  250.000000  40.000000  40.0  60.000000  6.400000    NaN
2018-01-01 23:59:00  250.000000  40.000000  40.0  60.000000  6.400000    NaN
2018-01-01 23:59:10  250.000000  40.000000  40.0  60.000000  6.400000    NaN
2018-01-01 23:59:20  250.000000  40.000000  40.0  60.000000  6.400000    NaN
2018-01-01 23:59:30  250.000000  40.000000  40.0  60.000000  6.400000    NaN
2018-01-01 23:59:40  250.000000  40.000000  40.0  60.000000  6.400000    NaN
2018-01-01 23:59:50  250.000000  40.000000  40.0  60.000000  6.400000    NaN

                            TD   SQ    Q   DR ...          VV      N     U  \
datetime                                      ...
2017-01-01 01:00:00  19.000000  0.0  0.0  0.0 ...    9.000000      9  98.0
2017-01-01 01:00:10  18.997222  0.0  0.0  0.0 ...    9.002778    NaN  98.0
2017-01-01 01:00:20  18.994444  0.0  0.0  0.0 ...    9.005556    NaN  98.0
2017-01-01 01:00:30  18.991667  0.0  0.0  0.0 ...    9.008333    NaN  98.0
2017-01-01 01:00:40  18.988889  0.0  0.0  0.0 ...    9.011111    NaN  98.0
2017-01-01 01:00:50  18.986111  0.0  0.0  0.0 ...    9.013889    NaN  98.0
2017-01-01 01:01:00  18.983333  0.0  0.0  0.0 ...    9.016667    NaN  98.0
2017-01-01 01:01:10  18.980556  0.0  0.0  0.0 ...    9.019444    NaN  98.0
2017-01-01 01:01:20  18.977778  0.0  0.0  0.0 ...    9.022222    NaN  98.0
2017-01-01 01:01:30  18.975000  0.0  0.0  0.0 ...    9.025000    NaN  98.0
2017-01-01 01:01:40  18.972222  0.0  0.0  0.0 ...    9.027778    NaN  98.0
2017-01-01 01:01:50  18.969444  0.0  0.0  0.0 ...    9.030556    NaN  98.0
2017-01-01 01:02:00  18.966667  0.0  0.0  0.0 ...    9.033333    NaN  98.0
2017-01-01 01:02:10  18.963889  0.0  0.0  0.0 ...    9.036111    NaN  98.0
2017-01-01 01:02:20  18.961111  0.0  0.0  0.0 ...    9.038889    NaN  98.0
2017-01-01 01:02:30  18.958333  0.0  0.0  0.0 ...    9.041667    NaN  98.0
2017-01-01 01:02:40  18.955556  0.0  0.0  0.0 ...    9.044444    NaN  98.0
2017-01-01 01:02:50  18.952778  0.0  0.0  0.0 ...    9.047222    NaN  98.0
2017-01-01 01:03:00  18.950000  0.0  0.0  0.0 ...    9.050000    NaN  98.0
2017-01-01 01:03:10  18.947222  0.0  0.0  0.0 ...    9.052778    NaN  98.0
2017-01-01 01:03:20  18.944444  0.0  0.0  0.0 ...    9.055556    NaN  98.0
2017-01-01 01:03:30  18.941667  0.0  0.0  0.0 ...    9.058333    NaN  98.0
2017-01-01 01:03:40  18.938889  0.0  0.0  0.0 ...    9.061111    NaN  98.0
2017-01-01 01:03:50  18.936111  0.0  0.0  0.0 ...    9.063889    NaN  98.0
2017-01-01 01:04:00  18.933333  0.0  0.0  0.0 ...    9.066667    NaN  98.0
2017-01-01 01:04:10  18.930556  0.0  0.0  0.0 ...    9.069444    NaN  98.0
2017-01-01 01:04:20  18.927778  0.0  0.0  0.0 ...    9.072222    NaN  98.0
2017-01-01 01:04:30  18.925000  0.0  0.0  0.0 ...    9.075000    NaN  98.0
2017-01-01 01:04:40  18.922222  0.0  0.0  0.0 ...    9.077778    NaN  98.0
2017-01-01 01:04:50  18.919444  0.0  0.0  0.0 ...    9.080556    NaN  98.0
...                        ...  ...  ...  ... ...         ...    ...   ...
2018-01-01 23:55:00  46.000000  0.0  0.0  0.0 ...   65.000000    NaN  88.0
2018-01-01 23:55:10  46.000000  0.0  0.0  0.0 ...   65.000000    NaN  88.0
2018-01-01 23:55:20  46.000000  0.0  0.0  0.0 ...   65.000000    NaN  88.0
2018-01-01 23:55:30  46.000000  0.0  0.0  0.0 ...   65.000000    NaN  88.0
2018-01-01 23:55:40  46.000000  0.0  0.0  0.0 ...   65.000000    NaN  88.0
2018-01-01 23:55:50  46.000000  0.0  0.0  0.0 ...   65.000000    NaN  88.0
2018-01-01 23:56:00  46.000000  0.0  0.0  0.0 ...   65.000000    NaN  88.0
2018-01-01 23:56:10  46.000000  0.0  0.0  0.0 ...   65.000000    NaN  88.0
2018-01-01 23:56:20  46.000000  0.0  0.0  0.0 ...   65.000000    NaN  88.0
2018-01-01 23:56:30  46.000000  0.0  0.0  0.0 ...   65.000000    NaN  88.0
2018-01-01 23:56:40  46.000000  0.0  0.0  0.0 ...   65.000000    NaN  88.0
2018-01-01 23:56:50  46.000000  0.0  0.0  0.0 ...   65.000000    NaN  88.0
2018-01-01 23:57:00  46.000000  0.0  0.0  0.0 ...   65.000000    NaN  88.0
2018-01-01 23:57:10  46.000000  0.0  0.0  0.0 ...   65.000000    NaN  88.0
2018-01-01 23:57:20  46.000000  0.0  0.0  0.0 ...   65.000000    NaN  88.0
2018-01-01 23:57:30  46.000000  0.0  0.0  0.0 ...   65.000000    NaN  88.0
2018-01-01 23:57:40  46.000000  0.0  0.0  0.0 ...   65.000000    NaN  88.0
2018-01-01 23:57:50  46.000000  0.0  0.0  0.0 ...   65.000000    NaN  88.0
2018-01-01 23:58:00  46.000000  0.0  0.0  0.0 ...   65.000000    NaN  88.0
2018-01-01 23:58:10  46.000000  0.0  0.0  0.0 ...   65.000000    NaN  88.0
2018-01-01 23:58:20  46.000000  0.0  0.0  0.0 ...   65.000000    NaN  88.0
2018-01-01 23:58:30  46.000000  0.0  0.0  0.0 ...   65.000000    NaN  88.0
2018-01-01 23:58:40  46.000000  0.0  0.0  0.0 ...   65.000000    NaN  88.0
2018-01-01 23:58:50  46.000000  0.0  0.0  0.0 ...   65.000000    NaN  88.0
2018-01-01 23:59:00  46.000000  0.0  0.0  0.0 ...   65.000000    NaN  88.0
2018-01-01 23:59:10  46.000000  0.0  0.0  0.0 ...   65.000000    NaN  88.0
2018-01-01 23:59:20  46.000000  0.0  0.0  0.0 ...   65.000000    NaN  88.0
2018-01-01 23:59:30  46.000000  0.0  0.0  0.0 ...   65.000000    NaN  88.0
2018-01-01 23:59:40  46.000000  0.0  0.0  0.0 ...   65.000000    NaN  88.0
2018-01-01 23:59:50  46.000000  0.0  0.0  0.0 ...   65.000000    NaN  88.0

                        WW   IX    M         R    S    O    Y
datetime
2017-01-01 01:00:00     32  7.0  1.0  1.000000  0.0  0.0  0.0
2017-01-01 01:00:10    NaN  7.0  1.0  0.997222  0.0  0.0  0.0
2017-01-01 01:00:20    NaN  7.0  1.0  0.994444  0.0  0.0  0.0
2017-01-01 01:00:30    NaN  7.0  1.0  0.991667  0.0  0.0  0.0
2017-01-01 01:00:40    NaN  7.0  1.0  0.988889  0.0  0.0  0.0
2017-01-01 01:00:50    NaN  7.0  1.0  0.986111  0.0  0.0  0.0
2017-01-01 01:01:00    NaN  7.0  1.0  0.983333  0.0  0.0  0.0
2017-01-01 01:01:10    NaN  7.0  1.0  0.980556  0.0  0.0  0.0
2017-01-01 01:01:20    NaN  7.0  1.0  0.977778  0.0  0.0  0.0
2017-01-01 01:01:30    NaN  7.0  1.0  0.975000  0.0  0.0  0.0
2017-01-01 01:01:40    NaN  7.0  1.0  0.972222  0.0  0.0  0.0
2017-01-01 01:01:50    NaN  7.0  1.0  0.969444  0.0  0.0  0.0
2017-01-01 01:02:00    NaN  7.0  1.0  0.966667  0.0  0.0  0.0
2017-01-01 01:02:10    NaN  7.0  1.0  0.963889  0.0  0.0  0.0
2017-01-01 01:02:20    NaN  7.0  1.0  0.961111  0.0  0.0  0.0
2017-01-01 01:02:30    NaN  7.0  1.0  0.958333  0.0  0.0  0.0
2017-01-01 01:02:40    NaN  7.0  1.0  0.955556  0.0  0.0  0.0
2017-01-01 01:02:50    NaN  7.0  1.0  0.952778  0.0  0.0  0.0
2017-01-01 01:03:00    NaN  7.0  1.0  0.950000  0.0  0.0  0.0
2017-01-01 01:03:10    NaN  7.0  1.0  0.947222  0.0  0.0  0.0
2017-01-01 01:03:20    NaN  7.0  1.0  0.944444  0.0  0.0  0.0
2017-01-01 01:03:30    NaN  7.0  1.0  0.941667  0.0  0.0  0.0
2017-01-01 01:03:40    NaN  7.0  1.0  0.938889  0.0  0.0  0.0
2017-01-01 01:03:50    NaN  7.0  1.0  0.936111  0.0  0.0  0.0
2017-01-01 01:04:00    NaN  7.0  1.0  0.933333  0.0  0.0  0.0
2017-01-01 01:04:10    NaN  7.0  1.0  0.930556  0.0  0.0  0.0
2017-01-01 01:04:20    NaN  7.0  1.0  0.927778  0.0  0.0  0.0
2017-01-01 01:04:30    NaN  7.0  1.0  0.925000  0.0  0.0  0.0
2017-01-01 01:04:40    NaN  7.0  1.0  0.922222  0.0  0.0  0.0
2017-01-01 01:04:50    NaN  7.0  1.0  0.919444  0.0  0.0  0.0
...                    ...  ...  ...       ...  ...  ...  ...
2018-01-01 23:55:00    NaN  7.0  0.0  1.000000  0.0  0.0  0.0
2018-01-01 23:55:10    NaN  7.0  0.0  1.000000  0.0  0.0  0.0
2018-01-01 23:55:20    NaN  7.0  0.0  1.000000  0.0  0.0  0.0
2018-01-01 23:55:30    NaN  7.0  0.0  1.000000  0.0  0.0  0.0
2018-01-01 23:55:40    NaN  7.0  0.0  1.000000  0.0  0.0  0.0
2018-01-01 23:55:50    NaN  7.0  0.0  1.000000  0.0  0.0  0.0
2018-01-01 23:56:00    NaN  7.0  0.0  1.000000  0.0  0.0  0.0
2018-01-01 23:56:10    NaN  7.0  0.0  1.000000  0.0  0.0  0.0
2018-01-01 23:56:20    NaN  7.0  0.0  1.000000  0.0  0.0  0.0
2018-01-01 23:56:30    NaN  7.0  0.0  1.000000  0.0  0.0  0.0
2018-01-01 23:56:40    NaN  7.0  0.0  1.000000  0.0  0.0  0.0
2018-01-01 23:56:50    NaN  7.0  0.0  1.000000  0.0  0.0  0.0
2018-01-01 23:57:00    NaN  7.0  0.0  1.000000  0.0  0.0  0.0
2018-01-01 23:57:10    NaN  7.0  0.0  1.000000  0.0  0.0  0.0
2018-01-01 23:57:20    NaN  7.0  0.0  1.000000  0.0  0.0  0.0
2018-01-01 23:57:30    NaN  7.0  0.0  1.000000  0.0  0.0  0.0
2018-01-01 23:57:40    NaN  7.0  0.0  1.000000  0.0  0.0  0.0
2018-01-01 23:57:50    NaN  7.0  0.0  1.000000  0.0  0.0  0.0
2018-01-01 23:58:00    NaN  7.0  0.0  1.000000  0.0  0.0  0.0
2018-01-01 23:58:10    NaN  7.0  0.0  1.000000  0.0  0.0  0.0
2018-01-01 23:58:20    NaN  7.0  0.0  1.000000  0.0  0.0  0.0
2018-01-01 23:58:30    NaN  7.0  0.0  1.000000  0.0  0.0  0.0
2018-01-01 23:58:40    NaN  7.0  0.0  1.000000  0.0  0.0  0.0
2018-01-01 23:58:50    NaN  7.0  0.0  1.000000  0.0  0.0  0.0
2018-01-01 23:59:00    NaN  7.0  0.0  1.000000  0.0  0.0  0.0
2018-01-01 23:59:10    NaN  7.0  0.0  1.000000  0.0  0.0  0.0
2018-01-01 23:59:20    NaN  7.0  0.0  1.000000  0.0  0.0  0.0
2018-01-01 23:59:30    NaN  7.0  0.0  1.000000  0.0  0.0  0.0
2018-01-01 23:59:40    NaN  7.0  0.0  1.000000  0.0  0.0  0.0
2018-01-01 23:59:50    NaN  7.0  0.0  1.000000  0.0  0.0  0.0

[3161880 rows x 22 columns]

In [3]:
"""
Problem: How to merge 3 frames with 3 different datetime's?
The format is the same, but they don't have ''exact'' matches with each other. 
i.e. 

"""
load_data()

# Change all datetime columns to the same column name
smart = smart.rename(index=str, columns={"Timestamp":"datetime"})
gas = gas.rename(index=str, columns={"gasTimestamp":"datetime"})


#df = df[['datetime', 'eMeter', 'eMeterLow', 'ePower', 'gasMeter', 'T', 'Q']]
#df = df[['datetime', 'eMeter', 'eMeterLow', 'ePower', 'gasMeter']]
smart.head()

del weather['STN'], weather['HH'], weather['YYYYMMDD']

# Set datetime as index
weather = weather.set_index(['datetime'])
smart = smart.set_index(['datetime'])
gas = gas.set_index(['datetime'])

In [4]:
"""
Resample the dataframes to 10s intervals.
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.resample.html
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.interpolate.html#pandas.DataFrame.interpolate
"""
weather = weather.resample('10s').interpolate(method='time')
smart = smart.resample('10s').mean()

# gas contains duplicates, they need to be removed
#gas = gas.drop_duplicates()
gas = gas.resample('H').mean() # Does not look nice, but it works

# Create a ''gasPower'' column. This equals the gas used in that hour
gas['gasPower'] = gas['gasMeter'].diff()
# First entry is NaN, replace NaN by second entry
gas['gasPower'][0] = gas['gasPower'][1]
gas = gas.resample('10s').interpolate(method='time')

In [5]:
df = pd.merge(smart, weather,left_index=True, right_index=True)
df = pd.merge(df, gas,left_index=True, right_index=True)
df.head()

,eMeter,eMeterReturn,eMeterLow,eMeterLowReturn,ePower,ePowerReturn,DD,FH,FF,FX,...,U,WW,IX,M,R,S,O,Y,gasMeter,gasPower
datetime,,,,,,,,,,,,,,,,,,,,,
2017-03-07 18:14:20,3717.472,0.0,3883.382,0.0,376.0,0.0,255.222222,30.0,32.388889,60.0,...,81.761111,NaN,5.0,0.0,0.0,0.0,0.0,0.0,1599.838344,0.194
2017-03-07 18:14:30,3717.473,0.0,3883.382,0.0,381.0,0.0,255.166667,30.0,32.416667,60.0,...,81.758333,NaN,5.0,0.0,0.0,0.0,0.0,0.0,1599.838883,0.194
2017-03-07 18:14:40,3717.474,0.0,3883.382,0.0,378.0,0.0,255.111111,30.0,32.444444,60.0,...,81.755556,NaN,5.0,0.0,0.0,0.0,0.0,0.0,1599.839422,0.194
2017-03-07 18:14:50,3717.475,0.0,3883.382,0.0,376.0,0.0,255.055556,30.0,32.472222,60.0,...,81.752778,NaN,5.0,0.0,0.0,0.0,0.0,0.0,1599.839961,0.194
2017-03-07 18:15:00,3717.476,0.0,3883.382,0.0,380.0,0.0,255.000000,30.0,32.500000,60.0,...,81.750000,NaN,5.0,0.0,0.0,0.0,0.0,0.0,1599.840500,0.194

In [8]:
df.dtypes

eMeter             float64
eMeterReturn       float64
eMeterLow          float64
eMeterLowReturn    float64
ePower             float64
ePowerReturn       float64
DD                 float64
FH                 float64
FF                 float64
FX                 float64
T                  float64
T10                 object
TD                 float64
SQ                 float64
Q                  float64
DR                 float64
RH                 float64
P                  float64
VV                 float64
N                   object
U                  float64
WW                  object
IX                 float64
M                  float64
R                  float64
S                  float64
O                  float64
Y                  float64
gasMeter           float64
gasPower           float64
dtype: object

In [31]:
print(df.T10)

datetime
2017-03-07 18:14:20      NaN
2017-03-07 18:14:30      NaN
2017-03-07 18:14:40      NaN
2017-03-07 18:14:50      NaN
2017-03-07 18:15:00      NaN
2017-03-07 18:15:10      NaN
2017-03-07 18:15:20      NaN
2017-03-07 18:15:30      NaN
2017-03-07 18:15:40      NaN
2017-03-07 18:15:50      NaN
2017-03-07 18:16:00      NaN
2017-03-07 18:16:10      NaN
2017-03-07 18:16:20      NaN
2017-03-07 18:16:30      NaN
2017-03-07 18:16:40      NaN
2017-03-07 18:16:50      NaN
2017-03-07 18:17:00      NaN
2017-03-07 18:17:10      NaN
2017-03-07 18:17:20      NaN
2017-03-07 18:17:30      NaN
2017-03-07 18:17:40      NaN
2017-03-07 18:17:50      NaN
2017-03-07 18:18:00      NaN
2017-03-07 18:18:10      NaN
2017-03-07 18:18:20      NaN
2017-03-07 18:18:30      NaN
2017-03-07 18:18:40      NaN
2017-03-07 18:18:50      NaN
2017-03-07 18:19:00      NaN
2017-03-07 18:19:10      NaN
                       ...
2017-03-28 22:55:10      NaN
2017-03-28 22:55:20      NaN
2017-03-28 22:55:30      NaN
2017-03-28 22:55:40      NaN
2017-03-28 22:55:50      NaN
2017-03-28 22:56:00      NaN
2017-03-28 22:56:10      NaN
2017-03-28 22:56:20      NaN
2017-03-28 22:56:30      NaN
2017-03-28 22:56:40      NaN
2017-03-28 22:56:50      NaN
2017-03-28 22:57:00      NaN
2017-03-28 22:57:10      NaN
2017-03-28 22:57:20      NaN
2017-03-28 22:57:30      NaN
2017-03-28 22:57:40      NaN
2017-03-28 22:57:50      NaN
2017-03-28 22:58:00      NaN
2017-03-28 22:58:10      NaN
2017-03-28 22:58:20      NaN
2017-03-28 22:58:30      NaN
2017-03-28 22:58:40      NaN
2017-03-28 22:58:50      NaN
2017-03-28 22:59:00      NaN
2017-03-28 22:59:10      NaN
2017-03-28 22:59:20      NaN
2017-03-28 22:59:30      NaN
2017-03-28 22:59:40      NaN
2017-03-28 22:59:50      NaN
2017-03-28 23:00:00
Freq: 10S, Name: T10, Length: 183155, dtype: object