# Imports

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import numpy as np
import dask.dataframe as dd

from tqdm import tqdm

mpl.style.use('default')
#%matplotlib notebook
%matplotlib inline

# Load data

In [6]:
"""
Lead the hour dataframe containing all dwellings with smartmeter & weather data.
"""
a = pd.read_csv('//datc//opschaler//combined_gas_smart_weather_dfs//processed/all_dwellings_combined_hour.csv', delimiter='\t', parse_dates=['datetime'])
a = a.set_index(['datetime'])

In [10]:
b = pd.read_csv('//datc//opschaler//honeywell_sensors_per_dwelling_combined//honeywell_all_dwellings_combined.csv', delimiter='\t', parse_dates=['datetime'])
b.head()

,datetime,Co2Value,Humidity,HumidityBathRoom,Presence,RoomTemp,VentilationLevel,dwelling
0,2017-01-04 00:00:00,1127.00,50.50,206.00,60.75,21.1450,NaN,P01S01W6595
1,2017-01-04 00:05:00,1151.50,50.50,206.25,60.50,21.1800,NaN,P01S01W6595
2,2017-01-04 00:10:00,1146.75,50.50,206.00,60.50,21.1625,NaN,P01S01W6595
3,2017-01-04 00:15:00,1129.25,50.00,206.25,60.50,21.1600,NaN,P01S01W6595
4,2017-01-04 00:20:00,1096.50,50.25,206.25,60.50,21.1275,NaN,P01S01W6595

  Living room Kitchen Bedroom 1 Bedroom 2
0      1dc018  1dc00e    1dc012    1dc010
1      1dc029  1dc011    1dc019    1dc01b
2      1dc02c  1dc015    1dc01f    1dc024
3      1dc036  1dc01c    1dc026    1dc025
4      1dc03c  1dc021    1dc031    1dc027

In [15]:
b

,datetime,Co2Value,Humidity,HumidityBathRoom,Presence,RoomTemp,VentilationLevel,dwelling
0,2017-01-04 00:00:00,1127.00,50.50,206.00,60.75,21.1450,NaN,P01S01W6595
1,2017-01-04 00:05:00,1151.50,50.50,206.25,60.50,21.1800,NaN,P01S01W6595
2,2017-01-04 00:10:00,1146.75,50.50,206.00,60.50,21.1625,NaN,P01S01W6595
3,2017-01-04 00:15:00,1129.25,50.00,206.25,60.50,21.1600,NaN,P01S01W6595
4,2017-01-04 00:20:00,1096.50,50.25,206.25,60.50,21.1275,NaN,P01S01W6595
5,2017-01-04 00:25:00,1091.00,50.25,206.00,60.50,21.1150,NaN,P01S01W6595
6,2017-01-04 00:30:00,1079.50,50.00,206.00,60.50,21.1075,NaN,P01S01W6595
7,2017-01-04 00:35:00,1077.00,50.00,206.00,60.50,21.0825,NaN,P01S01W6595
8,2017-01-04 00:40:00,1072.25,49.75,206.00,60.50,21.0725,NaN,P01S01W6595
9,2017-01-04 00:45:00,1057.75,49.50,206.00,60.50,21.0725,NaN,P01S01W6595
10,2017-01-04 00:50:00,1075.00,49.75,206.00,60.50,21.0725,NaN,P01S01W6595
11,2017-01-04 00:55:00,1054.50,49.50,206.00,60.50,21.0625,NaN,P01S01W6595
12,2017-01-04 01:00:00,1066.50,49.75,205.75,60.50,21.0275,NaN,P01S01W6595
13,2017-01-04 01:05:00,1036.00,49.50,206.00,60.50,21.0225,NaN,P01S01W6595
14,2017-01-04 01:10:00,1021.00,49.25,205.75,60.50,21.0150,NaN,P01S01W6595
15,2017-01-04 01:15:00,1027.75,49.50,205.75,60.50,21.0075,NaN,P01S01W6595
16,2017-01-04 01:20:00,1043.00,49.25,205.75,60.50,20.9900,NaN,P01S01W6595
17,2017-01-04 01:25:00,1010.00,49.50,205.75,60.50,20.9800,NaN,P01S01W6595
18,2017-01-04 01:30:00,1018.00,49.00,205.75,60.50,20.9750,NaN,P01S01W6595
19,2017-01-04 01:35:00,1009.75,49.50,205.75,60.50,20.9500,NaN,P01S01W6595
20,2017-01-04 01:40:00,997.75,49.00,206.00,60.50,20.9075,NaN,P01S01W6595
21,2017-01-04 01:45:00,992.00,49.25,205.75,60.50,20.9175,NaN,P01S01W6595
22,2017-01-04 01:50:00,986.00,49.00,205.75,60.50,20.9025,NaN,P01S01W6595
23,2017-01-04 01:55:00,980.50,49.00,205.75,60.50,20.9025,NaN,P01S01W6595
24,2017-01-04 02:00:00,975.25,49.00,205.75,60.50,20.8775,NaN,P01S01W6595
25,2017-01-04 02:05:00,979.50,49.00,206.00,60.50,20.8800,NaN,P01S01W6595
26,2017-01-04 02:10:00,965.00,49.00,205.75,60.50,20.8775,NaN,P01S01W6595
27,2017-01-04 02:15:00,965.25,49.00,205.75,60.50,20.8625,NaN,P01S01W6595
28,2017-01-04 02:20:00,961.25,48.75,205.75,60.50,20.8725,NaN,P01S01W6595
29,2017-01-04 02:25:00,955.25,49.25,205.75,60.50,20.8650,NaN,P01S01W6595
...,...,...,...,...,...,...,...,...
4305086,2017-12-13 21:25:00,525.00,34.00,NaN,0.00,21.9600,NaN,P01S02W6848
4305087,2017-12-13 21:30:00,526.00,33.00,NaN,0.00,21.9700,NaN,P01S02W6848
4305088,2017-12-13 21:35:00,523.00,34.00,NaN,0.00,21.9800,NaN,P01S02W6848
4305089,2017-12-13 21:40:00,525.00,34.00,NaN,0.00,21.9700,NaN,P01S02W6848
4305090,2017-12-13 21:45:00,524.00,33.00,NaN,0.00,21.9700,NaN,P01S02W6848
4305091,2017-12-13 21:50:00,517.00,34.00,NaN,0.00,21.9500,NaN,P01S02W6848
4305092,2017-12-13 21:55:00,514.00,33.00,NaN,0.00,21.9400,NaN,P01S02W6848
4305093,2017-12-13 22:00:00,518.00,34.00,NaN,0.00,22.0100,NaN,P01S02W6848
4305094,2017-12-13 22:05:00,514.00,34.00,NaN,0.00,21.9700,NaN,P01S02W6848
4305095,2017-12-13 22:10:00,516.00,34.00,NaN,0.00,21.9900,NaN,P01S02W6848
4305096,2017-12-13 22:15:00,511.00,33.00,NaN,0.00,21.9700,NaN,P01S02W6848
4305097,2017-12-13 22:20:00,504.00,34.00,NaN,0.00,21.9700,NaN,P01S02W6848
4305098,2017-12-13 22:25:00,499.00,33.00,NaN,0.00,21.9700,NaN,P01S02W6848
4305099,2017-12-13 22:30:00,492.00,33.00,NaN,0.00,21.9500,NaN,P01S02W6848
4305100,2017-12-13 22:35:00,487.00,33.00,NaN,0.00,21.9600,NaN,P01S02W6848
4305101,2017-12-13 22:40:00,481.00,33.00,NaN,0.00,21.9700,NaN,P01S02W6848
4305102,2017-12-13 22:45:00,476.00,33.00,NaN,0.00,21.9700,NaN,P01S02W6848
4305103,2017-12-13 22:50:00,474.00,33.00,NaN,0.00,22.0400,NaN,P01S02W6848
4305104,2017-12-13 22:55:00,470.00,33.00,NaN,0.00,22.0700,NaN,P01S02W6848
4305105,2017-12-13 23:00:00,470.00,33.00,NaN,0.00,22.0600,NaN,P01S02W6848
4305106,2017-12-13 23:05:00,467.00,33.00,NaN,0.00,22.0800,NaN,P01S02W6848
4305107,2017-12-13 23:10:00,464.00,33.00,NaN,0.00,22.0700,NaN,P01S02W6848
4305108,2017-12-13 23:15:00,466.00,33.00,NaN,0.00,21.9700,NaN,P01S02W6848
4305109,2017-12-13 23:20:00,466.00,33.00,NaN,0.00,21.9700,NaN,P01S02W6848
4305110,2017-12-13 23:25:00,462.00,33.00,NaN,0.00,21.8900,NaN,P01S02W6848
4305111,2017-12-13 23:30:00,458.00,33.00,NaN,0.00,21.9400,NaN,P01S02W6848
4305112,2017-12-13 23:35:00,460.00,33.00,NaN,0.00,21.9300,NaN,P01S02W6848
4305113,2017-12-13 23:40:00,462.00,33.00,NaN,0.00,21.8800,NaN,P01S02W6848
4305114,2017-12-13 23:45:00,458.00,33.00,NaN,0.00,21.8800,NaN,P01S02W6848
4305115,2017-12-13 23:50:00,457.00,33.00,NaN,0.00,21.7900,NaN,P01S02W6848