In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv("/datc/opschaler/combined_gas_smart_weather_dfs/processed/P01S01W8655_hour.csv",header=0,delimiter="\t",parse_dates = ['datetime'])
df = df.set_index(['datetime'])
df12h = df.resample('12H').mean()
df1day = df.resample('1D').mean()
df1week = df.resample('1W').mean()
df1month = df.resample('1M').mean()

In [6]:
corr = df.corr()
mask = np.zeros_like(df.corr())
mask[np.triu_indices_from(mask)] = True

fig, ax = plt.subplots(figsize=(25,25))

sns.heatmap(corr, mask=mask, square=False, cmap='RdYlGn', annot=True, ax=ax,
            cbar_kws={'label':'Pearson correlation coefficient [-]'})

plt.title('Correlation Matrix')
plt.xticks(rotation=90)
plt.yticks(rotation=0)
plt.savefig('sample.png', dpi=500)
plt.show()

,eMeter,eMeterReturn,eMeterLow,eMeterLowReturn,ePower,ePowerReturn,gasMeter,gasPower,DD,DR,...,P,Q,RG,SQ,T,T10,TD,U,VV,WW
datetime,,,,,,,,,,,,,,,,,,,,,
2017-04-24 12:00:00,780.126180,0.0,736.970327,0.0,425.912710,0.0,1592.684835,0.187256,266.836111,142.333333,...,1011.254166,184.347222,0.320833,0.308364,10.955556,11.359722,6.690278,75.138889,29418.194444,28.125000
2017-04-25 00:00:00,783.060130,0.0,738.004186,0.0,199.364787,0.0,1594.604543,0.193075,282.701250,76.500000,...,1007.390141,111.173611,0.152083,2.087033,5.940278,5.270417,2.563333,78.562500,35672.083333,34.891667
2017-04-25 12:00:00,786.536982,0.0,738.371852,0.0,532.000355,0.0,1596.558828,0.107168,288.659722,18.333333,...,1010.791669,341.263889,0.008333,5.922788,7.066667,7.476389,1.391667,67.250000,36565.277778,12.208333
2017-04-26 00:00:00,790.381317,0.0,739.494878,0.0,188.629803,0.0,1599.501617,0.395605,211.529307,78.000000,...,1011.573889,123.527778,0.205972,2.604058,4.342361,3.816389,2.493611,87.805556,33324.055556,20.427778
2017-04-26 12:00:00,793.318807,0.0,739.938497,0.0,538.254679,0.0,1603.202657,0.359172,311.109723,0.000000,...,1014.816672,329.555556,0.000000,5.576768,7.795833,7.830556,1.809722,66.013889,36825.000000,2.513889

In [ ]:
results = []
for i in range(len(df/24)):
    corr = df[(i*24+0):(i*24+24)].corr()
    results.append(corr[['gasPower']])

for d in range(len(results)):
    results[d] = results[d].T
    
frames = (results[:])
resultaat = pd.concat(frames)