In [15]:
"""
TODO: 
clean xlsx data?
concatenate xlsx data
concatenate csv data

seperate xlsx, csv or combined in one df?

ATTENTION!
'Batch 2-without pictures' is not yet included because the 'opnameformulier' is a pdf.

More info: https://campus.datacamp.com/courses/cleaning-data-in-python/combining-data-for-analysis?ex=4 whole chapter
"""

# Import necessary modules
import glob
import pandas as pd

# Write the pattern: pattern, ** means ''all sub dirs''
pattern_csv = 'data/**/**/*.csv'
pattern_xls = 'data/**/**/*.xls*'

# Save all file matches: csv_files
csv_files = glob.glob(pattern_csv)
xls_files = glob.glob(pattern_xls)

# Print the file names
print("Amount of csv files detected: %s" % len(csv_files))
print("Amount of xlsx files detected: %s" % len(xls_files))

Amount of csv files detected: 23094
Amount of xlsx files detected: 52

In [16]:
# Load the second file into a DataFrame: csv2
csv1 = pd.read_csv(csv_files[0])
xls1 = pd.read_excel(xls_files[0])

# Print the head of csv2
csv1.head()

                                 Timestamp;Device;Co2Value;RoomTemp;Humidity;HumidityBathRoom;VentilationLevel;Presence
11-3-2017 23:49:00;1DC063;533;19                                    54;38;255;255;1
11-3-2017 23:54:00;1DC063;534;19                                    54;38;255;255;0
11-3-2017 23:59:00;1DC063;544;19                                    57;38;255;255;0
12-3-2017 0:04:00;1DC063;566;19                                     63;38;255;255;1
12-3-2017 0:09:00;1DC063;569;19                                     58;37;255;255;0

In [10]:
"""
Will probably need multi indexing:

https://campus.datacamp.com/courses/merging-dataframes-with-pandas/concatenating-data?ex=9
"""

'\nWill probably need multi indexing:\n\nhttps://campus.datacamp.com/courses/merging-dataframes-with-pandas/concatenating-data?ex=9\n'

In [17]:
xls_files[0:5]

['data/Batch 2-without pictures/P01S02W4042/Opnameformulier P01S02W4042.xlsx',
 'data/Batch 1-without pictures/P01S01W6271/Opnameformulier P01S01W6271.xls',
 'data/Batch 1-without pictures/P01S01W7579/Opname formulier P01S01W7579.xls',
 'data/Batch 1-without pictures/P01S01W6959/opname formulier P01S01W6959.xlsm',
 'data/Batch 1-without pictures/P01S01W4313/opnameformulier P01S01W4313.xlsm']

"""
Concat files (=merge them in one df)
"""
frames=[]

for csv in csv_files:
    print(csv)
    df = pd.read_csv(csv)
    frames.append(df)

#csv_concat = pd.concat(frames)
#csv_concat.info(memory_usage='deep')

In [12]:
"""
Selecting the tables out of the excel file.
Saving it in format table_{table number}.
"""

'\nSelecting the tables out of the excel file.\nSaving it in format table_{table number}.\n'

In [20]:
# Need iloc for index based selection of rows and columns
table_1 = xls1.iloc[23:34,2:4]
table_1

,Unnamed: 2,Unnamed: 3
23,projectnaam,opschaler
24,kenmerk,P01S02W4042
25,adres,NaN
26,postcode + plaatsnaam,NaN
27,contactpersoon,NaN
28,eigendom,professionele verhuur (particulier)
29,inspecteur,Catherine Bahhady
30,datum woning bezoek,NaN
31,datum afronding opname,NaN
32,bron gebouwgegevens,waarneming
33,gebruik gelijkwaardigheids-/ kwaliteitsverklar...,ja

In [23]:
# TODO: Drop unselected 'soort woning' rows
table_2_1 = xls1.iloc[38:47,1:12]
table_2_1

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
38,NaN,woningtype,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,2,soort woning,woningtype,bouwjaar,renovatiejaar,bouwtype,type dak,voorzetgevel,breedte\ngebouw [m2],lengte\ngebouw [m],hoogte\ngebouw [m]
40,NaN,NaN,eengezinswoningen,NaN,NaN,bouwtype,type_dak,ja_nee,NaN,NaN,NaN
41,NaN,NaN,positie_meergezinswoningen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,O,eengezinswoning,vrijstaand,0,0,traditioneel zwaar,hellend,nee,nvt,nvt,nvt
44,X,appartement 1 woonlaag,tussen vloer,2007,0,traditioneel zwaar,plat,nee,0,0,0
45,O,appartement meer woonlagen,hoek midden,0,0,traditioneel zwaar,geen,nee,0,0,0
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
table_2_2 = xls1.iloc[48:54,1:9]
table_2_2

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
48,NaN,gebruiksoppervlakte per bouwlaag,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,gebruiksoppervlakte,1e bouwlaag [m2],2e bouwlaag [m2],3e bouwlaag [m2],4e bouwlaag [m2],overige bouwlagen [m2],totaal\n [m2]
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,NaN,per bouwlaag,109.085,0,0,0,0,109.085
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
table_3_1 = xls1.iloc[57:68,1:10]
table_3_1

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
57,NaN,vloer,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,NaN,naam\nbouwdeel,oppervlak\n[m2],perimeter\n[m],dikte\nisolatie,lucht\nspouw,begrenzing\n,thermo\nkussen,Rc waarde\n[m2K/W]
59,NaN,NaN,NaN,NaN,isolatie_vloer,spouw,grens_vloer,ja_nee,NaN
60,NaN,NaN,NaN,NaN,NaN,alleen bij:\n- geen isolatie\n- iso dikte onbe...,NaN,NaN,indien bekend
61,NaN,<naam>,0,0,onbekend,ja,kruipruimte,nee,0
62,NaN,<naam>,NaN,NaN,onbekend,ja,kruipruimte,nee,NaN
63,NaN,<naam>,NaN,NaN,onbekend,ja,kruipruimte,nee,NaN
64,NaN,<naam>,NaN,NaN,onbekend,ja,kruipruimte,nee,NaN
65,NaN,<naam>,NaN,NaN,onbekend,ja,kruipruimte,nee,NaN
66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,NaN,kruipruime (indien aanwezig),NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
table_3_2 = xls1.iloc[67:75,1:10]
table_3_2

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
67,NaN,kruipruime (indien aanwezig),NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,NaN,nr kruipruimte,bodem geïsoleerd,Rm bodem\n[m2K/W],nr kwaliteits verklaring,wanden geïsoleerd,Rm wanden\n[m2K/W],nr kwaliteits verklaring,ventilatie kruipruimte
69,NaN,NaN,ja_nee,NaN,NaN,ja_nee,NaN,NaN,ventilatie_kruipruimte
70,NaN,NaN,NaN,als bodem kruipruimte geïsoleerd is,als bodem kruipruimte geïsoleerd is,NaN,als wanden kruipruimte geïsoleerd zijn,als wanden kruipruimte geïsoleerd zijn,NaN
71,NaN,xx,nee,0,-,nee,0,-,normaal
72,NaN,xx,nee,NaN,NaN,nee,NaN,-,normaal
73,NaN,xx,nee,NaN,NaN,nee,NaN,-,normaal
74,NaN,xx,nee,NaN,NaN,nee,NaN,-,normaal

In [61]:
table_3_3 = xls1.iloc[77:86,1:14]
table_3_3

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
77,NaN,vloeren en delen van buitenwanden die grenzen ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,NaN,naam bouwdeel\n& hoort bij vloer xx,lengte\n[m],breedte\n[m],aantal\n[-],aftrek\n[m2],oppervlakte\n[m2],vloer boven maaiveld [m],dikte\nisolatie,lucht\nspouw,begrenzing\n,Rc waarde\n[m2K/W],nr kwaliteits verklaring
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,isolatie_vloer,spouw,grens_vloer_grond,NaN,NaN
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,alleen bij:\n- geen isolatie\n- iso dikte onbe...,NaN,indien bekend,indien aanwezig
81,NaN,<naam>,0,0,1,0,0,0,onbekend,ja,grond,2,-
82,NaN,<naam>,NaN,NaN,NaN,0,0,NaN,NaN,NaN,grond,NaN,-
83,NaN,<naam>,NaN,NaN,NaN,0,0,NaN,NaN,NaN,grond,NaN,-
84,NaN,<naam>,NaN,NaN,NaN,0,0,NaN,NaN,NaN,grond,NaN,-
85,NaN,<naam>,NaN,NaN,NaN,0,0,NaN,NaN,NaN,grond,NaN,-

In [67]:
table_3_4 = xls1.iloc[87:101,1:15]
table_3_4

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
87,NaN,hellend dak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,NaN,naam\nbouwdeel,lengte\n[m],breedte\n[m],aantal\n[-],aftrek\n[m2],oppervlakte\n[m2],orientatie\n,dikte\nisolatie,lucht\nspouw,begrenzing\n,Rc waarde\n[m2K/W],nr kwaliteits verklaring,dikte rieten dak [m]
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,orientatie,isolatie_overig,spouw,grens_dak,NaN,NaN,NaN
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,helling per definitie 45 graden,NaN,alleen bij:\n- geen isolatie\n- iso dikte onbe...,NaN,indien bekend,indien aanwezig,indien aanwezig
91,NaN,<naam>,0,0,1,0,0,noord,onbekend,nee,buitenlucht,2,1,0
92,NaN,<naam>,NaN,NaN,NaN,0,0,NaN,NaN,NaN,buitenlucht,NaN,NaN,NaN
93,NaN,<naam>,NaN,NaN,NaN,0,0,NaN,NaN,NaN,buitenlucht,NaN,NaN,NaN
94,NaN,<naam>,NaN,NaN,NaN,0,0,NaN,NaN,NaN,buitenlucht,NaN,NaN,NaN
95,NaN,<naam>,NaN,NaN,NaN,0,0,NaN,NaN,NaN,buitenlucht,NaN,NaN,NaN
96,NaN,<naam>,NaN,NaN,NaN,0,0,NaN,NaN,NaN,buitenlucht,NaN,NaN,NaN
97,NaN,<naam>,NaN,NaN,NaN,0,0,NaN,NaN,NaN,buitenlucht,NaN,NaN,NaN
98,NaN,<naam>,NaN,NaN,NaN,0,0,NaN,NaN,NaN,buitenlucht,NaN,NaN,NaN
99,NaN,<naam>,NaN,NaN,NaN,0,0,NaN,NaN,NaN,buitenlucht,NaN,NaN,NaN
100,NaN,<naam>,NaN,NaN,NaN,0,0,NaN,NaN,NaN,buitenlucht,NaN,NaN,NaN

In [71]:
table_3_5 = xls1.iloc[102:111,1:14]
table_3_5

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
102,NaN,plat dak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,NaN,naam\nbouwdeel,lengte\n[m],breedte\n[m],aantal\n[-],aftrek\n[m2],oppervlak\n[m2],orientatie,dikte\nisolatie,lucht\nspouw,begrenzing\n,Rc waarde\n[m2K/W],nr kwaliteits verklaring
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,isolatie_overig,spouw,grens_dak,NaN,NaN
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,alleen bij:\n- geen isolatie\n- iso dikte onbe...,NaN,indien bekend,indien aanwezig
106,NaN,<naam>,0,0,1,0,0,horizontaal,onbekend,ja,buitenlucht,0,-
107,NaN,<naam>,NaN,NaN,NaN,0,0,horizontaal,NaN,NaN,buitenlucht,NaN,-
108,NaN,<naam>,NaN,NaN,NaN,0,0,horizontaal,NaN,NaN,buitenlucht,NaN,-
109,NaN,<naam>,NaN,NaN,NaN,0,0,horizontaal,NaN,NaN,buitenlucht,NaN,-
110,NaN,<naam>,NaN,NaN,NaN,0,0,horizontaal,NaN,NaN,buitenlucht,NaN,-

In [75]:
table_3_6 = xls1.iloc[112:131,1:14]
table_3_6

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
112,NaN,dichte gevel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113,NaN,naam\nbouwdeel,lengte\n[m],breedte\n[m],aantal\n[-],aftrek\n[m2],oppervlak\n[m2],orientatie\n,dikte\nisolatie,lucht\nspouw,begrenzing\n,Rc waarde\n[m2K/W],nr kwaliteits verklaring
114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,orientatie,isolatie_overig,spouw,grens_gevel,NaN,NaN
115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,helling per definitie 90 graden,NaN,alleen bij:\n- geen isolatie\n- iso dikte onbe...,NaN,indien bekend,indien aanwezig
116,NaN,<naam>,5.15,2.56,1,0,13.184,noordoost,onbekend,onbekend,buitenlucht,0,-
117,NaN,NaN,21.5,2.56,1,0,55.04,noordwest,onbekend,onbekend,buitenlucht,NaN,-
118,NaN,NaN,5.15,2.56,1,0,13.184,zuidwest,onbekend,onbekend,buitenlucht,NaN,-
119,NaN,NaN,5.15,2.56,1,0,13.184,zuidoost,onbekend,onbekend,buitenlucht,NaN,-
120,NaN,<naam>,NaN,NaN,NaN,0,0,NaN,NaN,NaN,buitenlucht,NaN,-
121,NaN,<naam>,NaN,NaN,NaN,0,0,NaN,NaN,NaN,buitenlucht,NaN,-
122,NaN,<naam>,NaN,NaN,NaN,0,0,NaN,NaN,NaN,buitenlucht,NaN,-
123,NaN,<naam>,NaN,NaN,NaN,0,0,NaN,NaN,NaN,buitenlucht,NaN,-
124,NaN,<naam>,NaN,NaN,NaN,0,0,NaN,NaN,NaN,buitenlucht,NaN,-
125,NaN,<naam>,NaN,NaN,NaN,0,0,NaN,NaN,NaN,buitenlucht,NaN,-
126,NaN,<naam>,NaN,NaN,NaN,0,0,NaN,NaN,NaN,buitenlucht,NaN,-
127,NaN,<naam>,NaN,NaN,NaN,0,0,NaN,NaN,NaN,buitenlucht,NaN,-
128,NaN,<naam>,NaN,NaN,NaN,0,0,NaN,NaN,NaN,buitenlucht,NaN,-
129,NaN,<naam>,NaN,NaN,NaN,0,0,NaN,NaN,NaN,buitenlucht,NaN,-
130,NaN,<naam>,NaN,NaN,NaN,0,0,NaN,NaN,NaN,buitenlucht,NaN,-

In [79]:
table_3_7 = xls1.iloc[132:140,1:15]
table_3_7

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
132,NaN,paneel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,NaN,naam\nbouwdeel,lengte\n[m],breedte\n[m],aantal\n[-],aftrek\n[m2],oppervlak\n[m2],orientatie\n,dikte\nisolatie,lucht\nspouw,type kozijn,begrenzing\n,Rc waarde\n[m2K/W],nr kwaliteits verklaring
134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,orientatie,isolatie_overig,spouw,kozijn,grens_gevel,NaN,NaN
135,NaN,NaN,NaN,NaN,NaN,NaN,NaN,helling per definitie 90 graden,NaN,alleen bij:\n- geen isolatie\n- iso dikte onbe...,NaN,NaN,indien bekend,indien aanwezig
136,NaN,<naam>,0,0,1,0,0,noord,onbekend,nee,"hout, kunststof",buitenlucht,2,-
137,NaN,<naam>,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,NaN,<naam>,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,NaN,<naam>,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [83]:
table_3_8 = xls1.iloc[141:160,1:25]
table_3_8

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
141,NaN,beglazing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142,NaN,naam\nbouwdeel,lengte\n[m],breedte\n[m],aantal\n[-],aftrek\n[m2],oppervlak\n[m2],orientatie\n,helling\n[°],type ruimte,begrenzing\n,type kozijn,type glas,zonwering,overstek,U waarde\n[W/m2K],g waarde\n[-],dikte glas\n[mm],nr kwaliteits verklaring
143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,orientatie,helling,type_ruimte,grens_gevel,kozijn,glas,ja_nee,ja_nee,NaN,NaN,NaN,NaN
144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,helling per definitie 90 graden,NaN,NaN,NaN,NaN,NaN,NaN,NaN,indien bekend,indien bekend,NaN,indien aanwezig
145,NaN,Noordoost groot,1.55,2.65,3,0,12.3225,noordoost,90° (vert.),leefruimte,buitenlucht,"hout, kunststof",HR++,nee,nee,1.2,0.5,12 (tussenruimte 18),-
146,NaN,Noordoost klein,1.55,2.45,1,0,3.7975,noordoost,90° (vert.),slaapruimte,buitenlucht,"hout, kunststof",HR++,nee,nee,1.2,NaN,13 (tussenruimte 18),-
147,NaN,<naam>,NaN,NaN,NaN,0,0,NaN,NaN,NaN,buitenlucht,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-
148,NaN,<naam>,NaN,NaN,NaN,0,0,NaN,NaN,NaN,buitenlucht,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-
149,NaN,<naam>,NaN,NaN,NaN,0,0,NaN,NaN,NaN,buitenlucht,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-
150,NaN,<naam>,NaN,NaN,NaN,0,0,NaN,NaN,NaN,buitenlucht,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-
151,NaN,<naam>,NaN,NaN,NaN,0,0,NaN,NaN,NaN,buitenlucht,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-
152,NaN,<naam>,NaN,NaN,NaN,0,0,NaN,NaN,NaN,buitenlucht,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-
153,NaN,<naam>,NaN,NaN,NaN,0,0,NaN,NaN,NaN,buitenlucht,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-
154,NaN,<naam>,NaN,NaN,NaN,0,0,NaN,NaN,NaN,buitenlucht,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-
155,NaN,<naam>,NaN,NaN,NaN,0,0,NaN,NaN,NaN,buitenlucht,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-
156,NaN,<naam>,NaN,NaN,NaN,0,0,NaN,NaN,NaN,buitenlucht,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-
157,NaN,<naam>,NaN,NaN,NaN,0,0,NaN,NaN,NaN,buitenlucht,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-
158,NaN,<naam>,NaN,NaN,NaN,0,0,NaN,NaN,NaN,buitenlucht,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-
159,NaN,<naam>,NaN,NaN,NaN,0,0,NaN,NaN,NaN,buitenlucht,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-

In [87]:
table_3_9 = xls1.iloc[161:169,1:13]
table_3_9

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
161,NaN,deur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162,NaN,naam\nbouwdeel,lengte\n[m],breedte\n[m],aantal\n[-],aftrek\n[m2],oppervlak\n[m2],orientatie\n,type deur,begrenzing\n,U waarde\n[W/m2K],nr kwaliteits verklaring
163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,orientatie,deur,grens_gevel,NaN,NaN
164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,helling per definitie 90 graden,NaN,NaN,indien bekend,indien aanwezig
165,NaN,<naam>,0,0,1,0,0,noord,geïsoleerd,buitenlucht,0,-
166,NaN,<naam>,NaN,NaN,NaN,0,0,NaN,NaN,buitenlucht,NaN,NaN
167,NaN,<naam>,NaN,NaN,NaN,0,0,NaN,NaN,buitenlucht,NaN,NaN
168,NaN,<naam>,NaN,NaN,NaN,0,0,NaN,NaN,buitenlucht,NaN,NaN

In [94]:
table_4_1 = xls1.iloc[172:183,1:14]
table_4_1

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
172,NaN,individuele opwekking,NaN,NaN,NaN,NaN,NaN,NaN,NaN,niet bekend,NaN,NaN,NaN
173,3,type toestel,toestel,energie drager,bron WP,WP keur,aanvoer temperatuur,vermogen therm. [kW],vermogen elek. [kW],tst. binnen therm. schil,bijstook,nummer verklaring,merk & type
174,NaN,NaN,gasketel,energiedrager_lokaal,bron_warmtepomp,ja_nee,warmtetransport_ketel,NaN,NaN,ja_nee,gasketel_bijstook,NaN,NaN
175,NaN,NaN,HRE_ketel,energiedrager,NaN,NaN,warmtetransport_warmtepomp,NaN,NaN,NaN,NaN,NaN,NaN
176,NaN,NaN,lokaal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,O,geen individuele verwarming,nvt,nvt,nvt,nvt,nvt,nvt,nvt,nvt,nvt,nvt,nvt
179,O,lokale verwarming,lokaal,gas,nvt,nvt,nvt,nvt,nvt,nvt,nvt,-,-
180,X,gasketel,HR 107 ketel,gas,nvt,nvt,"water LT\nθ,gem ≤ 50°C",nvt,nvt,ja,nvt,-,-
181,O,micro wkk,met HRE-label,gas,nvt,nvt,nvt,2,2,ja,nvt,-,-
182,O,warmtepomp,warmtepomp,elektriciteit,bodem,ja,LT: 45°C < θ aanvoer ≤ 55°C,2,nvt,ja,nvt,-,-

In [99]:
table_4_2 = xls1.iloc[185:195,1:15]
table_4_2

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
185,NaN,collectieve opwekking - preferent toestel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186,1,type toestel,toestel,energie drager,bron WP,WP keur,aanvoer temperatuur,vermogen therm. [kW],vermogen elek. [kW],tst. binnen therm. schil,individuele bemetering,individuele afleverset,nummer verklaring,merk & type
187,NaN,NaN,gasketel,energiedrager,bron_warmtepomp,ja_nee,warmtetransport_ketel,NaN,NaN,ja_nee,ja_nee,ja_nee,NaN,NaN
188,NaN,NaN,NaN,NaN,NaN,NaN,warmtetransport_warmtepomp,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,X,geen collectieve verwarming,nvt,nvt,nvt,nvt,nvt,nvt,nvt,nvt,nvt,nvt,nvt,nvt
191,O,gasketel,HR 100 ketel,gas,nvt,nvt,"water LT\nθ,gem ≤ 50°C",2,nvt,ja,ja,nee,-,-
192,O,warmtepomp,warmtepomp,elektriciteit,bodem,ja,LT: 45°C < θ aanvoer ≤ 55°C,2,nvt,ja,ja,nee,-,-
193,O,gebouwgebonden WKK,WKK,gas,nvt,nvt,nvt,2,2,ja,ja,nee,-,-
194,O,warmtelevering derden,warmtelevering,warmte,nvt,nvt,nvt,nvt,nvt,nee,ja,ja,-,-

In [104]:
table_4_3 = xls1.iloc[197:207,1:7]
table_4_3

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
197,NaN,collectieve opwekking - NIET preferent toestel,NaN,NaN,NaN,NaN
198,1,type toestel,toestel,energiedrager,bron warmtepomp,WP keur
199,NaN,NaN,gasketel,energiedrager,bron_warmtepomp,ja_nee
200,NaN,NaN,NaN,NaN,NaN,NaN
201,NaN,NaN,NaN,NaN,NaN,NaN
202,O,geen NIET preferent toestel,nvt,nvt,nvt,nvt
203,O,elektrische verwarming,elektrisch,elektriciteit,nvt,nvt
204,O,gasketel,HR 100 ketel,gas,nvt,nvt
205,O,warmtepomp,warmtepomp,elektriciteit,grondwater,nee
206,O,WKK,WKK,gas,nvt,mvt

In [109]:
table_4_4 = xls1.iloc[209:215,1:14]
table_4_4

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
209,NaN,"distributie, afgifte en regeling",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210,NaN,type toestel,verdeler / verzamelaar,leid/kanaal onv.ruimte,leid. buiten gebouw,inblaas richting,pomp vermogen,eigen pomp vermogen [W],nummer verklaring,extra pomp,afgiftesysteem,regeling warmteafgifte,nummer verklaring
211,NaN,NaN,verdelers_verzamelaars_warmtedistributie,leidingen_kanalen_in_onverwarmde_ruimten,ja_nee,inblaasrichting_luchtverwarming,berekening_pomp_vermogen,NaN,NaN,extra_pomp,afgiftesysteem,regeling_warmteafgifte,NaN
212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
213,NaN,distributie,"ja, niet geïsoleerd","ja, niet geïsoleerd",ja,kernzijdig,forfaitair,2,2,nee,nvt,nvt,nvt
214,NaN,afgiftesysteem en regeling,nvt,nvt,nvt,nvt,nvt,nvt,nvt,nvt,vloer-/wand-verwarming,geregeld,-

In [112]:
table_4_5 = xls1.iloc[217:224,1:7]
table_4_5

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
217,NaN,thermostaat,NaN,NaN,NaN,NaN
218,2,type thermostaat,instelling bij bezoek,instelling weekdag,instelling weekend dag,merk en type
219,NaN,NaN,verdelers_verzamelaars_warmtedistributie,leidingen_kanalen_in_onverwarmde_ruimten,ja_nee,inblaasrichting_luchtverwarming
220,NaN,NaN,NaN,NaN,NaN,NaN
221,O,geen,nvt,nvt,nvt,nvt
222,X,manueel,21,nvt,nvt,honeywell
223,O,automatisch,nvt,-,-,-

In [119]:
table_5_1 = xls1.iloc[228:232,1:8]
table_5_1

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
228,False,type toestel,koude\nopwekker,koelmachine ook voor RV,energiedrager,rendem. met verklaring,nummer verklaring
229,NaN,NaN,koudeopwekker,ja_nee,energiedrager,NaN,NaN
230,NaN,NaN,NaN,NaN,NaN,NaN,NaN
231,O,koeling,compressie (elektrisch),nee,elektriciteit,-,-

In [125]:
table_6_1a = xls1.iloc[235:248,1:16]
table_6_1a

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
235,NaN,toestel opwekking en distributie - 1,NaN,zie foto,niet bekend,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
236,1,type toestel tapwater,opstelplaats toestel,toestel,CW klasse gastoestel,isolatie boilervat,isol. leiding. w. wisselaar,circulatie leiding,vermogen circ.pomp [W],individuele bemetering,gastoestel\nbijstook,fractie\nbijstook,opwekk. rend.\nverklaring,nr. kwaliteits verklaring,merk en type
237,NaN,NaN,opstelplaats_toestel_tap,tap_toestel_individueel_gas,CW_klasse,isolatie_boilervat,isolatie_leidingen_warmtewisselaar,circulatieleiding,NaN,ja_nee,bijstook_wp_tap_gas,NaN,NaN,NaN,NaN
238,NaN,NaN,NaN,tap_toestel_individueel_elektriciteit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239,NaN,NaN,NaN,tap_toestel_collectief_direct_gestookt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
240,NaN,NaN,NaN,tap_toestel_collectief_indirect_gestookt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
241,NaN,NaN,NaN,afhankelijk van type toestel,alleen individueel gas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242,X,individueel gas,binnen woning,combitoestel Gaskeur HRww,CW3,nvt,nvt,nvt,nvt,ja,nvt,nvt,0,1,-
243,O,individueel elektrisch,binnen woning,elektr. boiler,nvt,nvt,nvt,nvt,nvt,ja,nvt,nvt,0,1,-
244,O,individueel elektrische wp,binnen woning,WP vent.lucht geen WP-keur,nvt,nvt,nvt,nvt,nvt,ja,geen bijstook,0,0,1,-
245,O,collectief direct gestookt,binnen woning,"direct gestookt, gas",nvt,nvt,nvt,nee,0,nee,nvt,nvt,0,1,-
246,O,collectief indirect gestookt,binnen woning,VR ketel,nvt,geen,10 mm,"ja, niet geïsoleerd",2,nee,nvt,nvt,0,1,-
247,O,warmtelevering derden,buiten woning,warmtelevering,nvt,nvt,nvt,nvt,nvt,nee,nvt,nvt,0,1,-

In [129]:
table_6_1b = xls1.iloc[249:258,1:16]
table_6_1b

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
249,NaN,toestel opwekking en distributie - 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
250,1,type toestel tapwater,opstelplaats toestel,toestel,CW klasse gastoestel,isolatie boilervat,isol. leiding. w. wisselaar,circulatie leiding,vermogen circ.pomp [W],individuele bemetering,gastoestel\nbijstook,fractie\nbijstook,opwekk. rend.\nverklaring,nr. kwaliteits verklaring,merk en type
251,X,geen 2e toestel tapwater,nvt,nvt,nvt,nvt,nvt,nvt,nvt,nvt,nvt,nvt,nvt,nvt,nvt
252,O,individueel gas,binnen woning,keuken- / badgeiser,CW3,nvt,nvt,nvt,nvt,ja,nvt,nvt,0,1,-
253,O,individueel elektrisch,binnen woning,elektr. boiler,nvt,nvt,nvt,nvt,nvt,ja,nvt,nvt,0,1,-
254,O,individueel elektrische wp,binnen woning,WP vent.lucht geen WP-keur,nvt,nvt,nvt,nvt,nvt,ja,geen bijstook,0,0,1,-
255,O,collectief direct gestookt,binnen woning,"direct gestookt, gas",nvt,nvt,nvt,nee,0,nee,nvt,nvt,0,1,-
256,O,collectief indirect gestookt,binnen woning,VR ketel,nvt,geen,10 mm,"ja, niet geïsoleerd",2,nee,nvt,nvt,0,1,-
257,O,warmtelevering derden,buiten woning,warmtelevering,nvt,nvt,nvt,nvt,nvt,nee,nvt,nvt,0,1,-

In [132]:
table_6_2 = xls1.iloc[259:266,1:8]
table_6_2

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
259,NaN,leidingen naar tappunten en douchewater warmte...,NaN,NaN,NaN,NaN,NaN
260,NaN,collectioroppervlak zonneboierl [m2],leidinglengte keuken,leidinglengte badkamer,DWTW,rend. DWTW verklaring,nr kwaliteits verklaring
261,NaN,NaN,leidinglengte_tap,leidinglengte_tap,DWTW,NaN,NaN
262,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,NaN,leidinglengtes toestel 1,0-2 meter,2-6 meter,nvt,nvt,nvt
264,NaN,leidinglengtes toestel 2,nvt,nvt,nvt,nvt,nvt
265,NaN,DWTW,nvt,nvt,"ja, kwal.verkl.",0,-

In [137]:
table_6_3 = xls1.iloc[267:272,1:14]
table_6_3

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
267,NaN,zonneboiler,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268,NaN,zonneboiler,collector-opp. [m2],PVT\nsysteem,# woningen op zonneboiler,zonnekeur\nlabel,helling\ncollector,orientatie\ncollector,volume opslagvat {l],zonbijdrage -verkl. [MJ/jr],hulpenergie - verkl. [MJ/jr],PVT Wp/m2\nverklaring,nr. kwaliteits verklaring
269,NaN,zonneboiler_is_voor,NaN,ja_nee,NaN,ja_nee,helling,orientatie,NaN,NaN,NaN,NaN,NaN
270,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
271,NaN,niet aanwezig,0,nee,1,nee,45°,zuid,0,0,0,0,-

In [145]:
table_7_1 = xls1.iloc[275:285,1:12]
table_7_1

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
275,3,ventilatiesysteem,omschrijving,installatiejaar,ventilatoren,klapramen / roosters,afzuigkap in keuken,WTW,rendem. WTW\nverklaring,nr. kwaliteits verklaring,merk en type
276,NaN,NaN,ventilatiesysteem_A,installatiejaar_ventilatiesysteem,ventilatoren,ja_nee,ja_nee,WTW,NaN,NaN,NaN
277,NaN,NaN,ventilatiesysteem_C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278,NaN,NaN,ventilatiesysteem_D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
279,NaN,NaN,ventilatiesysteem_E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
280,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
281,O,A. natuurlijke ventilatie,A1. basis,nvt,nvt,ja,ja,nvt,nvt,nvt,nvt
282,O,C. mechanische afzuiging,C.1 handbediening,≤ 1980,gelijkstroom,ja,ja,nvt,nvt,nvt,-
283,X,D. balansventilatie,"D2. WTW zonder zonering, sturing en handmatig",> 1998,wisselstroom,nee,ja,geen,0,-,-
284,O,E. combisystemen,C + decentr. bal.+wtw+CO2,≤ 1980,gelijkstroom,nee,ja,tegenstroom (HR wtw),0,-,-

In [150]:
table_8_1 = xls1.iloc[286:292,1:9]
table_8_1

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
286,NaN,installaties - fotovoltaïsche cellen (PV),NaN,NaN,NaN,NaN,NaN,NaN
287,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
288,NaN,type cel,oppervlakte [m2],helling\ncollector,orientatie\ncollector,Wp/m2\nverklaring,nr. kwaliteits verklaring,merk en type
289,NaN,type_PV,NaN,helling,orientatie,NaN,NaN,NaN
290,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
291,NaN,mono-/multi kristallijn,0,45°,zuid,0,-,-