# Data description given by the KNMI

Listed below is the data description as given by the KNMI (in dutch).  

files: keijzer_hhs_toa_*  

stn= Rotterdam(344)  
lcd= locatie   
datum= JJJJMMDD  
tijd= in UT (1200 UT = 1300 MET = 1400 MEZT)  
WW=Weercode automatisch station in code.  
VV=Horizontaal zicht (10 min. gemiddeld) in meters.  
P=Luchtdruk op NAP (MSL)  (1 min. gem.) in hPa.  
Indien een gegeven ontbreekt dan spaties op de betreffende posities.  
  stn,lcd     ,datum   ,tijd,    WW,    VV,P   
  344,24t     ,20150101,  10,    10,  4150,1034.0  
  344,24t     ,20150101,  20,    10,  3650,1033.9  
  344,24t     ,20150101,  30,    10,  3151,1034.3  
  344,24t     ,20150101,  40,    10,  5830,1034.1  

files: keijzer_hhs_toc_*  

stn= Rotterdam(344)  
lcd= locatie   
datum= JJJJMMDD  
tijd= in UT (1200 UT = 1300 MET = 1400 MEZT)  
N=Totale bedekkingsgraad bewolking in okta.  
Indien een gegeven ontbreekt dan spaties op de betreffende posities.  
  stn,lcd     ,datum   ,tijd,     N  
  344,24t     ,20150101,  10,     0  
  344,24t     ,20150101,  20,     0  
  344,24t     ,20150101,  30,     0  
  344,24t     ,20150101,  40,     0  

files: keijzer_hhs_tor_*  

stn= Rotterdam(344)  
lcd= locatie   
datum= JJJJMMDD  
tijd= in UT (1200 UT = 1300 MET = 1400 MEZT)  
RG=Neerslag intensiteit  Regenmeter (10 min. gem.) in mm/uur.(delen door 6)  
DR=Neerslagduur PWS (10 min. som) in seconden.(delen door 600)  
Indien een gegeven ontbreekt dan spaties op de betreffende posities.  
  stn,lcd     ,datum   ,tijd,    RG,    DR  
  344,24t     ,20150101,  10,     0,     0  
  344,24t     ,20150101,  20,     0,     0  
  344,24t     ,20150101,  30,     0,     0  
  344,24t     ,20150101,  40,     0,     0  

files: keijzer_hhs_tos_*  

stn= Rotterdam(344)  
lcd= locatie   
datum= JJJJMMDD  
tijd= in UT (1200 UT = 1300 MET = 1400 MEZT)  
Q=Globale straling 10 min. gemiddeld in W/m2.  
SQ=Zonneschijnduur in minuten.  
Indien een gegeven ontbreekt dan spaties op de betreffende posities.  
  stn,lcd     ,datum   ,tijd,     Q,    SQ   
  344,24t     ,20150101,  10,     0,     0  
  344,24t     ,20150101,  20,     0,     0  
  344,24t     ,20150101,  30,     0,     0  
  344,24t     ,20150101,  40,     0,     0  

files: keijzer_hhs_tot_*  

stn= Rotterdam(344)  
lcd= locatie   
datum= JJJJMMDD  
tijd= in UT (1200 UT = 1300 MET = 1400 MEZT)  
T10=Minimum Gras temperatuur 10 cm (over 10 min) in graden Celsius.  
TD=Dauwpunts temperatuur (1 min. gem) in graden Celsius.  
T=Temperatuur 1 min gemiddeld (1,5 m hoogte) in graden Celsius.  
U=Relatieve vochtigheid 1,5 m  1min. gemiddeld in procenten.  
Indien een gegeven ontbreekt dan spaties op de betreffende posities.  
  stn,lcd     ,datum   ,tijd,   T10,    TD,     T,     U   
  344,24t     ,20150101,  10,   2.2,   1.3,   3.5,    85  
  344,24t     ,20150101,  20,   2.3,     1,   3.2,    85  
  344,24t     ,20150101,  30,   2.1,    .9,   3.1,    85  
  344,24t     ,20150101,  40,   2.1,     1,   3.4,    84  


files: keijzer_hhs_tow_*  

stn= Rotterdam(344)  
lcd= locatie   
datum= JJJJMMDD  
tijd= in UT (1200 UT = 1300 MET = 1400 MEZT)  
DD=Gemiddelde windrichting in graden.   
FF=Gemiddelde windsnelheid (op 10 m) in m/s.  
FX=Maximum windstoot (op 10 m.) in m/s.  
Indien een gegeven ontbreekt dan spaties op de betreffende posities.  
  stn,lcd     ,datum   ,tijd,    DD,    FF,    FX  
  344,24t     ,20150101,  10, 209.8,  5.36,  7.52  
  344,24t     ,20150101,  20, 200.7,  4.97,   6.9  
  344,24t     ,20150101,  30,   209,  4.84,  6.84  
  344,24t     ,20150101,  40, 212.9,  5.03,   6.7

# Reading in the DataFrame
Reading in the DataFrame from the `1. KNMI...` notebook.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

plt.style.use('default')
%matplotlib inline

df = pd.read_csv('//datc//opschaler//weather_data//knmi_10_min_raw_data//output//df_combined_uncleaned.csv', delimiter='\t', parse_dates=['datetime'])
df = df.set_index(['datetime'])
df.head()

,DD,DR,FF,FX,N,P,Q,RG,SQ,T,T10,TD,U,VV,WW
datetime,,,,,,,,,,,,,,,
2015-01-01 00:20:00,200.7,0.0,4.97,6.90,0.0,1033.9,0.0,0.0,0.0,3.2,2.3,1.0,85.0,3650.0,10.0
2015-01-01 00:30:00,209.0,0.0,4.84,6.84,0.0,1034.3,0.0,0.0,0.0,3.1,2.1,0.9,85.0,3151.0,10.0
2015-01-01 00:40:00,212.9,0.0,5.03,6.70,0.0,1034.1,0.0,0.0,0.0,3.4,2.1,1.0,84.0,5830.0,10.0
2015-01-01 00:50:00,213.9,0.0,4.92,7.30,0.0,1034.2,0.0,0.0,0.0,3.2,2.3,0.9,84.0,6900.0,10.0
2015-01-01 01:00:00,214.6,0.0,5.15,8.29,0.0,1034.3,0.0,0.0,0.0,3.6,2.3,0.9,82.0,8780.0,10.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 194248 entries, 2015-01-01 00:20:00 to 2018-09-10 23:50:00
Data columns (total 15 columns):
DD     173429 non-null float64
DR     192783 non-null float64
FF     173429 non-null float64
FX     173429 non-null float64
N      192612 non-null float64
P      192842 non-null float64
Q      192810 non-null float64
RG     192843 non-null float64
SQ     192825 non-null float64
T      192828 non-null float64
T10    192811 non-null float64
TD     192827 non-null float64
U      192827 non-null float64
VV     192696 non-null float64
WW     192770 non-null float64
dtypes: float64(15)
memory usage: 23.7 MB

In [6]:
df = df.astype(dtype='float32')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 194248 entries, 2015-01-01 00:20:00 to 2018-09-10 23:50:00
Data columns (total 15 columns):
DD     173429 non-null float32
DR     192783 non-null float32
FF     173429 non-null float32
FX     173429 non-null float32
N      192612 non-null float32
P      192842 non-null float32
Q      192810 non-null float32
RG     192843 non-null float32
SQ     192825 non-null float32
T      192828 non-null float32
T10    192811 non-null float32
TD     192827 non-null float32
U      192827 non-null float32
VV     192696 non-null float32
WW     192770 non-null float32
dtypes: float32(15)
memory usage: 12.6 MB

# Check for missing data

In [8]:
df.isnull().sum()

DD     20819
DR      1465
FF     20819
FX     20819
N       1636
P       1406
Q       1438
RG      1405
SQ      1423
T       1420
T10     1437
TD      1421
U       1421
VV      1552
WW      1478
dtype: int64

## Inspect the NaNs further
DD,FF,FX have got 'a lot' of NaNs.  

DD=Mean wind direction in degrees.  
FF=Mean wind speed (at 10 m) in m/s.  
FX=Max wind blast (at 10 m.) in m/s.  

Later on decide what to do with them?
-> Create df_nans which only contains rows with a NaN. Later on inspect the csv file to see how the NaNs are devided.

In [9]:
# Return a df with all the NaNs
df_nans = df[df.isnull().any(axis=1)]
# Finally, save the dataframe
df_nans.to_csv('//datc//opschaler//weather_data//knmi_10_min_raw_data//output//df_combined_NaNs.csv', sep='\t', index=True)
df_nans.loc['2016-08-01':,:]

,DD,DR,FF,FX,N,P,Q,RG,SQ,T,T10,TD,U,VV,WW
datetime,,,,,,,,,,,,,,,
2016-08-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-02 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-04 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-05 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-06 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-07 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-08 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-09 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-10 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-11 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-12 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-13 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-14 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-15 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-16 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-17 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-17 10:10:00,95.500000,36.0,5.94,9.36,0.0,1014.500000,734.0,0.0,10.0000,21.600000,23.700001,10.9,50.0,2450.0,NaN
2016-08-18 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-18 07:40:00,NaN,0.0,NaN,NaN,0.0,1010.400024,433.0,0.0,10.0000,17.600000,18.200001,12.1,70.0,31600.0,2.0
2016-08-18 07:50:00,NaN,0.0,NaN,NaN,0.0,1010.400024,459.0,0.0,10.0000,18.100000,18.799999,12.3,68.0,34900.0,3.0
2016-08-18 08:00:00,NaN,0.0,NaN,NaN,0.0,1010.400024,484.0,0.0,10.0000,18.200001,19.200001,11.7,65.0,28300.0,3.0
2016-08-18 08:10:00,NaN,0.0,NaN,NaN,0.0,1010.599976,509.0,0.0,10.0000,18.500000,19.799999,12.0,65.0,29500.0,2.0
2016-08-18 08:20:00,NaN,0.0,NaN,NaN,0.0,1010.700012,529.0,0.0,10.0000,18.900000,20.400000,11.9,63.0,31700.0,3.0
2016-08-18 08:30:00,NaN,0.0,NaN,NaN,0.0,1010.700012,554.0,0.0,10.0000,19.200001,21.200001,12.0,63.0,31400.0,2.0
2016-08-18 08:40:00,NaN,0.0,NaN,NaN,0.0,1010.700012,577.0,0.0,10.0000,19.200001,21.400000,11.7,61.0,33000.0,2.0
2016-08-18 08:50:00,NaN,0.0,NaN,NaN,0.0,1010.599976,598.0,0.0,10.0000,19.500000,21.600000,11.3,59.0,32600.0,1.0
2016-08-18 09:00:00,NaN,0.0,NaN,NaN,0.0,1010.599976,618.0,0.0,10.0000,20.200001,21.799999,11.8,58.0,33600.0,1.0
2016-08-18 09:10:00,NaN,0.0,NaN,NaN,0.0,1010.500000,638.0,0.0,10.0000,20.299999,22.299999,11.4,56.0,31700.0,2.0
2016-08-18 09:20:00,NaN,0.0,NaN,NaN,0.0,1010.599976,657.0,0.0,10.0000,20.799999,22.500000,12.1,57.0,33900.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-08-25 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-08-26 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-08-27 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-08-28 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-08-29 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-08-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-08-30 09:50:00,337.100006,NaN,4.86,7.96,4.0,1022.000000,416.0,0.0,6.4667,17.400000,18.600000,9.5,59.0,NaN,NaN
2018-08-30 10:00:00,338.799988,NaN,4.02,6.76,3.0,1022.000000,553.0,0.0,10.0000,18.400000,17.900000,10.8,61.0,NaN,1.0
2018-08-30 11:20:00,330.799988,0.0,3.89,7.38,NaN,1022.299988,NaN,0.0,NaN,NaN,NaN,NaN,NaN,36400.0,0.0
2018-08-30 11:30:00,317.600006,0.0,3.67,6.53,NaN,1022.400024,NaN,0.0,NaN,NaN,NaN,NaN,NaN,37100.0,0.0
2018-08-30 11:40:00,345.399994,0.0,4.78,6.80,NaN,1022.400024,NaN,0.0,NaN,NaN,NaN,NaN,NaN,38300.0,0.0
2018-08-30 11:50:00,328.299988,0.0,4.92,7.98,NaN,1022.400024,NaN,0.0,NaN,NaN,NaN,NaN,NaN,39000.0,0.0
2018-08-30 12:00:00,342.799988,0.0,4.41,7.69,NaN,1022.400024,NaN,0.0,NaN,18.900000,NaN,10.8,59.0,33800.0,0.0
2018-08-30 12:10:00,329.899994,0.0,5.52,7.65,NaN,1022.500000,745.0,0.0,10.0000,19.000000,20.799999,11.0,60.0,32100.0,0.0
2018-08-30 12:20:00,327.899994,0.0,4.43,7.81,NaN,1022.500000,673.0,0.0,10.0000,19.200001,20.299999,10.6,57.0,35300.0,0.0
2018-08-30 12:30:00,335.299988,0.0,4.66,7.34,NaN,1022.500000,741.0,0.0,10.0000,18.799999,20.900000,9.3,54.0,29700.0,0.0
2018-08-30 12:40:00,335.799988,0.0,5.19,7.65,NaN,1022.599976,627.0,0.0,10.0000,18.600000,20.000000,7.9,49.0,40900.0,0.0
2018-08-30 12:50:00,333.799988,0.0,4.62,7.09,NaN,1022.599976,711.0,0.0,10.0000,18.700001,20.200001,8.9,52.0,36500.0,0.0
2018-08-30 13:40:00,339.399994,0.0,4.33,6.51,NaN,1022.799988,436.0,0.0,5.8553,18.299999,19.600000,9.7,57.0,40200.0,0.0
2018-08-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-09-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-09-02 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-09-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-09-04 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-09-05 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-09-06 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-09-07 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-09-08 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-09-09 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-09-10 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

When inspecting 'df_combined_NaNs.csv' one can see that most NaNs are at 00:00:00. 
Some others are randomly placed. Interpolation looks fine to do, as a quick tool to deal with the NaNs.

# Dealing with the NaNs

In [ ]:
#df_filled = df.resample('10min').interpolate(method='time')
df_filled.describe()

# Check for 'major' changes after interpolating

In [ ]:
_ = pd.plotting.scatter_matrix(df[['T', 'Q']], marker='.')

In [ ]:
_ = pd.plotting.scatter_matrix(df_filled[['T', 'Q']], marker='.')

In [ ]:
import seaborn as sns
plt.style.use('default') # Keep using the default matplotlib style

sns.heatmap(df.corr(), square=False, cmap='RdYlGn')

In [ ]:
sns.heatmap(df_filled.corr(), square=False, cmap='RdYlGn')

Conclusion: By eyeballing the interpolated data looks the same as the one with the NaNs. So interpolation might be fine to do?

In [ ]:
df_nans_final = df_filled[df_filled.isnull().any(axis=1)]
df_nans_final

# Upsample df_filled
Upsample from 10 min to a 10 second resolution by interpolation. This is to match the smartmeter resolution. Note that for some columns inteprolation probably is not the best thing to do. But that's a detail to deal with later?

In [ ]:
df_final = df_filled.resample('10s').interpolate(method='time')
df_final.info()

# Compare df_final with the original df.

In [ ]:
df_final.describe()

In [ ]:
df.describe()

## Actual difference  between df_final and the original df
The difference looks minimal, that's good.

In [ ]:
df_final.describe() - df.describe()

# Save the final dataframe
<b>WARNING: Takes a lot of time!</b>

In [ ]:
"""
Finally, save the dataframe.
Manually add the column information (received by mail) as '#' comments in the file.
"""
#df_final.to_csv('//datc//opschaler//weather_data//knmi_10_min_raw_data//output//weather.csv', sep='\t')

# EDA

In [ ]:
plt.plot(df_final.index, df_final['T'],'.', markersize=0.1, color='r')
plt.xlabel('Date [-]')
plt.ylabel('Temperature [°C]')
plt.xticks(rotation=45)
plt.grid()
plt.tight_layout()

In [ ]:
plt.plot(df_final.index, df_final['Q'],'.', color='r', markersize=0.1)
plt.xlabel('Date [-]')
plt.ylabel('Global Radiation [J/m$^2$]')
plt.xticks(rotation=45)
plt.grid()
plt.tight_layout()

# Test read in of saved DF

In [ ]:
# Manually copied the saved df from 'weather_data//knmi_10_min_raw_data//output' to 'weather_data//'

weather = pd.read_csv('//datc//opschaler//weather_data//weather.csv', delimiter='\t', comment='#', parse_dates=['datetime'])
weather = weather.set_index(['datetime'])
weather.head()

In [ ]:
plt.plot(weather.index, weather['T'],'.', markersize=0.1, color='r')
plt.xlabel('Date [-]')
plt.ylabel('Temperature [°C]')
plt.xticks(rotation=45)
plt.grid()
plt.tight_layout()

In [ ]:
plt.plot(weather.index, weather['Q'],'.', color='r', markersize=0.1)
plt.xlabel('Date [-]')
plt.ylabel('Global Radiation [J/m$^2$]')
plt.xticks(rotation=45)
plt.grid()
plt.tight_layout()