In [3]:
"""
Shifr+F9 (Debug first, then plots will appear in SciView)

TODO: add legend to plot_nans
"""

import pandas as pd
import numpy as np
import glob
import time
import datetime

import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib as mpl
mpl.style.use('default')


def clean_datetime(df):
    """
    TODO: Speed up the function
    Input should be a df with a column called 'datetime'.
    This function checks wether a row in the df.datetime column can be parsed to a Pandas datetime object,
    by trying pd.to_datetime() on it.
    If it fails it will replace that row with np.nan().
    Finally this function will return the df with the NaN rows dropped.
    It only drops the row if the datetime column contains a NaN.

    :param df: Pandas DataFrame containing a datetime column called 'datetime'.
    :return: Pandas DataFrame
    """
    for i in range(len(df)):
        try:
            pd.to_datetime(df.datetime[i])
        except ValueError:
            print('-----')
            print('ValueError at index = %s' % i)
            print(df.datetime[i])
            df.datetime = df.datetime.replace(df.datetime[i], np.nan)
    df = df.dropna(subset=['datetime'])
    return df


def clean_prepare_smart_gas(file_path):
    """
    Input is a dwelling_id.csv file.
    Output are cleaned & prepared dataframes (smart, gas).

    :param file_path: path to 'dwelling_id.csv' file
    :return: Smart and gas Pandas DataFrames
    """
    df = pd.read_csv(file_path, delimiter=';', header=0)
    df = df.rename(index=str, columns={'Timestamp': 'datetime', 'gasTimestamp': 'datetime'})

    smart = df.iloc[:, :7]
    gas = df.iloc[:, 7:]

    try:
        smart['datetime'] = pd.to_datetime(smart['datetime'])
        gas['datetime'] = pd.to_datetime(gas['datetime'])
    except:
        print('datetime column contains non-datetime values')
        smart = clean_datetime(smart)
        gas = clean_datetime(gas)
        smart['datetime'] = pd.to_datetime(smart['datetime'])
        gas['datetime'] = pd.to_datetime(gas['datetime'])

    smart = smart.set_index(['datetime'])
    gas = gas.set_index(['datetime'])

    smart = smart.astype(dtype='float32')
    gas = gas.astype(dtype='float32')

    return smart, gas


def df_nan_checker(df, threshold_percentage):
    """
    TODO: Parellalize, as in one column per core/worker?
    Checks each column in the input dataframe for NaNs.
    Outputs the amount of NaNs behind each other, including the start and stop index, per column as a sublist.
    For example when the dataframe has three columns.
    Output is in the form of:
    [[column_one_info], [column_two_info], [column_three_info]]
    With the column_..._info being in the form of:
    [start_index, stop_index, amount_of_NaNs]

    :param df: Pandas DataFrame
    :param threshold_percentage: Filter output based on NaN streaks being larger than x % of the total length of the dataframe.
    :return: Pandas DataFrame
    """

    columns = df.columns
    df = df.isnull()
    output = []
    length = len(columns)

    for i in range(length):
        #print('At iteration %s of %s' % (i, length))
        column_name = columns[i]
        column_info = []
        temp = []
        x = False

        for j, value in enumerate(df[column_name]):
            if x == False and value == True:
                temp.append(df.index[j])
                x = True
            elif x == True and value == True:
                temp.append(df.index[j])
            elif x == True and value == False:
                column_info.append(temp)
                temp = []
                x = False

        lengths = []

        for array in column_info:
            lengths.append([array[0], array[-1], len(array)])

        output.append(lengths)

    # Convert df_info to a readable dataframe instead of list

    """
    Row per column from the 'output' list
    Columns: start-index, stop-index, NaN streak
    """

    df_info = pd.DataFrame(columns=['Column name', 'Start index', 'Stop index', 'Amount of NaNs'])
    length = len(output)
    column_names = []
    starts = []
    stops = []
    amounts = []

    for column in range(length):
        #print('At iteration %s of %s' % (column, length))
        for i in range(len(output[column])):
            column_names.append(df.columns[column])
            starts.append(output[column][i][0])
            stops.append(output[column][i][1])
            amounts.append(output[column][i][2])

    print('Appending NaN info to df')
    # Convert list to pd series
    column_names = pd.Series(column_names)
    starts = pd.Series(starts)
    stops = pd.Series(stops)
    amounts = pd.Series(amounts)
    # Append pd series to a column
    df_info['Column name'] = column_names.values
    df_info['Start index'] = starts.values
    df_info['Stop index'] = stops.values
    df_info['Amount of NaNs'] = amounts.values

    percentage = (df_info['Amount of NaNs'] / len(df)) * 100
    df_info.drop(df_info[percentage < threshold_percentage].index, inplace=True)

    return df_info


def smart_gas_nan_checker(smart, gas, weather, dwelling_id):
    """
    Resamples the (smart, gas) dfs to 10s.
    Also calculates gasPower.
    Returns (smart_resampled, gas_resampled)

    Original sample rates are as follows:
    smart: 10 seconds
    gas: 1 hour
    weather: 10 minutes

    :param smart: Pandas DataFrame
    :param gas: Pandas DataFrame
    :param weather: Pandas DataFrame
    :param dwelling_id: String
    :return: smart_resampled, gas_resampled as a Pandas DataFrame
    """

    print('Resampling smart, gas, weather')
    # For more resampling info see: https://pandas.pydata.org/pandas-docs/stable/api.html#id41
    # Makes missing gaps appear as NaN, these are the general raw dataframes to work with
    smart_10s = smart.resample('10s').mean()
    gas_h = gas.resample('H').mean()
    weather_10min = weather.resample('10min').mean()

    """
    Create a dataframe with a 1 hour sample rate
    """
    gas_h['gasPower'] = gas_h['gasMeter'].diff()  # Calculate gasPower column
    gas_h['gasPower'][0] = gas_h['gasPower'][1]  # Replace 1st entry (NaN) with 2nd entry

    smart_h = smart_10s.resample('H').mean()  # Down sample smart
    weather_h = weather_10min.resample('H').mean()  # Down sample weather

    # Combine gas, smart, weather
    df_hour = pd.merge(smart_h, gas_h, left_index=True, right_index=True)
    df_hour = pd.merge(df_hour, weather_h, left_index=True, right_index=True)

    """
    Create smartmeter dataframe with a 10s sample rate
    """
    gas_10s = gas_h.resample('10s').ffill()  # Up sample gas to 10s
    # Calculate gasPower column, is this rhe right way? Or should we ffill it?
    # Currently this code makes it so there is one gasPower value per hour, we could ffill this also?
    gas_10s['gasPower'] = gas_10s['gasMeter'].diff()
    gas_10s['gasPower'][0] = gas_10s['gasPower'][1]  # Replace 1st entry (NaN) with 2nd entry

    weather_10s = weather_10min.resample('10s').ffill()  # forward fill because the raw data is the 10 minute mean

    # Combine gas, smart, weather
    df_10s = pd.merge(smart_10s, gas_10s, left_index=True, right_index=True)
    df_10s = pd.merge(df_10s, weather_10s, left_index=True, right_index=True)

    """
    Do NaN analysis on the 10s and hour sample rate dataframes
    """
    print('Length of combined df_10s: %s' % len(df_10s))
    print('df_nan_fig_10s')
    df_nan_fig_10s = plot_nans(df_10s, dwelling_id+' 10s sample rate')
    print('df_nan_table_10s')
    df_nan_table_10s = df_nan_checker(df_10s, 0)

    print('Length of combined df_hour: %s' % len(df_hour))
    print('df_nan_fig_hour')
    df_nan_fig_hour = plot_nans(df_hour, dwelling_id+' 1 hour sample rate')
    print('df_nan_table_hour')
    df_nan_table_hour = df_nan_checker(df_hour, 0)

    return df_10s, df_hour, df_nan_table_10s, df_nan_table_hour, df_nan_fig_hour, df_nan_fig_10s


def drop_nan_streaks_above_threshold(df, df_nan_table, thresholds):
    """
    Drops NaN streaks from the df when they are larger then the threshold value.
    This function also inputs df_nan_table because it already has been made in the smart_gas_nan_checker.
    :param df: Pandas DataDrame to process NaNs off
    :param df_nan_table: NaN info Pandas DataFrame of the input df
    :param thresholds: Dictionary {'column_name':column_threshold}, column_threshold has to be an integer.
    :return: Pandas DataFrame
    """

    # Check for NaN streaks > threshold and drop them from the df
    length = len(df_nan_table['Amount of NaNs'])
    print('df_nan_table length: %s' % length)

    indices_to_drop = []
    for i, amount in enumerate(df_nan_table['Amount of NaNs']):
        selected_column = df_nan_table['Column name'][i]
        try:
            if amount > thresholds[selected_column]:
                start_index = (df_nan_table['Start index'][i])
                stop_index = (df_nan_table['Stop index'][i])
                indices = df[start_index:stop_index].index
                print('Enumeration %s of %s | From \t %s \t to \t %s | column %s | NaN streak length: %s'
                      % (i, length, start_index, stop_index, selected_column, (len(indices))))
                try:
                    indices_to_drop += indices
                except:
                    print('Could not add indices to indices_to_drop list')
            else:
                #print('amount < threshold')
                pass
        except:
            #print('No threshold detected for %s' % selected_column)
            pass

    print('Dropping NaN streaks > threshold')
    l1 = len(df)
    df = df.drop(indices_to_drop)
    l2 = len(df)
    print('Removed %s rows' % (l1-l2))
    return df


def plot_nans(df, dwelling_id):
    """
    Create a heatmap of the NaNs in the input DataFrame.
    :param df: Pandas DataFrame
    :param dwelling_id: String
    :return: Seaborn heatmap as a Figure
    """
    plt.clf()
    df = df.isnull()
    # Downsample to make all data visible
    df = df.resample('1T').sum()  # Downsample to make small NaNs visible
    df = df.apply(lambda x: x > 0, 1)  # Replace values >0 with 1

    # Reindex datetimes
    # https://stackoverflow.com/questions/41046630/set-time-formatting-on-a-datetime-index-when-plotting-pandas-series
    try:
        df.index = df.index.to_period('D')
    except:
        print('plot_nans could not set df.index.to_period')

    # Plot heatmap
    n = int(len(df)*0.1)  # Choose amount of yticklabels to show

    try:
        fig = sns.heatmap(df, cmap='Reds', square=False, vmin=0, cbar=False, yticklabels=n*2, cbar_kws={})
    except TypeError:
        print('plot_nans ValueError')
        fig = sns.heatmap(df, cmap='Reds', square=False, vmin=0, cbar=False, cbar_kws={})

    # Set cbar ticks manually
    #cbar = fig.collections[0].colorbar
    #cbar.set_ticks([0, 1])
    #cbar.set_ticklabels(['Not NaN', 'NaN'])

    # Correct layout
    fig.invert_yaxis()
    fig.tick_params(axis='x', rotation=90)
    fig.tick_params(axis='y', rotation=0)
    fig.set(xlabel='Column [-]', ylabel='Index [-]')
    plt.title('Dwelling ID: '+dwelling_id)

    fig = fig.get_figure()
    fig.tight_layout()
    fig.show()
    print('Saving heatmap')
    fig.savefig('//datc//opschaler//nan_information//figures//' + dwelling_id + '.png', dpi=1200)

    return fig


def save_df_processed(df, dwelling_id):
    """
    Save interpolated dataframe.
    :param df: Pandas DataFrame
    :param dwelling_id: String
    :return: None
    """
    dir = '//datc//opschaler//combined_gas_smart_weather_dfs//processed//'
    df.to_csv(dir + dwelling_id + '.csv', sep='\t', index=True)
    print('Saved processed df: %s' % dwelling_id)
    return


def save_df_unprocessed(df, dwelling_id):
    """
    Save unprocessed dataframe.
    :param df: Pandas DataFrame
    :param dwelling_id: String
    :return: None
    """
    dir = '//datc//opschaler//combined_gas_smart_weather_dfs//unprocessed//'
    df.to_csv(dir + dwelling_id + '.csv', sep='\t', index=True)
    print('Saved not unprocessed df: %s' % dwelling_id)
    return


def dwelling_information (smart_gas_weather_resampled_combined, df_nan_table):
    # create dataframe to store all information from the different files
    df_dwelling_information = pd.DataFrame(columns={'Dwelling ID', 'file size [MB]', 'initial date', 'final date',
                                                    'days', 'total amount of NaNs', 'largest max consecutive NaNs',
                                                    'second largest max consecutive NaNs',
                                                    'third_largest_max_consecutive_NaNs'})

    # order of column names changed for some reason, line(below) fixes this, although ugly
    df_dwelling_information = df_dwelling_information[['Dwelling ID', 'file size [MB]', 'initial date', 'final date',
                                                       'days', 'total amount of NaNs', 'largest max consecutive NaNs',
                                                       'second largest max consecutive NaNs',
                                                       'third_largest_max_consecutive_NaNs']]

    # smart needs to be replaced with name of df that is read in (raw, combined)
    df_dwelling_information.loc[len(df_nan_table.index)] = [dwelling_id,
                                                 smart_gas_weather_resampled_combined.memory_usage(index=True).sum()/1000000,
                                                 smart_gas_weather_resampled_combined.index[0],
                                                 smart_gas_weather_resampled_combined.index[-1],
                                             smart_gas_weather_resampled_combined.index[-1] - smart_gas_weather_resampled_combined.index[0],
                                             df_nan_table['Amount of NaNs'].sum(),
                                                 df_nan_table['Amount of NaNs'].nlargest(1),
                                             df_nan_table['Amount of NaNs'].nlargest(2),
                                                 df_nan_table['Amount of NaNs'].nlargest(3)]
    return df_dwelling_information


def read_weather_data():
    """
    Reads in the weather Pandas DataFrame.
    :return: Pandas DataFrame
    """
    # Check if UTC to gmt+1 conversion is being handled correctly
    weather = pd.read_csv('//datc//opschaler//weather_data//knmi_10_min_raw_data//output//df_combined_uncleaned.csv',
                          delimiter='\t', comment='#',
                          parse_dates=['datetime'])
    weather = weather.set_index(['datetime'])
    return weather


def smartmeter_data():
    """
    Reads in the file paths and dwelling id's of the smartmeter data.
    :return: file_paths, dwelling_ids, both as lists.
    """
    path = '/datc/opschaler/smartmeter_data'
    file_paths = np.array(glob.glob(path + "/*.csv"))

    print('Detected %s smartmeter_data files.' % len(file_paths))
    dwelling_ids = np.array(list((map(lambda x: x[-15:-4], file_paths))))

    return file_paths, dwelling_ids


def process_dfs(df_10s, df_hour):
    """
    Forward fill all weather data.
    Interpolate: smart & gas data, except for ePower, ePowerReturn and gasPower.
    ePower, ePowerReturn and gasPower might still contains NaNs.
    These can be dropped after reading in the processed df, if required.

    :param df_10s: Pandas DataFrame
    :param df_hour:  Pandas DataFrame
    :return: Pandas DataFrame
    """
    columns_to_ffill = ['DD', 'DR', 'FF', 'FX', 'N', 'P', 'Q', 'RG', 'SQ', 'T', 'T10', 'TD', 'U', 'VV', 'WW']
    columns_to_interpolate = ['eMeter', 'gasMeter']

    print('Processing df_10s')
    df_10s[columns_to_ffill] = df_10s[columns_to_ffill].fillna(method='ffill')
    df_10s[columns_to_interpolate] = df_10s[columns_to_interpolate].interpolate(method='time')
    df_10s_processed = df_10s
    print('Amount of NaNs left in df_10s_processed: %s' % df_10s_processed.isnull().sum().sum())

    print('Processing df_hour')
    df_hour[columns_to_ffill] = df_hour[columns_to_ffill].fillna(method='ffill')
    df_hour[columns_to_interpolate] = df_hour[columns_to_interpolate].interpolate(method='time')
    df_hour_processed = df_hour
    print('Amount of NaNs left in df_hour_processed: %s' % df_hour_processed.isnull().sum().sum())

    return df_10s_processed, df_hour_processed

In [4]:
# Start the main loop
t1 = time.time()

print('Reading in weather data')
weather = read_weather_data()
file_paths, dwelling_ids = smartmeter_data()

print(dwelling_ids)

file_paths = file_paths[0:1]
dwelling_ids = dwelling_ids[0:1]

"""
index 49 is the 'export_P01S01W0000.csv' test dataframe
smart/gasMeter contains a NaN streak of 4 NaNs, this is 28.6 % of the total length.
N=27:28 is the smallest test df
daan 21:22
"""
for N in range(len(file_paths)):
    t2 = time.time()
    print('---------- N=%s ----------' % N)

    file_path = file_paths[N]
    dwelling_id = dwelling_ids[N]
    print('Selected dwelling_id: '+dwelling_ids[N])

    print('----- clean_prepare_smart_gas -----')
    # Read in raw smartmeter dataframe, split them into smart, gas df
    smart, gas = clean_prepare_smart_gas(file_path)

    print('----- smart_gas_nan_checker -----')
    # Resample dataframes (using mean()), then upsample to 10s using ffill and output nan_info
    df_10s, df_hour, df_nan_table_10s, df_nan_table_hour, df_nan_fig_hhour, df_nan_fig_10s = smart_gas_nan_checker(smart, gas, weather, dwelling_id)

    print('----- save_df_unprocessed -----')
    save_df_unprocessed(df_10s, dwelling_id+'_10s')
    save_df_unprocessed(df_hour, dwelling_id+'_hour')

    print('----- df_nan_table.to_csv -----')
    df_nan_table_10s.to_csv('//datc//opschaler//nan_information//'+dwelling_id+'_10s.csv', sep='\t')
    df_nan_table_hour.to_csv('//datc//opschaler//nan_information//' + dwelling_id + '_hour.csv', sep='\t')

    print('----- smart_gas_resampled_combined NaNs -----')
    print('df_10s NaNs: %s' % df_10s.isnull().sum())
    print('df_hour NaNs: %s' % df_10s.isnull().sum())

    """
    Original sample rate:
    Electricity: 10 seconds
    gas: 1 hour
    weather: 10 minutes
    
    So for example setting the thresholds for the 10s dataframe:
    
    eMeter   6 -> equals a 60 seconds gap
    ePower   6 -> equals a 60 seconds gap
    gasMeter 36 -> equals a 1 hour gap
    T       36 -> equals a 1 hour gap
    Q       18 -> equals a 30 minute gap 
    """
    print('----- drop_nan_streaks_above_threshold -----')
    thresholds_10s = {'eMeter': 6, 'ePower': 6, 'gasMeter': 72, 'T': 36, 'Q': 18}
    df_10s_partly_processed = drop_nan_streaks_above_threshold(df_10s, df_nan_table_10s, thresholds_10s)

    thresholds_hour = {'eMeter': 2, 'ePower': 2, 'gasMeter': 2, 'T': 1, 'Q': 1}
    df_hour_partly_processed = drop_nan_streaks_above_threshold(df_hour, df_nan_table_hour, thresholds_hour)

    print('----- dwelling_information -----')
    dwelling_info_df_10s = dwelling_information(df_10s, df_nan_table_10s)
    dwelling_info_df_10s.to_csv('//datc//opschaler//dwelling_information//'+dwelling_id+'_10s.csv', sep='\t')

    dwelling_info_df_hour = dwelling_information(df_hour, df_nan_table_hour)
    dwelling_info_df_hour.to_csv('//datc//opschaler//dwelling_information//'+dwelling_id+'_hour.csv', sep='\t')

    """
    Resample & interpolate dataframes
    Should NOT interpolate ePower, interpolate eMeter... 
    """

    print('----- process_dfs -----')
    # Process NaNs
    df_10s_processed, df_hour_processed = process_dfs(df_10s, df_hour)


    print('----- save_df_interpolated -----')
    save_df_processed(df_10s_processed, dwelling_id+'_10s')
    save_df_processed(df_hour_processed, dwelling_id+'_hour')

    t3 = time.time()
    print('------------------------------ FINISHED iteration %s in %.1f [s]' % (N, (t3-t2)))

t4 = time.time()
print('Total runtime: %.1f [s]' % (t4-t1))

"""
What slows down the code a lot:
df_nan_checker
clean_datetime
"""

Reading in weather data
Detected 56 smartmeter_data files.
['P01S01W5855' 'P01S01W3497' 'P01S02W5065' 'P01S01W5040' 'P01S01W4569'
 'P01S01W8239' 'P01S01W8655' 'P01S01W7071' 'P01S01W4091' 'P01S01W7548'
 'P01S01W5339' 'P01S01W4313' 'P01S01W7042' 'P01S01W6495' 'P01S02W4953'
 'P01S01W6835' 'P01S01W4979' 'P01S01W6959' 'P01S01W5564' 'P01S01W1347'
 'P01S01W6595' 'P01S01W0373' 'P01S01W4002' 'P01S01W0998' 'P01S01W5476'
 'P01S01W5588' 'P01S01W9431' 'P01S01W0001' 'P01S01W8171' 'P01S01W4489'
 'P01S01W5292' 'P01S01W6271' 'P01S01W4589' 'P01S02W2995' 'P01S01W2581'
 'P01S02W0167' 'P01S01W1341' 'P01S02W4827' 'P01S01W4579' 'P01S01W8669'
 'P01S01W5746' 'P01S01W6240' 'P01S01W0000' 'P01S01W1554' 'P01S01W6549'
 'P01S01W7980' 'P01S02W7251' 'P01S01W6289' 'P01S01W3955' 'P01S01W8828'
 'P01S02W6848' 'P01S02W0599' 'P01S01W9617' 'P01S02W1050' 'P01S01W0378'
 'P01S01W2743']
---------- N=0 ----------
Selected dwelling_id: P01S01W5855
----- clean_prepare_smart_gas -----
----- smart_gas_nan_checker -----
Resampling smart, gas, weather
Length of combined df_10s: 717995
df_nan_fig_10s

/opt/jupyterhub/anaconda/lib/python3.6/site-packages/matplotlib/figure.py:459: UserWarning: matplotlib is currently using a non-GUI backend, so cannot show the figure
  "matplotlib is currently using a non-GUI backend, "

Saving heatmap
df_nan_table_10s
Appending NaN info to df
Length of combined df_hour: 1996
df_nan_fig_hour
Saving heatmap
df_nan_table_hour
Appending NaN info to df
----- save_df_unprocessed -----
Saved not unprocessed df: P01S01W5855_10s
Saved not unprocessed df: P01S01W5855_hour
----- df_nan_table.to_csv -----
----- smart_gas_resampled_combined NaNs -----
df_10s NaNs: eMeter             31966
eMeterReturn       31966
eMeterLow          31966
eMeterLowReturn    31966
ePower             31966
ePowerReturn       31966
gasMeter           23040
gasPower           23043
DD                  4980
DR                  5100
FF                  4980
FX                  4980
N                   4980
P                   5760
Q                   4980
RG                  4980
SQ                  4980
T                   4980
T10                 4980
TD                  4980
U                   4980
VV                  5100
WW                  5100
dtype: int64
df_hour NaNs: eMeter             31966
eMeterReturn       31966
eMeterLow          31966
eMeterLowReturn    31966
ePower             31966
ePowerReturn       31966
gasMeter           23040
gasPower           23043
DD                  4980
DR                  5100
FF                  4980
FX                  4980
N                   4980
P                   5760
Q                   4980
RG                  4980
SQ                  4980
T                   4980
T10                 4980
TD                  4980
U                   4980
VV                  5100
WW                  5100
dtype: int64
----- drop_nan_streaks_above_threshold -----
df_nan_table length: 43828
Enumeration 597 of 43828 | From 	 2017-03-14 09:19:20 	 to 	 2017-03-14 10:19:40 | column eMeter | NaN streak length: 363
Enumeration 1488 of 43828 | From 	 2017-03-24 15:29:10 	 to 	 2017-03-24 16:29:20 | column eMeter | NaN streak length: 362
Enumeration 1597 of 43828 | From 	 2017-03-26 02:00:00 	 to 	 2017-03-26 02:59:50 | column eMeter | NaN streak length: 360
Enumeration 1598 of 43828 | From 	 2017-03-26 04:00:00 	 to 	 2017-03-26 04:59:50 | column eMeter | NaN streak length: 360
Enumeration 2378 of 43828 | From 	 2017-04-04 01:33:00 	 to 	 2017-04-04 02:33:20 | column eMeter | NaN streak length: 363
Enumeration 2442 of 43828 | From 	 2017-04-04 17:49:10 	 to 	 2017-04-07 08:44:20 | column eMeter | NaN streak length: 22652
Enumeration 4883 of 43828 | From 	 2017-05-04 10:27:50 	 to 	 2017-05-04 10:29:50 | column eMeter | NaN streak length: 13
Enumeration 6915 of 43828 | From 	 2017-05-27 06:31:50 	 to 	 2017-05-27 07:31:50 | column eMeter | NaN streak length: 361
Enumeration 28977 of 43828 | From 	 2017-03-14 09:19:20 	 to 	 2017-03-14 10:19:40 | column ePower | NaN streak length: 363
Enumeration 29868 of 43828 | From 	 2017-03-24 15:29:10 	 to 	 2017-03-24 16:29:20 | column ePower | NaN streak length: 362
Enumeration 29977 of 43828 | From 	 2017-03-26 02:00:00 	 to 	 2017-03-26 02:59:50 | column ePower | NaN streak length: 360
Enumeration 29978 of 43828 | From 	 2017-03-26 04:00:00 	 to 	 2017-03-26 04:59:50 | column ePower | NaN streak length: 360
Enumeration 30758 of 43828 | From 	 2017-04-04 01:33:00 	 to 	 2017-04-04 02:33:20 | column ePower | NaN streak length: 363
Enumeration 30822 of 43828 | From 	 2017-04-04 17:49:10 	 to 	 2017-04-07 08:44:20 | column ePower | NaN streak length: 22652
Enumeration 33263 of 43828 | From 	 2017-05-04 10:27:50 	 to 	 2017-05-04 10:29:50 | column ePower | NaN streak length: 13
Enumeration 35295 of 43828 | From 	 2017-05-27 06:31:50 	 to 	 2017-05-27 07:31:50 | column ePower | NaN streak length: 361
Enumeration 42572 of 43828 | From 	 2017-04-04 18:00:00 	 to 	 2017-04-07 07:59:50 | column gasMeter | NaN streak length: 22320
Enumeration 43077 of 43828 | From 	 2017-03-08 02:00:00 	 to 	 2017-03-08 02:09:50 | column Q | NaN streak length: 60
Enumeration 43078 of 43828 | From 	 2017-03-09 02:00:00 	 to 	 2017-03-09 02:09:50 | column Q | NaN streak length: 60
Enumeration 43079 of 43828 | From 	 2017-03-10 02:00:00 	 to 	 2017-03-10 02:09:50 | column Q | NaN streak length: 60
Enumeration 43080 of 43828 | From 	 2017-03-11 02:00:00 	 to 	 2017-03-11 02:09:50 | column Q | NaN streak length: 60
Enumeration 43081 of 43828 | From 	 2017-03-12 02:00:00 	 to 	 2017-03-12 02:09:50 | column Q | NaN streak length: 60
Enumeration 43082 of 43828 | From 	 2017-03-13 02:00:00 	 to 	 2017-03-13 02:09:50 | column Q | NaN streak length: 60
Enumeration 43083 of 43828 | From 	 2017-03-14 02:00:00 	 to 	 2017-03-14 02:09:50 | column Q | NaN streak length: 60
Enumeration 43084 of 43828 | From 	 2017-03-15 02:00:00 	 to 	 2017-03-15 02:09:50 | column Q | NaN streak length: 60
Enumeration 43085 of 43828 | From 	 2017-03-16 02:00:00 	 to 	 2017-03-16 02:09:50 | column Q | NaN streak length: 60
Enumeration 43086 of 43828 | From 	 2017-03-17 02:00:00 	 to 	 2017-03-17 02:09:50 | column Q | NaN streak length: 60
Enumeration 43087 of 43828 | From 	 2017-03-18 02:00:00 	 to 	 2017-03-18 02:09:50 | column Q | NaN streak length: 60
Enumeration 43088 of 43828 | From 	 2017-03-19 02:00:00 	 to 	 2017-03-19 02:09:50 | column Q | NaN streak length: 60
Enumeration 43089 of 43828 | From 	 2017-03-20 02:00:00 	 to 	 2017-03-20 02:09:50 | column Q | NaN streak length: 60
Enumeration 43090 of 43828 | From 	 2017-03-21 02:00:00 	 to 	 2017-03-21 02:09:50 | column Q | NaN streak length: 60
Enumeration 43091 of 43828 | From 	 2017-03-22 02:00:00 	 to 	 2017-03-22 02:09:50 | column Q | NaN streak length: 60
Enumeration 43092 of 43828 | From 	 2017-03-23 02:00:00 	 to 	 2017-03-23 02:09:50 | column Q | NaN streak length: 60
Enumeration 43093 of 43828 | From 	 2017-03-24 02:00:00 	 to 	 2017-03-24 02:09:50 | column Q | NaN streak length: 60
Enumeration 43094 of 43828 | From 	 2017-03-25 02:00:00 	 to 	 2017-03-25 02:09:50 | column Q | NaN streak length: 60
Enumeration 43095 of 43828 | From 	 2017-03-26 02:00:00 	 to 	 2017-03-26 02:09:50 | column Q | NaN streak length: 60
Enumeration 43096 of 43828 | From 	 2017-03-27 02:00:00 	 to 	 2017-03-27 02:09:50 | column Q | NaN streak length: 60
Enumeration 43097 of 43828 | From 	 2017-03-28 02:00:00 	 to 	 2017-03-28 02:09:50 | column Q | NaN streak length: 60
Enumeration 43098 of 43828 | From 	 2017-03-29 02:00:00 	 to 	 2017-03-29 02:09:50 | column Q | NaN streak length: 60
Enumeration 43099 of 43828 | From 	 2017-03-30 02:00:00 	 to 	 2017-03-30 02:09:50 | column Q | NaN streak length: 60
Enumeration 43100 of 43828 | From 	 2017-03-31 02:00:00 	 to 	 2017-03-31 02:09:50 | column Q | NaN streak length: 60
Enumeration 43101 of 43828 | From 	 2017-04-01 02:00:00 	 to 	 2017-04-01 02:09:50 | column Q | NaN streak length: 60
Enumeration 43102 of 43828 | From 	 2017-04-02 02:00:00 	 to 	 2017-04-02 02:09:50 | column Q | NaN streak length: 60
Enumeration 43103 of 43828 | From 	 2017-04-03 02:00:00 	 to 	 2017-04-03 02:09:50 | column Q | NaN streak length: 60
Enumeration 43104 of 43828 | From 	 2017-04-04 02:00:00 	 to 	 2017-04-04 02:09:50 | column Q | NaN streak length: 60
Enumeration 43105 of 43828 | From 	 2017-04-05 02:00:00 	 to 	 2017-04-05 02:09:50 | column Q | NaN streak length: 60
Enumeration 43106 of 43828 | From 	 2017-04-06 02:00:00 	 to 	 2017-04-06 02:09:50 | column Q | NaN streak length: 60
Enumeration 43107 of 43828 | From 	 2017-04-07 02:00:00 	 to 	 2017-04-07 02:09:50 | column Q | NaN streak length: 60
Enumeration 43108 of 43828 | From 	 2017-04-08 02:00:00 	 to 	 2017-04-08 02:09:50 | column Q | NaN streak length: 60
Enumeration 43109 of 43828 | From 	 2017-04-09 02:00:00 	 to 	 2017-04-09 02:09:50 | column Q | NaN streak length: 60
Enumeration 43110 of 43828 | From 	 2017-04-10 02:00:00 	 to 	 2017-04-10 02:09:50 | column Q | NaN streak length: 60
Enumeration 43111 of 43828 | From 	 2017-04-11 02:00:00 	 to 	 2017-04-11 02:09:50 | column Q | NaN streak length: 60
Enumeration 43112 of 43828 | From 	 2017-04-12 02:00:00 	 to 	 2017-04-12 02:09:50 | column Q | NaN streak length: 60
Enumeration 43113 of 43828 | From 	 2017-04-13 02:00:00 	 to 	 2017-04-13 02:09:50 | column Q | NaN streak length: 60
Enumeration 43114 of 43828 | From 	 2017-04-14 02:00:00 	 to 	 2017-04-14 02:09:50 | column Q | NaN streak length: 60
Enumeration 43115 of 43828 | From 	 2017-04-15 02:00:00 	 to 	 2017-04-15 02:09:50 | column Q | NaN streak length: 60
Enumeration 43116 of 43828 | From 	 2017-04-16 02:00:00 	 to 	 2017-04-16 02:09:50 | column Q | NaN streak length: 60
Enumeration 43117 of 43828 | From 	 2017-04-17 02:00:00 	 to 	 2017-04-17 02:09:50 | column Q | NaN streak length: 60
Enumeration 43118 of 43828 | From 	 2017-04-18 02:00:00 	 to 	 2017-04-18 02:09:50 | column Q | NaN streak length: 60
Enumeration 43119 of 43828 | From 	 2017-04-19 02:00:00 	 to 	 2017-04-19 02:09:50 | column Q | NaN streak length: 60
Enumeration 43120 of 43828 | From 	 2017-04-20 02:00:00 	 to 	 2017-04-20 02:09:50 | column Q | NaN streak length: 60
Enumeration 43121 of 43828 | From 	 2017-04-21 02:00:00 	 to 	 2017-04-21 02:09:50 | column Q | NaN streak length: 60
Enumeration 43122 of 43828 | From 	 2017-04-22 02:00:00 	 to 	 2017-04-22 02:09:50 | column Q | NaN streak length: 60
Enumeration 43123 of 43828 | From 	 2017-04-23 02:00:00 	 to 	 2017-04-23 02:09:50 | column Q | NaN streak length: 60
Enumeration 43124 of 43828 | From 	 2017-04-24 02:00:00 	 to 	 2017-04-24 02:09:50 | column Q | NaN streak length: 60
Enumeration 43125 of 43828 | From 	 2017-04-25 02:00:00 	 to 	 2017-04-25 02:09:50 | column Q | NaN streak length: 60
Enumeration 43126 of 43828 | From 	 2017-04-26 02:00:00 	 to 	 2017-04-26 02:09:50 | column Q | NaN streak length: 60
Enumeration 43127 of 43828 | From 	 2017-04-27 02:00:00 	 to 	 2017-04-27 02:09:50 | column Q | NaN streak length: 60
Enumeration 43128 of 43828 | From 	 2017-04-28 02:00:00 	 to 	 2017-04-28 02:09:50 | column Q | NaN streak length: 60
Enumeration 43129 of 43828 | From 	 2017-04-29 02:00:00 	 to 	 2017-04-29 02:09:50 | column Q | NaN streak length: 60
Enumeration 43130 of 43828 | From 	 2017-04-30 02:00:00 	 to 	 2017-04-30 02:09:50 | column Q | NaN streak length: 60
Enumeration 43131 of 43828 | From 	 2017-05-01 02:00:00 	 to 	 2017-05-01 02:09:50 | column Q | NaN streak length: 60
Enumeration 43132 of 43828 | From 	 2017-05-02 02:00:00 	 to 	 2017-05-02 02:09:50 | column Q | NaN streak length: 60
Enumeration 43133 of 43828 | From 	 2017-05-03 02:00:00 	 to 	 2017-05-03 02:09:50 | column Q | NaN streak length: 60
Enumeration 43134 of 43828 | From 	 2017-05-04 02:00:00 	 to 	 2017-05-04 02:09:50 | column Q | NaN streak length: 60
Enumeration 43135 of 43828 | From 	 2017-05-05 02:00:00 	 to 	 2017-05-05 02:09:50 | column Q | NaN streak length: 60
Enumeration 43136 of 43828 | From 	 2017-05-06 02:00:00 	 to 	 2017-05-06 02:09:50 | column Q | NaN streak length: 60
Enumeration 43137 of 43828 | From 	 2017-05-07 02:00:00 	 to 	 2017-05-07 02:09:50 | column Q | NaN streak length: 60
Enumeration 43138 of 43828 | From 	 2017-05-08 02:00:00 	 to 	 2017-05-08 02:09:50 | column Q | NaN streak length: 60
Enumeration 43139 of 43828 | From 	 2017-05-09 02:00:00 	 to 	 2017-05-09 02:09:50 | column Q | NaN streak length: 60
Enumeration 43140 of 43828 | From 	 2017-05-10 02:00:00 	 to 	 2017-05-10 02:09:50 | column Q | NaN streak length: 60
Enumeration 43141 of 43828 | From 	 2017-05-11 02:00:00 	 to 	 2017-05-11 02:09:50 | column Q | NaN streak length: 60
Enumeration 43142 of 43828 | From 	 2017-05-12 02:00:00 	 to 	 2017-05-12 02:09:50 | column Q | NaN streak length: 60
Enumeration 43143 of 43828 | From 	 2017-05-13 02:00:00 	 to 	 2017-05-13 02:09:50 | column Q | NaN streak length: 60
Enumeration 43144 of 43828 | From 	 2017-05-14 02:00:00 	 to 	 2017-05-14 02:09:50 | column Q | NaN streak length: 60
Enumeration 43145 of 43828 | From 	 2017-05-15 02:00:00 	 to 	 2017-05-15 02:09:50 | column Q | NaN streak length: 60
Enumeration 43146 of 43828 | From 	 2017-05-16 02:00:00 	 to 	 2017-05-16 02:09:50 | column Q | NaN streak length: 60
Enumeration 43147 of 43828 | From 	 2017-05-17 02:00:00 	 to 	 2017-05-17 02:09:50 | column Q | NaN streak length: 60
Enumeration 43148 of 43828 | From 	 2017-05-18 02:00:00 	 to 	 2017-05-18 02:09:50 | column Q | NaN streak length: 60
Enumeration 43149 of 43828 | From 	 2017-05-19 02:00:00 	 to 	 2017-05-19 02:09:50 | column Q | NaN streak length: 60
Enumeration 43150 of 43828 | From 	 2017-05-20 02:00:00 	 to 	 2017-05-20 02:09:50 | column Q | NaN streak length: 60
Enumeration 43151 of 43828 | From 	 2017-05-21 02:00:00 	 to 	 2017-05-21 02:09:50 | column Q | NaN streak length: 60
Enumeration 43152 of 43828 | From 	 2017-05-22 02:00:00 	 to 	 2017-05-22 02:09:50 | column Q | NaN streak length: 60
Enumeration 43153 of 43828 | From 	 2017-05-23 02:00:00 	 to 	 2017-05-23 02:09:50 | column Q | NaN streak length: 60
Enumeration 43154 of 43828 | From 	 2017-05-24 02:00:00 	 to 	 2017-05-24 02:09:50 | column Q | NaN streak length: 60
Enumeration 43155 of 43828 | From 	 2017-05-25 02:00:00 	 to 	 2017-05-25 02:09:50 | column Q | NaN streak length: 60
Enumeration 43156 of 43828 | From 	 2017-05-26 02:00:00 	 to 	 2017-05-26 02:09:50 | column Q | NaN streak length: 60
Enumeration 43157 of 43828 | From 	 2017-05-27 02:00:00 	 to 	 2017-05-27 02:09:50 | column Q | NaN streak length: 60
Enumeration 43158 of 43828 | From 	 2017-05-28 02:00:00 	 to 	 2017-05-28 02:09:50 | column Q | NaN streak length: 60
Enumeration 43159 of 43828 | From 	 2017-05-29 02:00:00 	 to 	 2017-05-29 02:09:50 | column Q | NaN streak length: 60
Enumeration 43326 of 43828 | From 	 2017-03-08 02:00:00 	 to 	 2017-03-08 02:09:50 | column T | NaN streak length: 60
Enumeration 43327 of 43828 | From 	 2017-03-09 02:00:00 	 to 	 2017-03-09 02:09:50 | column T | NaN streak length: 60
Enumeration 43328 of 43828 | From 	 2017-03-10 02:00:00 	 to 	 2017-03-10 02:09:50 | column T | NaN streak length: 60
Enumeration 43329 of 43828 | From 	 2017-03-11 02:00:00 	 to 	 2017-03-11 02:09:50 | column T | NaN streak length: 60
Enumeration 43330 of 43828 | From 	 2017-03-12 02:00:00 	 to 	 2017-03-12 02:09:50 | column T | NaN streak length: 60
Enumeration 43331 of 43828 | From 	 2017-03-13 02:00:00 	 to 	 2017-03-13 02:09:50 | column T | NaN streak length: 60
Enumeration 43332 of 43828 | From 	 2017-03-14 02:00:00 	 to 	 2017-03-14 02:09:50 | column T | NaN streak length: 60
Enumeration 43333 of 43828 | From 	 2017-03-15 02:00:00 	 to 	 2017-03-15 02:09:50 | column T | NaN streak length: 60
Enumeration 43334 of 43828 | From 	 2017-03-16 02:00:00 	 to 	 2017-03-16 02:09:50 | column T | NaN streak length: 60
Enumeration 43335 of 43828 | From 	 2017-03-17 02:00:00 	 to 	 2017-03-17 02:09:50 | column T | NaN streak length: 60
Enumeration 43336 of 43828 | From 	 2017-03-18 02:00:00 	 to 	 2017-03-18 02:09:50 | column T | NaN streak length: 60
Enumeration 43337 of 43828 | From 	 2017-03-19 02:00:00 	 to 	 2017-03-19 02:09:50 | column T | NaN streak length: 60
Enumeration 43338 of 43828 | From 	 2017-03-20 02:00:00 	 to 	 2017-03-20 02:09:50 | column T | NaN streak length: 60
Enumeration 43339 of 43828 | From 	 2017-03-21 02:00:00 	 to 	 2017-03-21 02:09:50 | column T | NaN streak length: 60
Enumeration 43340 of 43828 | From 	 2017-03-22 02:00:00 	 to 	 2017-03-22 02:09:50 | column T | NaN streak length: 60
Enumeration 43341 of 43828 | From 	 2017-03-23 02:00:00 	 to 	 2017-03-23 02:09:50 | column T | NaN streak length: 60
Enumeration 43342 of 43828 | From 	 2017-03-24 02:00:00 	 to 	 2017-03-24 02:09:50 | column T | NaN streak length: 60
Enumeration 43343 of 43828 | From 	 2017-03-25 02:00:00 	 to 	 2017-03-25 02:09:50 | column T | NaN streak length: 60
Enumeration 43344 of 43828 | From 	 2017-03-26 02:00:00 	 to 	 2017-03-26 02:09:50 | column T | NaN streak length: 60
Enumeration 43345 of 43828 | From 	 2017-03-27 02:00:00 	 to 	 2017-03-27 02:09:50 | column T | NaN streak length: 60
Enumeration 43346 of 43828 | From 	 2017-03-28 02:00:00 	 to 	 2017-03-28 02:09:50 | column T | NaN streak length: 60
Enumeration 43347 of 43828 | From 	 2017-03-29 02:00:00 	 to 	 2017-03-29 02:09:50 | column T | NaN streak length: 60
Enumeration 43348 of 43828 | From 	 2017-03-30 02:00:00 	 to 	 2017-03-30 02:09:50 | column T | NaN streak length: 60
Enumeration 43349 of 43828 | From 	 2017-03-31 02:00:00 	 to 	 2017-03-31 02:09:50 | column T | NaN streak length: 60
Enumeration 43350 of 43828 | From 	 2017-04-01 02:00:00 	 to 	 2017-04-01 02:09:50 | column T | NaN streak length: 60
Enumeration 43351 of 43828 | From 	 2017-04-02 02:00:00 	 to 	 2017-04-02 02:09:50 | column T | NaN streak length: 60
Enumeration 43352 of 43828 | From 	 2017-04-03 02:00:00 	 to 	 2017-04-03 02:09:50 | column T | NaN streak length: 60
Enumeration 43353 of 43828 | From 	 2017-04-04 02:00:00 	 to 	 2017-04-04 02:09:50 | column T | NaN streak length: 60
Enumeration 43354 of 43828 | From 	 2017-04-05 02:00:00 	 to 	 2017-04-05 02:09:50 | column T | NaN streak length: 60
Enumeration 43355 of 43828 | From 	 2017-04-06 02:00:00 	 to 	 2017-04-06 02:09:50 | column T | NaN streak length: 60
Enumeration 43356 of 43828 | From 	 2017-04-07 02:00:00 	 to 	 2017-04-07 02:09:50 | column T | NaN streak length: 60
Enumeration 43357 of 43828 | From 	 2017-04-08 02:00:00 	 to 	 2017-04-08 02:09:50 | column T | NaN streak length: 60
Enumeration 43358 of 43828 | From 	 2017-04-09 02:00:00 	 to 	 2017-04-09 02:09:50 | column T | NaN streak length: 60
Enumeration 43359 of 43828 | From 	 2017-04-10 02:00:00 	 to 	 2017-04-10 02:09:50 | column T | NaN streak length: 60
Enumeration 43360 of 43828 | From 	 2017-04-11 02:00:00 	 to 	 2017-04-11 02:09:50 | column T | NaN streak length: 60
Enumeration 43361 of 43828 | From 	 2017-04-12 02:00:00 	 to 	 2017-04-12 02:09:50 | column T | NaN streak length: 60
Enumeration 43362 of 43828 | From 	 2017-04-13 02:00:00 	 to 	 2017-04-13 02:09:50 | column T | NaN streak length: 60
Enumeration 43363 of 43828 | From 	 2017-04-14 02:00:00 	 to 	 2017-04-14 02:09:50 | column T | NaN streak length: 60
Enumeration 43364 of 43828 | From 	 2017-04-15 02:00:00 	 to 	 2017-04-15 02:09:50 | column T | NaN streak length: 60
Enumeration 43365 of 43828 | From 	 2017-04-16 02:00:00 	 to 	 2017-04-16 02:09:50 | column T | NaN streak length: 60
Enumeration 43366 of 43828 | From 	 2017-04-17 02:00:00 	 to 	 2017-04-17 02:09:50 | column T | NaN streak length: 60
Enumeration 43367 of 43828 | From 	 2017-04-18 02:00:00 	 to 	 2017-04-18 02:09:50 | column T | NaN streak length: 60
Enumeration 43368 of 43828 | From 	 2017-04-19 02:00:00 	 to 	 2017-04-19 02:09:50 | column T | NaN streak length: 60
Enumeration 43369 of 43828 | From 	 2017-04-20 02:00:00 	 to 	 2017-04-20 02:09:50 | column T | NaN streak length: 60
Enumeration 43370 of 43828 | From 	 2017-04-21 02:00:00 	 to 	 2017-04-21 02:09:50 | column T | NaN streak length: 60
Enumeration 43371 of 43828 | From 	 2017-04-22 02:00:00 	 to 	 2017-04-22 02:09:50 | column T | NaN streak length: 60
Enumeration 43372 of 43828 | From 	 2017-04-23 02:00:00 	 to 	 2017-04-23 02:09:50 | column T | NaN streak length: 60
Enumeration 43373 of 43828 | From 	 2017-04-24 02:00:00 	 to 	 2017-04-24 02:09:50 | column T | NaN streak length: 60
Enumeration 43374 of 43828 | From 	 2017-04-25 02:00:00 	 to 	 2017-04-25 02:09:50 | column T | NaN streak length: 60
Enumeration 43375 of 43828 | From 	 2017-04-26 02:00:00 	 to 	 2017-04-26 02:09:50 | column T | NaN streak length: 60
Enumeration 43376 of 43828 | From 	 2017-04-27 02:00:00 	 to 	 2017-04-27 02:09:50 | column T | NaN streak length: 60
Enumeration 43377 of 43828 | From 	 2017-04-28 02:00:00 	 to 	 2017-04-28 02:09:50 | column T | NaN streak length: 60
Enumeration 43378 of 43828 | From 	 2017-04-29 02:00:00 	 to 	 2017-04-29 02:09:50 | column T | NaN streak length: 60
Enumeration 43379 of 43828 | From 	 2017-04-30 02:00:00 	 to 	 2017-04-30 02:09:50 | column T | NaN streak length: 60

Removed 29514 rows
df_nan_table length: 24
Enumeration 2 of 24 | From 	 2017-04-04 18:00:00 	 to 	 2017-04-07 07:00:00 | column eMeter | NaN streak length: 62
Enumeration 14 of 24 | From 	 2017-04-04 18:00:00 	 to 	 2017-04-07 07:00:00 | column ePower | NaN streak length: 62
Enumeration 20 of 24 | From 	 2017-04-04 18:00:00 	 to 	 2017-04-07 07:00:00 | column gasMeter | NaN streak length: 62
Dropping NaN streaks > threshold
Removed 62 rows
----- dwelling_information -----
----- process_dfs -----
Processing df_10s
Amount of NaNs left in df_10s_processed: 118941
Processing df_hour
Amount of NaNs left in df_hour_processed: 259
----- save_df_interpolated -----
Saved processed df: P01S01W5855_10s
Saved processed df: P01S01W5855_hour
------------------------------ FINISHED iteration 0 in 78.1 [s]
Total runtime: 78.5 [s]

'\nWhat slows down the code a lot:\ndf_nan_checker\nclean_datetime\n'

In [5]:
df_10s

,eMeter,eMeterReturn,eMeterLow,eMeterLowReturn,ePower,ePowerReturn,gasMeter,gasPower,DD,DR,...,P,Q,RG,SQ,T,T10,TD,U,VV,WW
datetime,,,,,,,,,,,,,,,,,,,,,
2017-03-07 07:34:20,2457.402100,0.000000,2370.063965,0.000000,551.0,0.0,2073.334961,0.0,286.500000,0.0,...,1011.400024,0.0,0.0,0.0000,5.600000,4.200000,4.8,94.0,10900.0,2.0
2017-03-07 07:34:30,2457.404053,0.000000,2370.063965,0.000000,550.0,0.0,2073.334961,0.0,286.500000,0.0,...,1011.400024,0.0,0.0,0.0000,5.600000,4.200000,4.8,94.0,10900.0,2.0
2017-03-07 07:34:40,2457.406006,0.000000,2370.063965,0.000000,554.0,0.0,2073.334961,0.0,286.500000,0.0,...,1011.400024,0.0,0.0,0.0000,5.600000,4.200000,4.8,94.0,10900.0,2.0
2017-03-07 07:34:50,2457.406982,0.000000,2370.063965,0.000000,547.0,0.0,2073.334961,0.0,286.500000,0.0,...,1011.400024,0.0,0.0,0.0000,5.600000,4.200000,4.8,94.0,10900.0,2.0
2017-03-07 07:35:00,2457.408936,0.000000,2370.063965,0.000000,549.0,0.0,2073.334961,0.0,286.500000,0.0,...,1011.400024,0.0,0.0,0.0000,5.600000,4.200000,4.8,94.0,10900.0,2.0
2017-03-07 07:35:10,2457.409912,0.000000,2370.063965,0.000000,544.0,0.0,2073.334961,0.0,286.500000,0.0,...,1011.400024,0.0,0.0,0.0000,5.600000,4.200000,4.8,94.0,10900.0,2.0
2017-03-07 07:35:20,2457.412109,0.000000,2370.063965,0.000000,546.0,0.0,2073.334961,0.0,286.500000,0.0,...,1011.400024,0.0,0.0,0.0000,5.600000,4.200000,4.8,94.0,10900.0,2.0
2017-03-07 07:35:30,2457.413086,0.000000,2370.063965,0.000000,487.0,0.0,2073.334961,0.0,286.500000,0.0,...,1011.400024,0.0,0.0,0.0000,5.600000,4.200000,4.8,94.0,10900.0,2.0
2017-03-07 07:35:40,2457.414062,0.000000,2370.063965,0.000000,487.0,0.0,2073.334961,0.0,286.500000,0.0,...,1011.400024,0.0,0.0,0.0000,5.600000,4.200000,4.8,94.0,10900.0,2.0
2017-03-07 07:35:50,2457.416016,0.000000,2370.063965,0.000000,486.0,0.0,2073.334961,0.0,286.500000,0.0,...,1011.400024,0.0,0.0,0.0000,5.600000,4.200000,4.8,94.0,10900.0,2.0
2017-03-07 07:36:00,2457.416992,0.000000,2370.063965,0.000000,488.0,0.0,2073.334961,0.0,286.500000,0.0,...,1011.400024,0.0,0.0,0.0000,5.600000,4.200000,4.8,94.0,10900.0,2.0
2017-03-07 07:36:10,2457.418945,0.000000,2370.063965,0.000000,490.0,0.0,2073.334961,0.0,286.500000,0.0,...,1011.400024,0.0,0.0,0.0000,5.600000,4.200000,4.8,94.0,10900.0,2.0
2017-03-07 07:36:20,2457.419922,0.000000,2370.063965,0.000000,487.0,0.0,2073.334961,0.0,286.500000,0.0,...,1011.400024,0.0,0.0,0.0000,5.600000,4.200000,4.8,94.0,10900.0,2.0
2017-03-07 07:36:30,2457.420898,0.000000,2370.063965,0.000000,490.0,0.0,2073.334961,0.0,286.500000,0.0,...,1011.400024,0.0,0.0,0.0000,5.600000,4.200000,4.8,94.0,10900.0,2.0
2017-03-07 07:36:40,2457.423096,0.000000,2370.063965,0.000000,490.0,0.0,2073.334961,0.0,286.500000,0.0,...,1011.400024,0.0,0.0,0.0000,5.600000,4.200000,4.8,94.0,10900.0,2.0
2017-03-07 07:36:50,2457.424072,0.000000,2370.063965,0.000000,490.0,0.0,2073.334961,0.0,286.500000,0.0,...,1011.400024,0.0,0.0,0.0000,5.600000,4.200000,4.8,94.0,10900.0,2.0
2017-03-07 07:37:00,2457.425049,0.000000,2370.063965,0.000000,487.0,0.0,2073.334961,0.0,286.500000,0.0,...,1011.400024,0.0,0.0,0.0000,5.600000,4.200000,4.8,94.0,10900.0,2.0
2017-03-07 07:37:10,2457.427002,0.000000,2370.063965,0.000000,487.0,0.0,2073.334961,0.0,286.500000,0.0,...,1011.400024,0.0,0.0,0.0000,5.600000,4.200000,4.8,94.0,10900.0,2.0
2017-03-07 07:37:20,2457.427979,0.000000,2370.063965,0.000000,487.0,0.0,2073.334961,0.0,286.500000,0.0,...,1011.400024,0.0,0.0,0.0000,5.600000,4.200000,4.8,94.0,10900.0,2.0
2017-03-07 07:37:30,2457.428955,0.000000,2370.063965,0.000000,491.0,0.0,2073.334961,0.0,286.500000,0.0,...,1011.400024,0.0,0.0,0.0000,5.600000,4.200000,4.8,94.0,10900.0,2.0
2017-03-07 07:37:40,2457.430908,0.000000,2370.063965,0.000000,487.0,0.0,2073.334961,0.0,286.500000,0.0,...,1011.400024,0.0,0.0,0.0000,5.600000,4.200000,4.8,94.0,10900.0,2.0
2017-03-07 07:37:50,2457.431885,0.000000,2370.063965,0.000000,487.0,0.0,2073.334961,0.0,286.500000,0.0,...,1011.400024,0.0,0.0,0.0000,5.600000,4.200000,4.8,94.0,10900.0,2.0
2017-03-07 07:38:00,2457.433105,0.000000,2370.063965,0.000000,488.0,0.0,2073.334961,0.0,286.500000,0.0,...,1011.400024,0.0,0.0,0.0000,5.600000,4.200000,4.8,94.0,10900.0,2.0
2017-03-07 07:38:10,2457.435059,0.000000,2370.063965,0.000000,487.0,0.0,2073.334961,0.0,286.500000,0.0,...,1011.400024,0.0,0.0,0.0000,5.600000,4.200000,4.8,94.0,10900.0,2.0
2017-03-07 07:38:20,2457.436035,0.000000,2370.063965,0.000000,485.0,0.0,2073.334961,0.0,286.500000,0.0,...,1011.400024,0.0,0.0,0.0000,5.600000,4.200000,4.8,94.0,10900.0,2.0
2017-03-07 07:38:30,2457.437988,0.000000,2370.063965,0.000000,487.0,0.0,2073.334961,0.0,286.500000,0.0,...,1011.400024,0.0,0.0,0.0000,5.600000,4.200000,4.8,94.0,10900.0,2.0
2017-03-07 07:38:40,2457.438965,0.000000,2370.063965,0.000000,489.0,0.0,2073.334961,0.0,286.500000,0.0,...,1011.400024,0.0,0.0,0.0000,5.600000,4.200000,4.8,94.0,10900.0,2.0
2017-03-07 07:38:50,2457.439941,0.000000,2370.063965,0.000000,488.0,0.0,2073.334961,0.0,286.500000,0.0,...,1011.400024,0.0,0.0,0.0000,5.600000,4.200000,4.8,94.0,10900.0,2.0
2017-03-07 07:39:00,2457.441895,0.000000,2370.063965,0.000000,489.0,0.0,2073.334961,0.0,286.500000,0.0,...,1011.400024,0.0,0.0,0.0000,5.600000,4.200000,4.8,94.0,10900.0,2.0
2017-03-07 07:39:10,2457.443115,0.000000,2370.063965,0.000000,484.0,0.0,2073.334961,0.0,286.500000,0.0,...,1011.400024,0.0,0.0,0.0000,5.600000,4.200000,4.8,94.0,10900.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-05-29 09:55:10,2636.477051,509.513000,2697.496094,308.527008,0.0,1126.0,2293.133057,0.0,89.900002,0.0,...,1011.700012,403.0,0.0,10.0000,21.000000,21.500000,13.3,61.0,32200.0,1.0
2017-05-29 09:55:20,2636.477051,509.516998,2697.496094,308.527008,0.0,1137.0,2293.133057,0.0,89.900002,0.0,...,1011.700012,403.0,0.0,10.0000,21.000000,21.500000,13.3,61.0,32200.0,1.0
2017-05-29 09:55:30,2636.477051,509.519989,2697.496094,308.527008,0.0,1135.0,2293.133057,0.0,89.900002,0.0,...,1011.700012,403.0,0.0,10.0000,21.000000,21.500000,13.3,61.0,32200.0,1.0
2017-05-29 09:55:40,2636.477051,509.523010,2697.496094,308.527008,0.0,1136.0,2293.133057,0.0,89.900002,0.0,...,1011.700012,403.0,0.0,10.0000,21.000000,21.500000,13.3,61.0,32200.0,1.0
2017-05-29 09:55:50,2636.477051,509.526001,2697.496094,308.527008,0.0,1146.0,2293.133057,0.0,89.900002,0.0,...,1011.700012,403.0,0.0,10.0000,21.000000,21.500000,13.3,61.0,32200.0,1.0
2017-05-29 09:56:00,2636.477051,509.528992,2697.496094,308.527008,0.0,1150.0,2293.133057,0.0,89.900002,0.0,...,1011.700012,403.0,0.0,10.0000,21.000000,21.500000,13.3,61.0,32200.0,1.0
2017-05-29 09:56:10,2636.477051,509.535492,2697.496094,308.527008,0.0,1599.0,2293.133057,0.0,89.900002,0.0,...,1011.700012,403.0,0.0,10.0000,21.000000,21.500000,13.3,61.0,32200.0,1.0
2017-05-29 09:56:20,2636.477051,509.541992,2697.496094,308.527008,0.0,1635.0,2293.133057,0.0,89.900002,0.0,...,1011.700012,403.0,0.0,10.0000,21.000000,21.500000,13.3,61.0,32200.0,1.0
2017-05-29 09:56:30,2636.477051,509.545990,2697.496094,308.527008,0.0,1642.0,2293.133057,0.0,89.900002,0.0,...,1011.700012,403.0,0.0,10.0000,21.000000,21.500000,13.3,61.0,32200.0,1.0
2017-05-29 09:56:40,2636.477051,509.550995,2697.496094,308.527008,0.0,1660.0,2293.133057,0.0,89.900002,0.0,...,1011.700012,403.0,0.0,10.0000,21.000000,21.500000,13.3,61.0,32200.0,1.0
2017-05-29 09:56:50,2636.477051,509.556000,2697.496094,308.527008,0.0,1680.0,2293.133057,0.0,89.900002,0.0,...,1011.700012,403.0,0.0,10.0000,21.000000,21.500000,13.3,61.0,32200.0,1.0
2017-05-29 09:57:00,2636.477051,509.559998,2697.496094,308.527008,0.0,1731.0,2293.133057,0.0,89.900002,0.0,...,1011.700012,403.0,0.0,10.0000,21.000000,21.500000,13.3,61.0,32200.0,1.0
2017-05-29 09:57:10,2636.477051,509.562500,NaN,308.527008,NaN,NaN,2293.133057,0.0,89.900002,0.0,...,1011.700012,403.0,0.0,10.0000,21.000000,21.500000,13.3,61.0,32200.0,1.0
2017-05-29 09:57:20,2636.477051,509.565002,2697.496094,308.527008,0.0,1735.0,2293.133057,0.0,89.900002,0.0,...,1011.700012,403.0,0.0,10.0000,21.000000,21.500000,13.3,61.0,32200.0,1.0
2017-05-29 09:57:30,2636.477051,509.570007,2697.496094,308.527008,0.0,1759.0,2293.133057,0.0,89.900002,0.0,...,1011.700012,403.0,0.0,10.0000,21.000000,21.500000,13.3,61.0,32200.0,1.0
2017-05-29 09:57:40,2636.477051,509.575012,2697.496094,308.527008,0.0,1771.0,2293.133057,0.0,89.900002,0.0,...,1011.700012,403.0,0.0,10.0000,21.000000,21.500000,13.3,61.0,32200.0,1.0
2017-05-29 09:57:50,2636.477051,509.579987,2697.496094,308.527008,0.0,1782.0,2293.133057,0.0,89.900002,0.0,...,1011.700012,403.0,0.0,10.0000,21.000000,21.500000,13.3,61.0,32200.0,1.0
2017-05-29 09:58:00,2636.477051,509.584991,2697.496094,308.527008,0.0,1785.0,2293.133057,0.0,89.900002,0.0,...,1011.700012,403.0,0.0,10.0000,21.000000,21.500000,13.3,61.0,32200.0,1.0
2017-05-29 09:58:10,2636.477051,509.592499,2697.496094,308.527008,0.0,1762.0,2293.133057,0.0,89.900002,0.0,...,1011.700012,403.0,0.0,10.0000,21.000000,21.500000,13.3,61.0,32200.0,1.0
2017-05-29 09:58:20,2636.477051,509.600006,2697.496094,308.527008,0.0,1685.0,2293.133057,0.0,89.900002,0.0,...,1011.700012,403.0,0.0,10.0000,21.000000,21.500000,13.3,61.0,32200.0,1.0
2017-05-29 09:58:30,2636.477051,509.604004,2697.496094,308.527008,0.0,1871.0,2293.133057,0.0,89.900002,0.0,...,1011.700012,403.0,0.0,10.0000,21.000000,21.500000,13.3,61.0,32200.0,1.0
2017-05-29 09:58:40,2636.477051,509.609009,2697.496094,308.527008,0.0,1917.0,2293.133057,0.0,89.900002,0.0,...,1011.700012,403.0,0.0,10.0000,21.000000,21.500000,13.3,61.0,32200.0,1.0
2017-05-29 09:58:50,2636.477051,509.614990,2697.496094,308.527008,0.0,1936.0,2293.133057,0.0,89.900002,0.0,...,1011.700012,403.0,0.0,10.0000,21.000000,21.500000,13.3,61.0,32200.0,1.0
2017-05-29 09:59:00,2636.477051,509.619995,2697.496094,308.527008,0.0,1941.0,2293.133057,0.0,89.900002,0.0,...,1011.700012,403.0,0.0,10.0000,21.000000,21.500000,13.3,61.0,32200.0,1.0
2017-05-29 09:59:10,2636.477051,509.626007,2697.496094,308.527008,0.0,1944.0,2293.133057,0.0,89.900002,0.0,...,1011.700012,403.0,0.0,10.0000,21.000000,21.500000,13.3,61.0,32200.0,1.0
2017-05-29 09:59:20,2636.477051,509.628510,NaN,308.527008,NaN,NaN,2293.133057,0.0,89.900002,0.0,...,1011.700012,403.0,0.0,10.0000,21.000000,21.500000,13.3,61.0,32200.0,1.0
2017-05-29 09:59:30,2636.477051,509.631012,2697.496094,308.527008,0.0,1951.0,2293.133057,0.0,89.900002,0.0,...,1011.700012,403.0,0.0,10.0000,21.000000,21.500000,13.3,61.0,32200.0,1.0
2017-05-29 09:59:40,2636.477051,509.636993,2697.496094,308.527008,0.0,1941.0,2293.133057,0.0,89.900002,0.0,...,1011.700012,403.0,0.0,10.0000,21.000000,21.500000,13.3,61.0,32200.0,1.0
2017-05-29 09:59:50,2636.477051,509.641998,2697.496094,308.527008,0.0,1951.0,2293.133057,0.0,89.900002,0.0,...,1011.700012,403.0,0.0,10.0000,21.000000,21.500000,13.3,61.0,32200.0,1.0
2017-05-29 10:00:00,2636.477051,509.648010,2697.496094,308.527008,0.0,1919.0,2293.133057,0.0,97.500000,0.0,...,1011.700012,370.0,0.0,1.3653,21.299999,21.799999,14.2,64.0,33700.0,3.0