In [65]:
import pandas as pd
import matplotlib.pyplot as plt

In [66]:
df = pd.read_csv('/home/16080696/notebooks/KB-74-OPSCHALER/Personal_folders/Pol/dataset_poging_5.csv', header=0)

In [64]:
df

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location,PdId
0,50436712,ASSAULT,BATTERY,Wednesday,4/20/2005 0:00,4:00:00 AM,MISSION,NONE,18TH ST / CASTRO ST,-1.224350e+14,3.776090e+14,"{'latitude': '37.7608878061245', 'human_addres...",5.043670e+12
1,80049078,LARCENY/THEFT,GRAND THEFT FROM A BUILDING,Sunday,1/13/2008 0:00,6:00:00 PM,PARK,NONE,1100 Block of CLAYTON ST,-1.224470e+14,3.776230e+14,"{'latitude': '37.7622550270122', 'human_addres...",8.004910e+12
2,130366639,ASSAULT,AGGRAVATED ASSAULT WITH A KNIFE,Sunday,5/5/2013 0:00,4:10:00 AM,INGLESIDE,"ARREST, BOOKED",0 Block of SGTJOHNVYOUNG LN,-1.224450e+14,3.772490e+14,"{'latitude': '37.7249307267936', 'human_addres...",1.303670e+13
3,30810835,DRIVING UNDER THE INFLUENCE,DRIVING WHILE UNDER THE INFLUENCE OF ALCOHOL,Tuesday,7/8/2003 0:00,1:00:00 AM,SOUTHERN,"ARREST, BOOKED",MASON ST / TURK ST,-1.224090e+14,3.778330e+14,"{'latitude': '37.7832878735491', 'human_addres...",3.081080e+12
4,130839567,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Friday,10/4/2013 0:00,8:53:00 PM,TENDERLOIN,"ARREST, BOOKED",TURK ST / LEAVENWORTH ST,-1.224140e+14,3.778280e+14,"{'latitude': '37.7827931071006', 'human_addres...",1.308400e+13

In [74]:
df['Address'] = df['Address'].astype(str)
df['Y'] = df['Y'].astype(int)

In [77]:
print(df.Address.loc[0]+df.Address.loc[3])
print(df.Y.iloc[0]+df.Y.iloc[3])

18TH ST / CASTRO STMASON ST / TURK ST
755442000000000

In [84]:
x = df['Address']
y = df['Y']

In [86]:
df

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location,PdId
0,50436712,ASSAULT,BATTERY,Wednesday,4/20/2005 0:00,4:00:00 AM,MISSION,NONE,18TH ST / CASTRO ST,-1.224350e+14,377609000000000,"{'latitude': '37.7608878061245', 'human_addres...",5.043670e+12
1,80049078,LARCENY/THEFT,GRAND THEFT FROM A BUILDING,Sunday,1/13/2008 0:00,6:00:00 PM,PARK,NONE,1100 Block of CLAYTON ST,-1.224470e+14,377623000000000,"{'latitude': '37.7622550270122', 'human_addres...",8.004910e+12
2,130366639,ASSAULT,AGGRAVATED ASSAULT WITH A KNIFE,Sunday,5/5/2013 0:00,4:10:00 AM,INGLESIDE,"ARREST, BOOKED",0 Block of SGTJOHNVYOUNG LN,-1.224450e+14,377249000000000,"{'latitude': '37.7249307267936', 'human_addres...",1.303670e+13
3,30810835,DRIVING UNDER THE INFLUENCE,DRIVING WHILE UNDER THE INFLUENCE OF ALCOHOL,Tuesday,7/8/2003 0:00,1:00:00 AM,SOUTHERN,"ARREST, BOOKED",MASON ST / TURK ST,-1.224090e+14,377833000000000,"{'latitude': '37.7832878735491', 'human_addres...",3.081080e+12
4,130839567,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Friday,10/4/2013 0:00,8:53:00 PM,TENDERLOIN,"ARREST, BOOKED",TURK ST / LEAVENWORTH ST,-1.224140e+14,377828000000000,"{'latitude': '37.7827931071006', 'human_addres...",1.308400e+13