In [3]:
import pandas as pd
import matplotlib as plt
df=pd.read_csv('/datc/opschaler/combined_dfs_gas_smart_weather/P01S01W0373_merged_gas_smart_weather.csv',header=0,delimiter='\t')

In [4]:
df.head()

,datetime,eMeter,eMeterReturn,eMeterLow,eMeterLowReturn,ePower,ePowerReturn,gasMeter,gasPower,DD,...,P,Q,RG,SQ,T,T10,TD,U,VV,WW
0,2017-03-07 18:14:20,3717.472,0.0,3883.382,0.0,376.0,0.0,1599.838344,0.000539,245.363333,...,1018.543333,1.0,0.0,0.0,6.656667,6.256667,3.656667,81.0,21280.0,2.0
1,2017-03-07 18:14:30,3717.473,0.0,3883.382,0.0,381.0,0.0,1599.838883,0.000539,245.335000,...,1018.545000,1.0,0.0,0.0,6.655000,6.255000,3.655000,81.0,21310.0,2.0
2,2017-03-07 18:14:40,3717.474,0.0,3883.382,0.0,378.0,0.0,1599.839422,0.000539,245.306667,...,1018.546667,1.0,0.0,0.0,6.653333,6.253333,3.653333,81.0,21340.0,2.0
3,2017-03-07 18:14:50,3717.475,0.0,3883.382,0.0,376.0,0.0,1599.839961,0.000539,245.278333,...,1018.548333,1.0,0.0,0.0,6.651667,6.251667,3.651667,81.0,21370.0,2.0
4,2017-03-07 18:15:00,3717.476,0.0,3883.382,0.0,380.0,0.0,1599.840500,0.000539,245.250000,...,1018.550000,1.0,0.0,0.0,6.650000,6.250000,3.650000,81.0,21400.0,2.0

NameError: name 'sns' is not defined