In [1]:
import pandas as pd 
import glob

In [2]:
weather=pd.read_csv('//datc//opschaler//weather_data//weather.csv',delimiter='\t',comment='#',parse_dates=['datetime'])
weather=weather.set_index(['datetime'])
weather.head()

,DD,DR,FF,FX,N,P,Q,RG,SQ,T,T10,TD,U,VV,WW
datetime,,,,,,,,,,,,,,,
2015-01-01 00:20:00,200.700000,0.0,4.970000,6.900,0.0,1033.900000,0.0,0.0,0.0,3.200000,2.300000,1.000000,85.0,3650.000000,10.0
2015-01-01 00:20:10,200.838333,0.0,4.967833,6.899,0.0,1033.906667,0.0,0.0,0.0,3.198333,2.296667,0.998333,85.0,3641.683333,10.0
2015-01-01 00:20:20,200.976667,0.0,4.965667,6.898,0.0,1033.913333,0.0,0.0,0.0,3.196667,2.293333,0.996667,85.0,3633.366667,10.0
2015-01-01 00:20:30,201.115000,0.0,4.963500,6.897,0.0,1033.920000,0.0,0.0,0.0,3.195000,2.290000,0.995000,85.0,3625.050000,10.0
2015-01-01 00:20:40,201.253333,0.0,4.961333,6.896,0.0,1033.926667,0.0,0.0,0.0,3.193333,2.286667,0.993333,85.0,3616.733333,10.0

In [3]:
#READING ALL EXCELS
path='/datc/opschaler/smartmeter_data'
filenames = glob.glob(path + "/*.csv")

In [4]:
dfs_smart=[]
dfs_gas=[]

for f in filenames:
    df = pd.read_csv(f,delimiter=';', parse_dates=['Timestamp','gasTimestamp'],header=0)
    
    df=df.rename(index=str,columns={"Timestamp":"datetime"})
    df=df.rename(index=str,columns={"gasTimestamp":"datetime"})
    
    smart=df.iloc[:,:7]
    gas=df.iloc[:,7:]
    
    smart=smart.set_index(['datetime'])
    gas=gas.set_index(['datetime'])
    
    dfs_smart.append(smart)
    dfs_gas.append(gas)

In [20]:
dfs_smart[3]

,eMeter,eMeterReturn,eMeterLow,eMeterLowReturn,ePower,ePowerReturn
datetime,,,,,,
2017-03-07 16:45:39,4108.425,0.0,4623.579,0.0,190.0,0.0
2017-03-07 16:45:49,4108.425,0.0,4623.579,0.0,191.0,0.0
2017-03-07 16:45:59,4108.426,0.0,4623.579,0.0,99.0,0.0
2017-03-07 16:46:09,4108.426,0.0,4623.579,0.0,101.0,0.0
2017-03-07 16:46:19,4108.426,0.0,4623.579,0.0,97.0,0.0
2017-03-07 16:46:29,4108.427,0.0,4623.579,0.0,98.0,0.0
2017-03-07 16:46:39,4108.427,0.0,4623.579,0.0,99.0,0.0
2017-03-07 16:46:49,4108.427,0.0,4623.579,0.0,98.0,0.0
2017-03-07 16:46:59,4108.428,0.0,4623.579,0.0,100.0,0.0
2017-03-07 16:47:09,4108.428,0.0,4623.579,0.0,97.0,0.0
2017-03-07 16:47:19,4108.428,0.0,4623.579,0.0,100.0,0.0
2017-03-07 16:47:29,4108.428,0.0,4623.579,0.0,99.0,0.0
2017-03-07 16:47:39,4108.429,0.0,4623.579,0.0,97.0,0.0
2017-03-07 16:47:49,4108.429,0.0,4623.579,0.0,99.0,0.0
2017-03-07 16:47:59,4108.429,0.0,4623.579,0.0,100.0,0.0
2017-03-07 16:48:09,4108.429,0.0,4623.579,0.0,97.0,0.0
2017-03-07 16:48:19,4108.430,0.0,4623.579,0.0,98.0,0.0
2017-03-07 16:48:29,4108.430,0.0,4623.579,0.0,100.0,0.0
2017-03-07 16:48:39,4108.430,0.0,4623.579,0.0,99.0,0.0
2017-03-07 16:48:49,4108.431,0.0,4623.579,0.0,97.0,0.0
2017-03-07 16:48:59,4108.431,0.0,4623.579,0.0,99.0,0.0
2017-03-07 16:49:09,4108.431,0.0,4623.579,0.0,97.0,0.0
2017-03-07 16:49:19,4108.431,0.0,4623.579,0.0,101.0,0.0
2017-03-07 16:49:29,4108.432,0.0,4623.579,0.0,97.0,0.0
2017-03-07 16:49:39,4108.432,0.0,4623.579,0.0,98.0,0.0
2017-03-07 16:49:49,4108.432,0.0,4623.579,0.0,99.0,0.0
2017-03-07 16:49:59,4108.432,0.0,4623.579,0.0,98.0,0.0
2017-03-07 16:50:09,4108.433,0.0,4623.579,0.0,99.0,0.0
2017-03-07 16:50:19,4108.433,0.0,4623.579,0.0,97.0,0.0
2017-03-07 16:50:29,4108.433,0.0,4623.579,0.0,97.0,0.0
...,...,...,...,...,...,...
2017-03-28 12:18:05,4237.865,0.0,4777.671,0.0,310.0,0.0
2017-03-28 12:18:15,4237.865,0.0,4777.671,0.0,311.0,0.0
2017-03-28 12:18:25,4237.866,0.0,4777.671,0.0,311.0,0.0
2017-03-28 12:18:35,4237.867,0.0,4777.671,0.0,315.0,0.0
2017-03-28 12:18:45,4237.868,0.0,4777.671,0.0,309.0,0.0
2017-03-28 12:18:55,4237.869,0.0,4777.671,0.0,310.0,0.0
2017-03-28 12:19:05,4237.870,0.0,4777.671,0.0,311.0,0.0
2017-03-28 12:19:15,4237.871,0.0,4777.671,0.0,313.0,0.0
2017-03-28 12:19:25,4237.871,0.0,4777.671,0.0,310.0,0.0
2017-03-28 12:19:35,4237.872,0.0,4777.671,0.0,311.0,0.0
2017-03-28 12:19:45,4237.873,0.0,4777.671,0.0,316.0,0.0
2017-03-28 12:19:55,4237.874,0.0,4777.671,0.0,310.0,0.0
2017-03-28 12:20:05,4237.875,0.0,4777.671,0.0,309.0,0.0
2017-03-28 12:20:15,4237.876,0.0,4777.671,0.0,311.0,0.0
2017-03-28 12:20:25,4237.877,0.0,4777.671,0.0,310.0,0.0
2017-03-28 12:20:35,4237.878,0.0,4777.671,0.0,311.0,0.0
2017-03-28 12:20:45,4237.878,0.0,4777.671,0.0,311.0,0.0
2017-03-28 12:20:55,4237.879,0.0,4777.671,0.0,310.0,0.0
2017-03-28 12:21:05,4237.880,0.0,4777.671,0.0,309.0,0.0
2017-03-28 12:21:15,4237.881,0.0,4777.671,0.0,217.0,0.0
2017-03-28 12:21:25,4237.882,0.0,4777.671,0.0,218.0,0.0
2017-03-28 12:21:35,4237.882,0.0,4777.671,0.0,219.0,0.0
2017-03-28 12:21:46,4237.883,0.0,4777.671,0.0,217.0,0.0
2017-03-28 12:21:56,4237.883,0.0,4777.671,0.0,218.0,0.0
2017-03-28 12:22:06,4237.884,0.0,4777.671,0.0,218.0,0.0
2017-03-28 12:22:16,4237.885,0.0,4777.671,0.0,216.0,0.0
2017-03-28 12:22:26,4237.885,0.0,4777.671,0.0,217.0,0.0
2017-03-28 12:22:36,4237.886,0.0,4777.671,0.0,219.0,0.0
<br />,NaN,NaN,NaN,NaN,NaN,NaN
<b>Fatal error</b>: Allowed memory size of 134217728 bytes exhausted (tried to allocate 32 bytes) in <b>D:\wamp\www\opschaler\downloaddata.php</b> on line <b>21</b><br />,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
"""
NaN is a missing row()
"""

t = dfs_smart[3].resample('10s').mean()
t.head()

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Index'

In [15]:
dfs_smart_resampled = []

for f in dfs_smart:
    f = f.resample('10s').mean()
    dfs_smart_resampled.append(f)

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Index'

In [ ]:
dfs_smart_resampled[0]