"""files: keijzer_hhs_toa_*

stn= Rotterdam(344)
lcd= locatie 
datum= JJJJMMDD
tijd= in UT (1200 UT = 1300 MET = 1400 MEZT)
WW=Weercode automatisch station in code.
VV=Horizontaal zicht (10 min. gemiddeld) in meters.
P=Luchtdruk op NAP (MSL)  (1 min. gem.) in hPa.
Indien een gegeven ontbreekt dan spaties op de betreffende posities.
  stn,lcd     ,datum   ,tijd,    WW,    VV,P 
  344,24t     ,20150101,  10,    10,  4150,1034.0
  344,24t     ,20150101,  20,    10,  3650,1033.9
  344,24t     ,20150101,  30,    10,  3151,1034.3
  344,24t     ,20150101,  40,    10,  5830,1034.1

files: keijzer_hhs_toc_*

stn= Rotterdam(344)
lcd= locatie 
datum= JJJJMMDD
tijd= in UT (1200 UT = 1300 MET = 1400 MEZT)
N=Totale bedekkingsgraad bewolking in okta.
Indien een gegeven ontbreekt dan spaties op de betreffende posities.
  stn,lcd     ,datum   ,tijd,     N
  344,24t     ,20150101,  10,     0
  344,24t     ,20150101,  20,     0
  344,24t     ,20150101,  30,     0
  344,24t     ,20150101,  40,     0

files: keijzer_hhs_tor_*

stn= Rotterdam(344)
lcd= locatie 
datum= JJJJMMDD
tijd= in UT (1200 UT = 1300 MET = 1400 MEZT)
RG=Neerslag intensiteit  Regenmeter (10 min. gem.) in mm/uur.(delen door 6)
DR=Neerslagduur PWS (10 min. som) in seconden.(delen door 600)
Indien een gegeven ontbreekt dan spaties op de betreffende posities.
  stn,lcd     ,datum   ,tijd,    RG,    DR 
  344,24t     ,20150101,  10,     0,     0
  344,24t     ,20150101,  20,     0,     0
  344,24t     ,20150101,  30,     0,     0
  344,24t     ,20150101,  40,     0,     0

files: keijzer_hhs_tos_*

stn= Rotterdam(344)
lcd= locatie 
datum= JJJJMMDD
tijd= in UT (1200 UT = 1300 MET = 1400 MEZT)
Q=Globale straling 10 min. gemiddeld in W/m2.
SQ=Zonneschijnduur in minuten.
Indien een gegeven ontbreekt dan spaties op de betreffende posities.
  stn,lcd     ,datum   ,tijd,     Q,    SQ 
  344,24t     ,20150101,  10,     0,     0
  344,24t     ,20150101,  20,     0,     0
  344,24t     ,20150101,  30,     0,     0
  344,24t     ,20150101,  40,     0,     0

files: keijzer_hhs_tot_*

stn= Rotterdam(344)
lcd= locatie 
datum= JJJJMMDD
tijd= in UT (1200 UT = 1300 MET = 1400 MEZT)
T10=Minimum Gras temperatuur 10 cm (over 10 min) in graden Celsius.
TD=Dauwpunts temperatuur (1 min. gem) in graden Celsius.
T=Temperatuur 1 min gemiddeld (1,5 m hoogte) in graden Celsius.
U=Relatieve vochtigheid 1,5 m  1min. gemiddeld in procenten.
Indien een gegeven ontbreekt dan spaties op de betreffende posities.
  stn,lcd     ,datum   ,tijd,   T10,    TD,     T,     U 
  344,24t     ,20150101,  10,   2.2,   1.3,   3.5,    85
  344,24t     ,20150101,  20,   2.3,     1,   3.2,    85
  344,24t     ,20150101,  30,   2.1,    .9,   3.1,    85
  344,24t     ,20150101,  40,   2.1,     1,   3.4,    84


files: keijzer_hhs_tow_*

stn= Rotterdam(344)
lcd= locatie 
datum= JJJJMMDD
tijd= in UT (1200 UT = 1300 MET = 1400 MEZT)
DD=Gemiddelde windrichting in graden.
FF=Gemiddelde windsnelheid (op 10 m) in m/s.
FX=Maximum windstoot (op 10 m.) in m/s.
Indien een gegeven ontbreekt dan spaties op de betreffende posities.
  stn,lcd     ,datum   ,tijd,    DD,    FF,    FX
  344,24t     ,20150101,  10, 209.8,  5.36,  7.52
  344,24t     ,20150101,  20, 200.7,  4.97,   6.9
  344,24t     ,20150101,  30,   209,  4.84,  6.84
  344,24t     ,20150101,  40, 212.9,  5.03,   6.7
 """

In [15]:
import glob
import pandas as pd

dir = '//datc//opschaler//weather_data//knmi_10_min_raw_data//'
pattern = 'keijzer_hhs_****.LST'

files = glob.glob(dir+pattern) # Get a list of all the files

In [16]:
files

['//datc//opschaler//weather_data//knmi_10_min_raw_data/keijzer_hhs_tot_2017.LST',
 '//datc//opschaler//weather_data//knmi_10_min_raw_data/keijzer_hhs_toa_2018.LST',
 '//datc//opschaler//weather_data//knmi_10_min_raw_data/keijzer_hhs_tow_2016.LST',
 '//datc//opschaler//weather_data//knmi_10_min_raw_data/keijzer_hhs_tot_2016.LST',
 '//datc//opschaler//weather_data//knmi_10_min_raw_data/keijzer_hhs_tor_2015.LST',
 '//datc//opschaler//weather_data//knmi_10_min_raw_data/keijzer_hhs_tot_2015.LST',
 '//datc//opschaler//weather_data//knmi_10_min_raw_data/keijzer_hhs_toc_2017.LST',
 '//datc//opschaler//weather_data//knmi_10_min_raw_data/keijzer_hhs_toc_2018.LST',
 '//datc//opschaler//weather_data//knmi_10_min_raw_data/keijzer_hhs_tor_2018.LST',
 '//datc//opschaler//weather_data//knmi_10_min_raw_data/keijzer_hhs_toc_2016.LST',
 '//datc//opschaler//weather_data//knmi_10_min_raw_data/keijzer_hhs_tor_2016.LST',
 '//datc//opschaler//weather_data//knmi_10_min_raw_data/keijzer_hhs_toa_2016.LST',
 '//datc//opschaler//weather_data//knmi_10_min_raw_data/keijzer_hhs_tor_2017.LST',
 '//datc//opschaler//weather_data//knmi_10_min_raw_data/keijzer_hhs_tow_2017.LST',
 '//datc//opschaler//weather_data//knmi_10_min_raw_data/keijzer_hhs_tos_2017.LST',
 '//datc//opschaler//weather_data//knmi_10_min_raw_data/keijzer_hhs_toa_2015.LST',
 '//datc//opschaler//weather_data//knmi_10_min_raw_data/keijzer_hhs_tos_2016.LST',
 '//datc//opschaler//weather_data//knmi_10_min_raw_data/keijzer_hhs_tow_2018.LST',
 '//datc//opschaler//weather_data//knmi_10_min_raw_data/keijzer_hhs_tow_2015.LST',
 '//datc//opschaler//weather_data//knmi_10_min_raw_data/keijzer_hhs_toc_2015.LST',
 '//datc//opschaler//weather_data//knmi_10_min_raw_data/keijzer_hhs_tot_2018.LST',
 '//datc//opschaler//weather_data//knmi_10_min_raw_data/keijzer_hhs_tos_2015.LST',
 '//datc//opschaler//weather_data//knmi_10_min_raw_data/keijzer_hhs_tos_2018.LST',
 '//datc//opschaler//weather_data//knmi_10_min_raw_data/keijzer_hhs_toa_2017.LST']

In [35]:
# Get the file labels (tot, toa, tor, tow)

file_labels = []

for file in files:
    file_labels.append(file[-12:-9])

file_labels

['tot',
 'toa',
 'tow',
 'tot',
 'tor',
 'tot',
 'toc',
 'toc',
 'tor',
 'toc',
 'tor',
 'toa',
 'tor',
 'tow',
 'tos',
 'toa',
 'tos',
 'tow',
 'tow',
 'toc',
 'tot',
 'tos',
 'tos',
 'toa']

In [50]:
toa_names = ['stn', 'lcd', 'datum', 'tijd', 'WW', 'VV', 'P']
toc_names = ['stn', 'lcd', 'datum', 'tijd', 'N']
tor_names = ['stn', 'lcd', 'datum', 'tijd', 'RG', 'DR']
tos_names = ['stn', 'lcd', 'datum', 'tijd', 'Q', 'SQ']
tot_names = ['stn', 'lcd', 'datum', 'tijd', 'T10', 'TD', 'T', 'U']
tow_names = ['stn', 'lcd', 'datum', 'tijd', 'DD', 'FF', 'FX']

dfs = []

for i,file in enumerate(files):
    if file_labels[i] == 'toa':
        column_names = toa_names
    elif file_labels[i] == 'toc':
        column_names = toc_names
    elif file_labels[i] == 'tor':
        column_names = tor_names
    elif file_labels[i] == 'tos':
        column_names = tos_names
    elif file_labels[i] == 'tot':
        column_names = tot_names
    elif file_labels[i] == 'tow':
        column_names = tow_names
    else:
        print('Filelabel not known.')
        print('i = %s , file_labels = %s' %(i, file_labels[i]))
        
    df = pd.read_csv(file, header=0, names=column_names, parse_dates=['datum', 'tijd'])
    dfs.append(df)

In [53]:
dfs[1]

       stn       lcd      datum  tijd    WW       VV        P
0      344  24t      2018-01-01    20  23.0  20300.0   994.85
1      344  24t      2018-01-01    30   2.0  20400.0   994.75
2      344  24t      2018-01-01    40   2.0  21200.0   994.75
3      344  24t      2018-01-01    50  80.0  17600.0   994.65
4      344  24t      2018-01-01   100  81.0   9350.0   994.75
5      344  24t      2018-01-01   110  23.0  14200.0   994.75
6      344  24t      2018-01-01   120  81.0   9750.0   994.95
7      344  24t      2018-01-01   130  81.0  11700.0   995.05
8      344  24t      2018-01-01   140  81.0  10400.0   995.35
9      344  24t      2018-01-01   150  52.0  11600.0   995.65
10     344  24t      2018-01-01   200  23.0  16700.0   995.85
11     344  24t      2018-01-01   210  81.0  13800.0   996.35
12     344  24t      2018-01-01   220  23.0  22700.0   996.65
13     344  24t      2018-01-01   230  23.0  33300.0   997.05
14     344  24t      2018-01-01   240  23.0  25900.0   997.15
15     344  24t      2018-01-01   250  23.0  21800.0   997.35
16     344  24t      2018-01-01   300  23.0  23800.0   997.55
17     344  24t      2018-01-01   310  23.0  20400.0   997.75
18     344  24t      2018-01-01   320   2.0  23700.0   997.95
19     344  24t      2018-01-01   330   2.0  23800.0   998.25
20     344  24t      2018-01-01   340   2.0  24600.0   998.45
21     344  24t      2018-01-01   350   3.0  27600.0   998.75
22     344  24t      2018-01-01   400   3.0  24500.0   998.75
23     344  24t      2018-01-01   410   2.0  25200.0   998.85
24     344  24t      2018-01-01   420  80.0  22300.0   998.95
25     344  24t      2018-01-01   430  21.0  24300.0   999.05
26     344  24t      2018-01-01   440  21.0  28200.0   999.25
27     344  24t      2018-01-01   450  21.0  24600.0   999.35
28     344  24t      2018-01-01   500  21.0  23900.0   999.45
29     344  24t      2018-01-01   510  21.0  25700.0   999.55
...    ...       ...        ...   ...   ...      ...      ...
36401  344  24t      2018-09-10  1910   2.0  24900.0  1021.30
36402  344  24t      2018-09-10  1920   2.0  26500.0  1021.30
36403  344  24t      2018-09-10  1930   2.0  27300.0  1021.50
36404  344  24t      2018-09-10  1940   3.0  24300.0  1021.70
36405  344  24t      2018-09-10  1950   3.0  23900.0  1021.80
36406  344  24t      2018-09-10  2000   2.0  22900.0  1021.70
36407  344  24t      2018-09-10  2010   2.0  24200.0  1021.40
36408  344  24t      2018-09-10  2020   2.0  27000.0  1021.30
36409  344  24t      2018-09-10  2030   2.0  27400.0  1021.30
36410  344  24t      2018-09-10  2040   2.0  27900.0  1021.20
36411  344  24t      2018-09-10  2050   2.0  27000.0  1021.20
36412  344  24t      2018-09-10  2100   2.0  28500.0  1021.30
36413  344  24t      2018-09-10  2110   2.0  32100.0  1021.20
36414  344  24t      2018-09-10  2120   2.0  40300.0  1021.00
36415  344  24t      2018-09-10  2130   2.0  34000.0  1021.10
36416  344  24t      2018-09-10  2140   2.0  37500.0  1020.90
36417  344  24t      2018-09-10  2150   2.0  40700.0  1020.80
36418  344  24t      2018-09-10  2200   2.0  42500.0  1020.70
36419  344  24t      2018-09-10  2210   2.0  43600.0  1020.80
36420  344  24t      2018-09-10  2220   2.0  43700.0  1020.80
36421  344  24t      2018-09-10  2230   2.0  40600.0  1020.70
36422  344  24t      2018-09-10  2240   2.0  42400.0  1020.40
36423  344  24t      2018-09-10  2250   2.0  44200.0  1020.40
36424  344  24t      2018-09-10  2300   2.0  39000.0  1020.30
36425  344  24t      2018-09-10  2310   2.0  38700.0  1020.20
36426  344  24t      2018-09-10  2320   2.0  36900.0  1020.20
36427  344  24t      2018-09-10  2330   2.0  33000.0  1020.20
36428  344  24t      2018-09-10  2340   2.0  34200.0  1020.00
36429  344  24t      2018-09-10  2350   2.0  31400.0  1019.90
36430  344  24t      2018-09-10  2400   2.0  32500.0  1019.90

[36431 rows x 7 columns]

In [ ]:
"""
Create a datetime index
"""