files: keijzer_hhs_toa_*

stn= Rotterdam(344)
lcd= locatie 
datum= JJJJMMDD
tijd= in UT (1200 UT = 1300 MET = 1400 MEZT)
WW=Weercode automatisch station in code.
VV=Horizontaal zicht (10 min. gemiddeld) in meters.
P=Luchtdruk op NAP (MSL)  (1 min. gem.) in hPa.
Indien een gegeven ontbreekt dan spaties op de betreffende posities.
  stn,lcd     ,datum   ,tijd,    WW,    VV,P 
  344,24t     ,20150101,  10,    10,  4150,1034.0
  344,24t     ,20150101,  20,    10,  3650,1033.9
  344,24t     ,20150101,  30,    10,  3151,1034.3
  344,24t     ,20150101,  40,    10,  5830,1034.1

files: keijzer_hhs_toc_*

stn= Rotterdam(344)
lcd= locatie 
datum= JJJJMMDD
tijd= in UT (1200 UT = 1300 MET = 1400 MEZT)
N=Totale bedekkingsgraad bewolking in okta.
Indien een gegeven ontbreekt dan spaties op de betreffende posities.
  stn,lcd     ,datum   ,tijd,     N
  344,24t     ,20150101,  10,     0
  344,24t     ,20150101,  20,     0
  344,24t     ,20150101,  30,     0
  344,24t     ,20150101,  40,     0

files: keijzer_hhs_tor_*

stn= Rotterdam(344)
lcd= locatie 
datum= JJJJMMDD
tijd= in UT (1200 UT = 1300 MET = 1400 MEZT)
RG=Neerslag intensiteit  Regenmeter (10 min. gem.) in mm/uur.(delen door 6)
DR=Neerslagduur PWS (10 min. som) in seconden.(delen door 600)
Indien een gegeven ontbreekt dan spaties op de betreffende posities.
  stn,lcd     ,datum   ,tijd,    RG,    DR 
  344,24t     ,20150101,  10,     0,     0
  344,24t     ,20150101,  20,     0,     0
  344,24t     ,20150101,  30,     0,     0
  344,24t     ,20150101,  40,     0,     0

files: keijzer_hhs_tos_*

stn= Rotterdam(344)
lcd= locatie 
datum= JJJJMMDD
tijd= in UT (1200 UT = 1300 MET = 1400 MEZT)
Q=Globale straling 10 min. gemiddeld in W/m2.
SQ=Zonneschijnduur in minuten.
Indien een gegeven ontbreekt dan spaties op de betreffende posities.
  stn,lcd     ,datum   ,tijd,     Q,    SQ 
  344,24t     ,20150101,  10,     0,     0
  344,24t     ,20150101,  20,     0,     0
  344,24t     ,20150101,  30,     0,     0
  344,24t     ,20150101,  40,     0,     0

files: keijzer_hhs_tot_*

stn= Rotterdam(344)
lcd= locatie 
datum= JJJJMMDD
tijd= in UT (1200 UT = 1300 MET = 1400 MEZT)
T10=Minimum Gras temperatuur 10 cm (over 10 min) in graden Celsius.
TD=Dauwpunts temperatuur (1 min. gem) in graden Celsius.
T=Temperatuur 1 min gemiddeld (1,5 m hoogte) in graden Celsius.
U=Relatieve vochtigheid 1,5 m  1min. gemiddeld in procenten.
Indien een gegeven ontbreekt dan spaties op de betreffende posities.
  stn,lcd     ,datum   ,tijd,   T10,    TD,     T,     U 
  344,24t     ,20150101,  10,   2.2,   1.3,   3.5,    85
  344,24t     ,20150101,  20,   2.3,     1,   3.2,    85
  344,24t     ,20150101,  30,   2.1,    .9,   3.1,    85
  344,24t     ,20150101,  40,   2.1,     1,   3.4,    84


files: keijzer_hhs_tow_*

stn= Rotterdam(344)
lcd= locatie 
datum= JJJJMMDD
tijd= in UT (1200 UT = 1300 MET = 1400 MEZT)
DD=Gemiddelde windrichting in graden.
FF=Gemiddelde windsnelheid (op 10 m) in m/s.
FX=Maximum windstoot (op 10 m.) in m/s.
Indien een gegeven ontbreekt dan spaties op de betreffende posities.
  stn,lcd     ,datum   ,tijd,    DD,    FF,    FX
  344,24t     ,20150101,  10, 209.8,  5.36,  7.52
  344,24t     ,20150101,  20, 200.7,  4.97,   6.9
  344,24t     ,20150101,  30,   209,  4.84,  6.84
  344,24t     ,20150101,  40, 212.9,  5.03,   6.7

In [1]:
import glob
import pandas as pd

dir = '//datc//opschaler//weather_data//knmi_10_min_raw_data//'
pattern = 'keijzer_hhs_****.LST'

files = glob.glob(dir+pattern) # Get a list of all the files

In [2]:
files

['//datc//opschaler//weather_data//knmi_10_min_raw_data/keijzer_hhs_tot_2017.LST',
 '//datc//opschaler//weather_data//knmi_10_min_raw_data/keijzer_hhs_toa_2018.LST',
 '//datc//opschaler//weather_data//knmi_10_min_raw_data/keijzer_hhs_tow_2016.LST',
 '//datc//opschaler//weather_data//knmi_10_min_raw_data/keijzer_hhs_tot_2016.LST',
 '//datc//opschaler//weather_data//knmi_10_min_raw_data/keijzer_hhs_tor_2015.LST',
 '//datc//opschaler//weather_data//knmi_10_min_raw_data/keijzer_hhs_tot_2015.LST',
 '//datc//opschaler//weather_data//knmi_10_min_raw_data/keijzer_hhs_toc_2017.LST',
 '//datc//opschaler//weather_data//knmi_10_min_raw_data/keijzer_hhs_toc_2018.LST',
 '//datc//opschaler//weather_data//knmi_10_min_raw_data/keijzer_hhs_tor_2018.LST',
 '//datc//opschaler//weather_data//knmi_10_min_raw_data/keijzer_hhs_toc_2016.LST',
 '//datc//opschaler//weather_data//knmi_10_min_raw_data/keijzer_hhs_tor_2016.LST',
 '//datc//opschaler//weather_data//knmi_10_min_raw_data/keijzer_hhs_toa_2016.LST',
 '//datc//opschaler//weather_data//knmi_10_min_raw_data/keijzer_hhs_tor_2017.LST',
 '//datc//opschaler//weather_data//knmi_10_min_raw_data/keijzer_hhs_tow_2017.LST',
 '//datc//opschaler//weather_data//knmi_10_min_raw_data/keijzer_hhs_tos_2017.LST',
 '//datc//opschaler//weather_data//knmi_10_min_raw_data/keijzer_hhs_toa_2015.LST',
 '//datc//opschaler//weather_data//knmi_10_min_raw_data/keijzer_hhs_tos_2016.LST',
 '//datc//opschaler//weather_data//knmi_10_min_raw_data/keijzer_hhs_tow_2018.LST',
 '//datc//opschaler//weather_data//knmi_10_min_raw_data/keijzer_hhs_tow_2015.LST',
 '//datc//opschaler//weather_data//knmi_10_min_raw_data/keijzer_hhs_toc_2015.LST',
 '//datc//opschaler//weather_data//knmi_10_min_raw_data/keijzer_hhs_tot_2018.LST',
 '//datc//opschaler//weather_data//knmi_10_min_raw_data/keijzer_hhs_tos_2015.LST',
 '//datc//opschaler//weather_data//knmi_10_min_raw_data/keijzer_hhs_tos_2018.LST',
 '//datc//opschaler//weather_data//knmi_10_min_raw_data/keijzer_hhs_toa_2017.LST']

In [3]:
# Get the file labels (tot, toa, tor, tow)

file_labels = []

for file in files:
    file_labels.append([file[-12:-9],file[-8:-4]])

file_labels

[['tot', '2017'],
 ['toa', '2018'],
 ['tow', '2016'],
 ['tot', '2016'],
 ['tor', '2015'],
 ['tot', '2015'],
 ['toc', '2017'],
 ['toc', '2018'],
 ['tor', '2018'],
 ['toc', '2016'],
 ['tor', '2016'],
 ['toa', '2016'],
 ['tor', '2017'],
 ['tow', '2017'],
 ['tos', '2017'],
 ['toa', '2015'],
 ['tos', '2016'],
 ['tow', '2018'],
 ['tow', '2015'],
 ['toc', '2015'],
 ['tot', '2018'],
 ['tos', '2015'],
 ['tos', '2018'],
 ['toa', '2017']]

In [4]:
file_labels[1][0]

'toa'

In [5]:
toa_names = ['stn', 'lcd', 'datum', 'tijd', 'WW', 'VV', 'P']
toc_names = ['stn', 'lcd', 'datum', 'tijd', 'N']
tor_names = ['stn', 'lcd', 'datum', 'tijd', 'RG', 'DR']
tos_names = ['stn', 'lcd', 'datum', 'tijd', 'Q', 'SQ']
tot_names = ['stn', 'lcd', 'datum', 'tijd', 'T10', 'TD', 'T', 'U']
tow_names = ['stn', 'lcd', 'datum', 'tijd', 'DD', 'FF', 'FX']

dfs = []

for i,file in enumerate(files):
    if file_labels[i][0] == 'toa':
        column_names = toa_names
    elif file_labels[i][0] == 'toc':
        column_names = toc_names
    elif file_labels[i][0] == 'tor':
        column_names = tor_names
    elif file_labels[i][0] == 'tos':
        column_names = tos_names
    elif file_labels[i][0] == 'tot':
        column_names = tot_names
    elif file_labels[i][0] == 'tow':
        column_names = tow_names
    else:
        print('Filelabel not known.')
        print('i = %s , file_labels = %s' %(i, file_labels[i]))
        
    df = pd.read_csv(file, header=0, names=column_names, parse_dates=['datum', 'tijd'])
    dfs.append(df)

In [6]:
dfs[0].head()

   stn       lcd      datum  tijd  T10   TD    T     U
0  344  24t      2017-01-01    20  1.8  1.6  1.8  99.0
1  344  24t      2017-01-01    30  1.8  1.9  2.0  99.0
2  344  24t      2017-01-01    40  1.9  2.0  2.1  99.0
3  344  24t      2017-01-01    50  2.0  1.9  2.0  98.0
4  344  24t      2017-01-01   100  1.9  1.9  2.0  98.0

In [7]:
# Get the 'tijd' column ready for datetime formatting
# It's not a nice way, but it works.
import datetime as dt

i = 0

for i,df in enumerate(dfs):
    df.tijd = df.tijd.str.replace(' ', '0') # change '  10' to '0010'
    df.tijd = df.tijd.apply(lambda x: (x[:2]+':'+x[2:])+':00') # change '0010' to '00:10:00'
    df.tijd = df.tijd.str.replace('24:00:00', '23:59:59')

    # tijd & datum need to be str in order to combine them
    df.tijd = pd.to_datetime(df.tijd, format='%H:%M:%S').dt.time.astype('str') 
    df.datum = df.datum.dt.strftime('%Y-%m-%d').astype('str')

    df['datetime'] = df.datum+' '+df.tijd
    df.datetime = pd.to_datetime(df.datetime, format='%Y-%m-%d %H:%M:%S')

    # Delete the no longer needed frames
    del df['datum'], df['tijd'], df['stn']

    # Set datetime as index
    df = df.set_index(['datetime'])
    
    # Resample to be able to merge
    df = df.resample('10min').mean()

    # Update the df in the dfs list
    dfs[i] = df

In [8]:
dfs[23].head()

                       WW      VV       P
datetime
2017-01-01 00:20:00  80.0   550.0  1024.0
2017-01-01 00:30:00  32.0   796.0  1023.9
2017-01-01 00:40:00  32.0  1114.0  1023.7
2017-01-01 00:50:00  32.0  1361.0  1023.7
2017-01-01 01:00:00  32.0  1469.0  1023.4

In [16]:
"""
Need to merge the frames of the same year, then concat those together.
Ideal would be to use:

from functools import reduce
t = reduce(lambda left,right: pd.merge(left, right, how='outer', left_index=True, right_index=True),dfs)

But this messes things up, so lets do it manually.
"""
from functools import reduce

dfs_2015 = []
dfs_2016 = []
dfs_2017 = []
dfs_2018 = []

# Create lists of the dfs per year
for i,file in enumerate(files):
    if file_labels[i][1] == '2015':
        dfs_2015.append(dfs[i])
    elif file_labels[i][1] == '2016':
        dfs_2016.append(dfs[i])
    elif file_labels[i][1] == '2017':
        dfs_2017.append(dfs[i])
    elif file_labels[i][1] == '2018':
        dfs_2018.append(dfs[i])
    else:
        print('Filelabel not known.')
        print('i = %s , file_labels = %s' %(i, file_labels[i]))

df_2015 = reduce(lambda left,right: pd.merge(left, right, how='outer', left_index=True, right_index=True),dfs_2015)
df_2016 = reduce(lambda left,right: pd.merge(left, right, how='outer', left_index=True, right_index=True),dfs_2016)
df_2017 = reduce(lambda left,right: pd.merge(left, right, how='outer', left_index=True, right_index=True),dfs_2017)
df_2018 = reduce(lambda left,right: pd.merge(left, right, how='outer', left_index=True, right_index=True),dfs_2018)

In [24]:
"""
df_year now is the complete df of that year.
Finally concat them together into one large df.
"""
df_final = pd.concat([df_2015, df_2016, df_2017, df_2018])
df_final.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 194248 entries, 2015-01-01 00:20:00 to 2018-09-10 23:50:00
Data columns (total 15 columns):
DD     173429 non-null float64
DR     192783 non-null float64
FF     173429 non-null float64
FX     173429 non-null float64
N      192612 non-null float64
P      192842 non-null float64
Q      192810 non-null float64
RG     192843 non-null float64
SQ     192825 non-null float64
T      192828 non-null float64
T10    192811 non-null float64
TD     192827 non-null float64
U      192827 non-null float64
VV     192696 non-null float64
WW     192770 non-null float64
dtypes: float64(15)
memory usage: 23.7 MB

In [27]:
# Finally, save the dataframe
df_final.to_csv('//datc//opschaler//weather_data//knmi_10_min_raw_data//output//df_final_uncleaned.csv', sep='\t', index=True)