In [1]:
import pandas as pd 
import glob

In [2]:
weather=pd.read_csv('//datc//opschaler//weather_data//weather.csv',delimiter='\t',comment='#',parse_dates=['datetime'])
weather=weather.set_index(['datetime'])
weather.head()

,DD,DR,FF,FX,N,P,Q,RG,SQ,T,T10,TD,U,VV,WW
datetime,,,,,,,,,,,,,,,
2015-01-01 00:20:00,200.700000,0.0,4.970000,6.900,0.0,1033.900000,0.0,0.0,0.0,3.200000,2.300000,1.000000,85.0,3650.000000,10.0
2015-01-01 00:20:10,200.838333,0.0,4.967833,6.899,0.0,1033.906667,0.0,0.0,0.0,3.198333,2.296667,0.998333,85.0,3641.683333,10.0
2015-01-01 00:20:20,200.976667,0.0,4.965667,6.898,0.0,1033.913333,0.0,0.0,0.0,3.196667,2.293333,0.996667,85.0,3633.366667,10.0
2015-01-01 00:20:30,201.115000,0.0,4.963500,6.897,0.0,1033.920000,0.0,0.0,0.0,3.195000,2.290000,0.995000,85.0,3625.050000,10.0
2015-01-01 00:20:40,201.253333,0.0,4.961333,6.896,0.0,1033.926667,0.0,0.0,0.0,3.193333,2.286667,0.993333,85.0,3616.733333,10.0

In [3]:
#READING ALL EXCELS
path='/datc/opschaler/smartmeter_data'
filenames = glob.glob(path + "/*.csv")

In [17]:
dfs_smart=[]
dfs_gas=[]

for f in filenames:
    df = pd.read_csv(f,delimiter=';', parse_dates=['Timestamp','gasTimestamp'],header=0)
    
    df=df.rename(index=str,columns={"Timestamp":"datetime"})
    df=df.rename(index=str,columns={"gasTimestamp":"datetime"})
    
    smart=df.iloc[:,:7]
    gas=df.iloc[:,7:]
    
    smart=smart.set_index(['datetime'])
    gas=gas.set_index(['datetime'])
    
    dfs_smart.append(smart)
    dfs_gas.append(gas)

In [37]:
dfs_smart[0]

,eMeter,eMeterReturn,eMeterLow,eMeterLowReturn,ePower,ePowerReturn
datetime,,,,,,
2017-03-07 07:35:16,2402.278,0.0,1872.316,0.0,2576.0,0.0
2017-03-07 07:35:26,2402.285,0.0,1872.316,0.0,2580.0,0.0
2017-03-07 07:35:36,2402.292,0.0,1872.316,0.0,1167.0,0.0
2017-03-07 07:35:46,2402.293,0.0,1872.316,0.0,542.0,0.0
2017-03-07 07:35:56,2402.295,0.0,1872.316,0.0,638.0,0.0
2017-03-07 07:36:06,2402.297,0.0,1872.316,0.0,651.0,0.0
2017-03-07 07:36:16,2402.298,0.0,1872.316,0.0,612.0,0.0
2017-03-07 07:36:26,2402.300,0.0,1872.316,0.0,545.0,0.0
2017-03-07 07:36:56,2402.305,0.0,1872.316,0.0,678.0,0.0
2017-03-07 07:37:06,2402.307,0.0,1872.316,0.0,729.0,0.0
2017-03-07 07:37:35,2402.313,0.0,1872.316,0.0,612.0,0.0
2017-03-07 07:37:53,2402.316,0.0,1872.316,0.0,618.0,0.0
2017-03-07 07:38:10,2402.318,0.0,1872.316,0.0,639.0,0.0
2017-03-07 07:38:26,2402.322,0.0,1872.316,0.0,674.0,0.0
2017-03-07 07:38:36,2402.323,0.0,1872.316,0.0,617.0,0.0
2017-03-07 07:38:46,2402.325,0.0,1872.316,0.0,614.0,0.0
2017-03-07 07:38:56,2402.327,0.0,1872.316,0.0,618.0,0.0
2017-03-07 07:39:06,2402.329,0.0,1872.316,0.0,617.0,0.0
2017-03-07 07:39:16,2402.330,0.0,1872.316,0.0,615.0,0.0
2017-03-07 07:39:26,2402.332,0.0,1872.316,0.0,616.0,0.0
2017-03-07 07:39:36,2402.334,0.0,1872.316,0.0,618.0,0.0
2017-03-07 07:39:46,2402.335,0.0,1872.316,0.0,618.0,0.0
2017-03-07 07:39:56,2402.337,0.0,1872.316,0.0,708.0,0.0
2017-03-07 07:40:06,2402.340,0.0,1872.316,0.0,713.0,0.0
2017-03-07 07:40:16,2402.341,0.0,1872.316,0.0,685.0,0.0
2017-03-07 07:40:26,2402.343,0.0,1872.316,0.0,648.0,0.0
2017-03-07 07:40:36,2402.345,0.0,1872.316,0.0,619.0,0.0
2017-03-07 07:40:46,2402.346,0.0,1872.316,0.0,614.0,0.0
2017-03-07 07:40:56,2402.348,0.0,1872.316,0.0,613.0,0.0
2017-03-07 07:41:06,2402.351,0.0,1872.316,0.0,669.0,0.0
...,...,...,...,...,...,...
2017-03-30 21:53:53,2580.969,0.0,1992.668,0.0,1021.0,0.0
2017-03-30 21:54:03,2580.972,0.0,1992.668,0.0,1027.0,0.0
2017-03-30 21:54:13,2580.974,0.0,1992.668,0.0,1025.0,0.0
2017-03-30 21:54:23,2580.977,0.0,1992.668,0.0,1012.0,0.0
2017-03-30 21:54:33,2580.980,0.0,1992.668,0.0,1012.0,0.0
2017-03-30 21:54:43,2580.983,0.0,1992.668,0.0,1021.0,0.0
2017-03-30 21:54:53,2580.986,0.0,1992.668,0.0,946.0,0.0
2017-03-30 21:55:03,2580.988,0.0,1992.668,0.0,944.0,0.0
2017-03-30 21:55:13,2580.991,0.0,1992.668,0.0,941.0,0.0
2017-03-30 21:58:12,2581.038,0.0,1992.668,0.0,882.0,0.0
2017-03-30 21:58:22,2581.040,0.0,1992.668,0.0,877.0,0.0
2017-03-30 21:58:32,2581.043,0.0,1992.668,0.0,884.0,0.0
2017-03-30 21:58:42,2581.045,0.0,1992.668,0.0,884.0,0.0
2017-03-30 21:58:52,2581.049,0.0,1992.668,0.0,881.0,0.0
2017-03-30 21:59:02,2581.050,0.0,1992.668,0.0,883.0,0.0
2017-03-30 21:59:12,2581.053,0.0,1992.668,0.0,883.0,0.0
2017-03-30 21:59:22,2581.055,0.0,1992.668,0.0,880.0,0.0
2017-03-30 21:59:32,2581.057,0.0,1992.668,0.0,878.0,0.0
2017-03-30 21:59:42,2581.060,0.0,1992.668,0.0,879.0,0.0
2017-03-30 21:59:52,2581.062,0.0,1992.668,0.0,887.0,0.0
2017-03-30 22:00:02,2581.065,0.0,1992.668,0.0,893.0,0.0
2017-03-30 22:00:18,2581.070,0.0,1992.668,0.0,893.0,0.0
2017-03-30 22:00:28,2581.072,0.0,1992.668,0.0,908.0,0.0
2017-03-30 22:01:28,2581.086,0.0,1992.668,0.0,733.0,0.0
2017-03-30 22:01:38,2581.088,0.0,1992.668,0.0,731.0,0.0
2017-03-30 22:01:48,2581.090,0.0,1992.668,0.0,735.0,0.0
2017-03-30 22:01:58,2581.093,0.0,1992.668,0.0,733.0,0.0
2017-03-30 22:02:08,2581.095,0.0,1992.668,0.0,733.0,0.0
2017-03-30 22:02:18,2581.097,0.0,1992.668,0.0,731.0,0.0
2017-03-30 22:04:22,2581.121,0.0,1992.668,0.0,731.0,0.0

In [36]:
"""
NaN is a missing row()
"""

t = dfs_smart[0].resample('10s').mean()
t

,eMeter,eMeterReturn,eMeterLow,eMeterLowReturn,ePower,ePowerReturn
datetime,,,,,,
2017-03-07 07:35:10,2402.278,0.0,1872.316,0.0,2576.0,0.0
2017-03-07 07:35:20,2402.285,0.0,1872.316,0.0,2580.0,0.0
2017-03-07 07:35:30,2402.292,0.0,1872.316,0.0,1167.0,0.0
2017-03-07 07:35:40,2402.293,0.0,1872.316,0.0,542.0,0.0
2017-03-07 07:35:50,2402.295,0.0,1872.316,0.0,638.0,0.0
2017-03-07 07:36:00,2402.297,0.0,1872.316,0.0,651.0,0.0
2017-03-07 07:36:10,2402.298,0.0,1872.316,0.0,612.0,0.0
2017-03-07 07:36:20,2402.300,0.0,1872.316,0.0,545.0,0.0
2017-03-07 07:36:30,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-07 07:36:40,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-07 07:36:50,2402.305,0.0,1872.316,0.0,678.0,0.0
2017-03-07 07:37:00,2402.307,0.0,1872.316,0.0,729.0,0.0
2017-03-07 07:37:10,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-07 07:37:20,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-07 07:37:30,2402.313,0.0,1872.316,0.0,612.0,0.0
2017-03-07 07:37:40,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-07 07:37:50,2402.316,0.0,1872.316,0.0,618.0,0.0
2017-03-07 07:38:00,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-07 07:38:10,2402.318,0.0,1872.316,0.0,639.0,0.0
2017-03-07 07:38:20,2402.322,0.0,1872.316,0.0,674.0,0.0
2017-03-07 07:38:30,2402.323,0.0,1872.316,0.0,617.0,0.0
2017-03-07 07:38:40,2402.325,0.0,1872.316,0.0,614.0,0.0
2017-03-07 07:38:50,2402.327,0.0,1872.316,0.0,618.0,0.0
2017-03-07 07:39:00,2402.329,0.0,1872.316,0.0,617.0,0.0
2017-03-07 07:39:10,2402.330,0.0,1872.316,0.0,615.0,0.0
2017-03-07 07:39:20,2402.332,0.0,1872.316,0.0,616.0,0.0
2017-03-07 07:39:30,2402.334,0.0,1872.316,0.0,618.0,0.0
2017-03-07 07:39:40,2402.335,0.0,1872.316,0.0,618.0,0.0
2017-03-07 07:39:50,2402.337,0.0,1872.316,0.0,708.0,0.0
2017-03-07 07:40:00,2402.340,0.0,1872.316,0.0,713.0,0.0
...,...,...,...,...,...,...
2017-03-30 21:59:30,2581.057,0.0,1992.668,0.0,878.0,0.0
2017-03-30 21:59:40,2581.060,0.0,1992.668,0.0,879.0,0.0
2017-03-30 21:59:50,2581.062,0.0,1992.668,0.0,887.0,0.0
2017-03-30 22:00:00,2581.065,0.0,1992.668,0.0,893.0,0.0
2017-03-30 22:00:10,2581.070,0.0,1992.668,0.0,893.0,0.0
2017-03-30 22:00:20,2581.072,0.0,1992.668,0.0,908.0,0.0
2017-03-30 22:00:30,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-30 22:00:40,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-30 22:00:50,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-30 22:01:00,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-30 22:01:10,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-30 22:01:20,2581.086,0.0,1992.668,0.0,733.0,0.0
2017-03-30 22:01:30,2581.088,0.0,1992.668,0.0,731.0,0.0
2017-03-30 22:01:40,2581.090,0.0,1992.668,0.0,735.0,0.0
2017-03-30 22:01:50,2581.093,0.0,1992.668,0.0,733.0,0.0
2017-03-30 22:02:00,2581.095,0.0,1992.668,0.0,733.0,0.0
2017-03-30 22:02:10,2581.097,0.0,1992.668,0.0,731.0,0.0
2017-03-30 22:02:20,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-30 22:02:30,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-30 22:02:40,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-30 22:02:50,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-30 22:03:00,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-30 22:03:10,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-30 22:03:20,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-30 22:03:30,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-30 22:03:40,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-30 22:03:50,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-30 22:04:00,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-30 22:04:10,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-30 22:04:20,2581.121,0.0,1992.668,0.0,731.0,0.0

In [16]:
dfs_smart_resample=[]

for f in dfs_smart:
    f = pd.to_datetime(f.index)
    f=f.resample('10s').mean()
    dfs_smart_resample.append(f)

AttributeError: 'DatetimeIndex' object has no attribute 'resample'

In [ ]:
weather.head()