In [64]:
import pandas as pd
import numpy as np
import tensorflow as tf

pos = pd.read_fwf("/home/16021665/notebooks/KB-74-OPSCHALER/Personal_folders/Daan/Workshop/positief.txt", header=None)
pos['label'] = 'positive'
neg = pd.read_fwf("/home/16021665/notebooks/KB-74-OPSCHALER/Personal_folders/Daan/Workshop/negatief.txt", header=None)
neg = neg.drop([1], axis=1)
neg['label'] = 'negative'

In [58]:
neg.head()

                                                   0     label
0                   simplistic , silly and tedious .  negative
1  it's so laddish and juvenile , only teenage bo...  negative
2  exploitative and largely devoid of the depth o...  negative
3  [garbus] discards the potential for pathologic...  negative
4  a visually flashy but narratively opaque and e...  negative

In [57]:
pos.head()

                                                   0     label
0  the rock is destined to be the 21st century's ...  positive
1  the gorgeously elaborate continuation of " the...  positive
2                     effective but too-tepid biopic  positive
3  if you sometimes like to go to the movies to h...  positive
4  emerges as something rare , an issue movie tha...  positive

In [62]:
frames = [pos, neg]
df = pd.concat(frames)
df = df.sample(frac=1)
df.head()

                                                      0     label
747   the perfect film for those who like sick comed...  positive
1137  the acting , costumes , music , cinematography...  positive
2767                          a slight but sweet film .  positive
2963  the film is surprisingly well-directed by bret...  negative
617   it's the cinematic equivalent of a good page-t...  positive

In [65]:
number_of_classes = 26 + 1 + 1 + 1
max_length = 255

in_tensor = tf.placeholder(tf.float,share=[batchsize,max_length,number_of_classes])

AttributeError: module 'tensorflow' has no attribute 'float'